.checkbox{
    margin-top: 8px;
    margin-bottom: 8px;

    input{
        display: none;
    }
    .label{
        color: #000;
        font-size: 12px;
        text-transform: uppercase;

        span.number{
            padding-right: 30px;
        }
    }

    .label:before {
        display: inline-block;
        width: 23px;
        height: 23px;
        border: 2px solid #dedede;
        background: #fff;
        content: "";
        border-radius: 4px;
        font-size: 14px;
        padding-left: 1px;
        vertical-align: top;
        padding-top: 1px;
        line-height: 14px;
        margin-right: 35px;
        cursor: pointer;
        margin-top: -1px;
    }
    .inline-container{
        display: inline-block;
        width: calc(100% - 100px);

    }
    .col-number{
        flex: 0 0 40px;
        max-width: 40px;
    }
    .col-text{
        flex: 0 0 calc(100% - 40px);
        max-width: calc(100% - 40px);
    }
}
.checkbox--text-light{
    .label{
        text-transform: none;
        font-size: 16px;
        font-weight: 300;
    }
    .label:before {
        margin-right: 10px;
        margin-top: 1px;
    }
}
.checkbox.checked .label:before {
    background-image: url("../img/svg/check.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.checkbox.checkbox--white{
    .label{
        color: #fff;
        font-size: 17px;
        font-weight: 300;
        text-transform: none;
    }
    .label:before {
        border: 1px solid #fff;
        background-color: transparent;
        margin-top: 1px;
        margin-right: 15px;
    }
}
.checkbox.checkbox--white.checked .label:before {
    background-image: url("../img/svg/check-white.svg");
}

@media (max-width: 600px){
    .checkbox{
        .label:before{
            margin-right: 15px;
        }
        .col-number {
            flex: 0 0 30px;
            max-width: 30px;
        }
        .col-text {
            flex: 0 0 calc(100% - 30px);
            max-width: calc(100% - 30px);
        }
        .inline-container {
            display: inline-block;
            width: calc(100% - 65px);
        }
    }
}