.custom-form-control{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

    .selectbox-label, .checkbox-label{
        position: relative;
        background-color: #fff;
        padding: 12px 60px 12px 20px;
        font-size: 20px;
        color: #145070;
        border-radius: 12px;
        cursor: pointer;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        transition: all 0.2s;
        border: 2px solid transparent;
    }

    .selectbox-label::after, .checkbox-label::after{
        position: absolute;
        content: "";
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.custom-form-control:hover{
    .selectbox-label, .checkbox-label{
        color: $color-curious-blue;
        border: 2px solid $color-curious-blue;
    }
}