.selectbox--datepicker{
    input{
        width: 100%;
        border: none;
        text-align: center;
    }
}
.datepicker{
    padding: 15px;
    border-radius: 12px;

    .datepicker-days table{
        .datepicker-switch{
            font-weight: 300;
        }

        .dow{
            font-weight: 300;
            text-transform: uppercase;
            font-size: 14px;
        }
        tr{
            td.day {
                position: relative;
                padding: 6px 10px;
                font-weight: 300;
            }
            td.day::after {
                position: absolute;
                content: "";
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                border: 1px solid transparent;
                border-radius: 500px;
                transition: all 0.2s;
            }

            td.day.highlighted {
                background-color: transparent;
                color: $color-curious-blue;
            }

            td.day.active, td.day.active:hover {
                border-radius: 500px;
                background-color: $color-curious-blue;
                text-shadow: none;
            }
            td.day.active:hover::after{
                display: none;
            }
            td.day:hover{
                background-color: transparent;
            }
            td.day:hover::after {
                background-color: transparent;
                border: 1px solid $color-curious-blue;
            }
        }
    }
}
.datepicker::before, .datepicker::after{
    display: none;
}