.form-label{
    margin-bottom: 15px;
}

.form-label--required{
    .col-text{
        flex: 0 0 calc(100% - 22px);
        max-width: calc(100% - 22px);
        padding-right: 15px;
    }
    .col-required{
        flex: 0 0 22px;
        max-width: 22px;
    }
    .col-required::after{
        display: block;
        content: "";
        margin-top: 5px;
        width: 12px;
        height: 12px;
        background-image: url("../img/svg/required-icon.svg");
        background-repeat: no-repeat;
    }
}