.input-call-to-action{
    position: relative;
}
.input-call-to-action::after{
    position: absolute;
    top: 22px;
    left: 65px;
    width: 1px;
    height: 30px;
    background-color: #000;
    content: "";
    animation-name: flashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*animation-delay: 4s;*/
    opacity: 0;
}
.stop-call-to-action.input-call-to-action::after{
    display: none;
}
@keyframes flashing {
    0%   {opacity: 0;}
    24%   {opacity: 0;}
    25%  {opacity: 1;}
    75%  {opacity: 1;}
    76%   {opacity: 0;}
    100% {opacity: 0;}
}

@media (max-width: 1199px){
    .input-call-to-action{

        input.form-control{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .input-call-to-action::after{
        left: 30px;
    }
}
@media (max-width: 390px){
    .input-call-to-action {
        input.form-control {
            font-size: 18px;
        }
    }
}