.input-icon{
    position: relative;

    input{
        padding-left: 55px;
    }
}
.input-icon::after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background-repeat: no-repeat;
}
.input-icon--user::after{
    width: 18px;
    height: 23px;
    background-image: url("../img/svg/user.svg");
}
.input-icon--password::after{
    width: 21px;
    height: 24px;
    background-image: url("../img/svg/locker-thicker.svg");
}

@media (max-width: 1199px) {
    .input-icon{
        input{
            padding-right: 15px;
        }
    }
}