.input-required{
    position: relative;

    .input-container{
        position: relative;
    }
    /*input{
        padding-right: 45px;
    }*/
    .error-message{
        font-size: 11px;
        text-transform: uppercase;
        color: #ff0000;
        margin-left: 10px;
        margin-bottom: 8px;
    }
}

.input-required.error-message{
    input{
        border: 2px solid #ff0000;
        margin-bottom: 5px;
    }
}
.input-required .input-container::after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-repeat: no-repeat;
}
.input-required.input-required--filled .input-container::after{
    display: none;
}
.input-required .input-container::after{
    width: 12px;
    height: 12px;
    background-image: url("../img/svg/required-icon.svg");
}
