.input-search{
    border: solid 2px #148ccb;
    transition: all 0.2s;
    background-color: transparent;
    width: 100%;
    font-size: 17px;
    font-weight: 300;
    padding: 13px 70px 12px 30px;
    border-radius: 12px;
    color: #fff;
}
.input-search::placeholder {
    color: #fff;
    opacity: 1;
}

.input-search:-ms-input-placeholder {
    color: #fff;
}

.input-search::-ms-input-placeholder {
    color: #fff;
}

.input-search:hover, .input-search:focus{
    border: solid 2px #fff;
}
.input-search-container{
    position: relative;
}
.input-search-container::after{
    position: absolute;
    content: "";
    top: 17px;
    right: 25px;
    width: 23px;
    height: 24px;
    background-image: url("../img/svg/search.svg");
    background-repeat: no-repeat;

}