input.custom-form-control{
    padding: 17px 30px 17px 30px;
    border-radius: 4px;
    border: solid 2px #dedede;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.2s;
}

input.custom-form-control:hover{
    border: solid 2px $color-curious-blue;
}

input.custom-form-control.input--gray{
    background-color: #eee;
    border: none;
}
input.custom-form-control.input--gray:hover{
    border: none;
}

@media (max-width: 500px){
    input.custom-form-control{
        padding: 17px 15px 17px 15px;
    }
}