.radio-button-container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    input:checked ~ .checkmark {
        border: 2px solid #eee;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark {
        position: absolute;
        top: 1px;
        left: 0;
        height: 23px;
        width: 23px;
        border: 2px solid #dedede;
        border-radius: 50%;
        transition: all 0.2s;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $color-curious-blue;
        transform: translateX(-50%) translateY(-50%);
    }
}

.radio-button-container:hover input ~ .checkmark {
    border: 2px solid #eee;
}