.selectbox{

    span.number{
        display: inline-block;
        color: $color-curious-blue;
        flex: 0 0 45px;
        max-width: 45px;
        padding-right: 15px;
    }
    span.text{
        flex: 0 0 calc(100% - 45px);
        max-width: calc(100% - 45px);
    }
    .selectbox-label{
        width: 100%;
    }
    .selectbox-label::after{
        top: 20px;
        right: 25px;
        width: 8px;
        height: 16px;
        background-image: url("../img/svg/arrow-blue.svg");
        transform: rotate(90deg);
    }
    ul{
        position: absolute;
        left: 0px;
        right: 0px;
        display: none;
        padding-left: 0px;
        list-style-type: none;
        margin-bottom: 0px;
        background-color: #fff;
        border-radius: 12px;
        padding: 12px 20px;
        border: 1px solid #ccc;
        z-index: 2;

        li{
            color: #145070;
            font-size: 20px;
            cursor: pointer;
        }
    }
}
.selectbox--blue-shadow{
    .selectbox-label{
        box-shadow: 0 3px 15px 0 rgba(41, 155, 215, 0.5);
    }
}

.selectbox--small{
    .selectbox-label{
        font-size: 18px;
        color: #000;
        min-height: 55px;
    }
    ul{
        li{
            color: #000;
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
.selectbox--text-center{
    .selectbox-label{
        text-align: center;
    }
    ul{
        li{
            text-align: center;
        }
    }
}