textarea{
    padding: 15px;
    border-radius: 4px;
    border: solid 2px #dedede;
    transition: all 0.2s;
    width: 100%;
    min-height: 250px;
    outline: none;
}
textarea + .char-count{
    margin-top: 5px;
    font-size: 11px;
    color: #a2a2a2;
    text-align: right;
}

textarea:hover{
    border: 2px solid $color-curious-blue;
}