a.arrow-link{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .icon-container{
        flex: 0 0 30px;
        max-width: 30px;
    }
    .label-container{
        position: relative;
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
    .title{
        font-size: 18px;
        font-weight: 600;
        transition: all 0.2s;
    }
    .subtitle{
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 17px;
        line-height: 1.29;
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.2s;
    }
}

a.arrow-link.no-hover:hover{
    .title{
        transform: translateY(0px);
    }
}

a.arrow-link:hover{
    .title{
        transform: translateY(-11px);
    }
    .subtitle{
        transform: translateY(18px);
        opacity: 1;
    }
}

@media (max-width: 450px){
    a.arrow-link{
        .title{
            height: 48px;
            margin-top: -10px;
        }
        .icon-container{
            flex: 0 0 20px;
            max-width: 20px;
        }
        .label-container{
            flex: 0 0 calc(100% - 20px);
            max-width: calc(100% - 20px);
        }
    }
}