.arrow-double-link{
    .arrow-right{
        display: inline-block;
    }
    .label{
        display: inline-block;
        vertical-align: top;
        transition: all 0.2s;
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }

    .arrow-right::before, .arrow-left::before, .arrow-right::after, .arrow-left::after{
        display: inline-block;
        width: 8px;
        height: 14px;
        content: "";
        background-image: url("../img/svg/arrow-blue.svg");
        background-repeat: no-repeat;
        transition: all 0.2s;
    }

    .arrow-left::before, .arrow-left::after{
        transform: rotate(180deg);
    }


}

.arrow-double-link:hover{

    .arrow-right::before{
        transform: translateX(4px);
    }
    .arrow-right::after{
        transform: translateX(7px);
    }
    .label{
        transform: translateX(7px);
    }
}