.arrow-double-hover{
    display: inline-block;
}
.arrow-double-hover.arrow-left{
    margin-right: 40px;
}
.arrow-double-hover.arrow-right{
    margin-left: 40px;
}
.arrow-double-hover::before, .arrow-double-hover::after{
    display: inline-block;
    width: 8px;
    height: 14px;
    content: "";
    background-image: url("http://grantexpert.test/assets/img/svg/arrow-blue.svg");
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.arrow-double-hover {
    &.arrow-left::before, &.arrow-left::after{
        transform: rotate(180deg);
    }
}

.arrow-double-hover:hover{
    &.arrow-left::before{
        transform: rotate(180deg) translateX(7px);
    }
    &.arrow-left::after{
        transform: rotate(180deg) translateX(4px);
    }

    &.arrow-right::before{
        transform: translateX(4px);
    }
    &.arrow-right::after{
        transform: translateX(7px);
    }
}