.button-line-container{
    padding: 15px;
    width: 265px;
    border-radius: 12px;
    box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
    background-color: #fff;
    border-top: 2px solid $color-sun;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    .button-tertiary{
        width: 100%;
        height: 60px;
        display: inline-block;
        padding: 5px 30px;
        text-align: center;
        margin-bottom: 15px;
    }
    > .button-tertiary:nth-last-of-type(1){
        margin-bottom: 0px;
    }

}

@media (max-width: 1199px){
    .button-line-container{
        width: 220px;
    }
}

@media (max-width: 991px){
    .button-line-container{
        width: auto;
        max-width: 340px;
    }
}

