ul.check-list{
    padding-left: 50px;
    padding-right: 15px;
    margin-top: 40px;
    list-style-type: none;

    li{
        position: relative;
        margin-bottom: 10px;
        text-align: left;
    }
    li:before{
        position: absolute;
        top: 5px;
        left: -35px;
        width: 18px;
        height: 13px;
        content: '';
        background-image: url('../img/svg/check.svg');
        background-size: 100%;
        display: inline-block;
    }
}

ul.check-list.small-padding{
    padding-left: 30px;
    padding-right: 0px;

    li:before{
        left: -35px;
    }
}
ul.check-list--black-check{
    li:before{
        background-image: url('../img/svg/check-black.svg');
    }
}

