
$progressbar-bg-color: $color-curious-blue;
$progressbar-default-size: 2.2em;

// -- mixins
@mixin progressbar-size($width, $height) {
    height: $height;
    width: $width;
}

@mixin progressbar-draw-progress($progress, $color) {
    .pie {
        .half-circle {
            border-color: $color;
        }

        .left-side {
            transform: rotate($progress * 3.6deg);
        }

        @if $progress <= 50 {
            .right-side {
                display: none;
            }
        } @else {
            clip: rect(auto, auto, auto, auto);

            .right-side {
                transform: rotate(180deg);
            }
        }
    }
}

@mixin progressbar-draw-progress--solid($progress, $color, $progressbar-bg-color) {
    background: linear-gradient(to right, $color 50%, $progressbar-bg-color 50%);

    &:before {
        @if $progress <= 50 {
            background: $progressbar-bg-color;
            transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
        } @else {
            background: $color;
            transform: rotate((100 - $progress) / 100 * 360deg);
        }
    }
}

.circle-progressbar{
    background-color: #fff;
    border-radius: 500px;
    width: 46px;
    height: 46px;

    .pie-wrapper {
        @include progressbar-size($progressbar-default-size, $progressbar-default-size);
        float: left;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        &:nth-child(3n + 1) {
            clear: both;
        }

        .pie {
            @include progressbar-size(100%, 100%);
            clip: rect(0, $progressbar-default-size, $progressbar-default-size, calc($progressbar-default-size / 2));
            left: 0;
            position: absolute;
            top: 0;

            .half-circle {
                @include progressbar-size(100%, 100%);
                border: 3px solid #3498db;
                border-radius: 50%;
                clip: rect(0, calc($progressbar-default-size / 2), $progressbar-default-size, 0);
                left: 0;
                position: absolute;
                top: 0;
            }
        }

        .pie-wrapper-shadow {
            @include progressbar-size(100%, 100%);
            border: 3px solid #dedede;
            border-radius: 50%;
        }

        &.style-2 {
            .label {
                background: none;
                color: #7f8c8d;

                .smaller {
                    color: #bdc3c7;
                }
            }
        }

        @for $i from 1 through 100 {

            &.progress-#{$i} {
                @include progressbar-draw-progress($i, $color-curious-blue);
            }
        }

    }
}




