.diagram-arrow{
    width: 14px;
    height: 28px;
    background: url("../img/svg/diagram-arrow.svg") no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.diagram-arrow--no{
    transform: translateX(-90px);
}
.diagram-arrow--yes{
    transform: translateX(90px);
}
.diagram-arrow--hidden{
    display: none;
}