button:focus, a:focus, input:focus{
    outline: none;
}
.form-control:focus{
    box-shadow: none;
}

input.form-control{
    /*border: 1px solid $color-curious-blue;
    border-radius: 500px;*/
    border: 0px;
    font-size: 20px;
    padding: 22px 65px;
    font-weight: 300;
    transition: all 0.2s;
}
.input-animation{
    position: relative;
    max-width: 460px;

    input.form-control, input.form-control:focus{
        position: relative;
        z-index: 10;
        background: transparent;
    }
}
.input-animation::after{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    border-radius: 500px;
    border: 1px solid $color-curious-blue;
    transition: all 0.2s;
    z-index: 1;
}
.input-animation:hover::after{
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}
.input-animation.focused::after{
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

input.form-control:hover{
    /*padding: 32px 75px;
    transform: translateX(-10px) translateY(-10px);
    width: 520px;*/
}

input.form-control::placeholder {
    color: #a2a2a2;
    opacity: 1;
}

input.form-control:-ms-input-placeholder {
    color: #a2a2a2;
}

input.form-control::-ms-input-placeholder {
    color: #a2a2a2;
}

.input-with-icon{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .input-call-to-action{
        flex: 0 0 calc(100% - 100px);
        width: calc(100% - 100px);
        max-width: calc(100% - 100px);
    }
    input{
        padding-right: 0px;
    }
    .icon-container{
        flex: 0 0 100px;
        max-width: 100px;

        .icon{
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}