.grant-resources-list.roll-down-list{
    .roll-down-item{
        background-color: transparent;
        border-left: none;
        border-right: none;

        .roll-down-item-container{
            border-left: none;
            border-right: none;
        }
        .label{
            /*height: 89.5px;*/
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 20px;
        }
        .label::after{
            right: 30px;
        }
        .col-info{
            flex: 0 0 27px;
            max-width: 27px;
        }

        h2{
            flex: 0 0 calc(100% - 27px);
            max-width: calc(100% - 27px);
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 400;
            padding-left: 50px;
            font-size: 18px;
            padding-top: 3px;
            transition: all 0.2s;
        }
        .content{
            padding-left: 0px;
            padding-right: 0px;

            a{
                display: block;
                margin-top: 15px;
            }

            > a:nth-of-type(1){
                margin-top: 0px;
            }
        }
    }
    .roll-down-item:hover{
        border-left: none;
        border-right: none;

        .roll-down-item-container{
            border-left: none;
            border-right: none;
        }

        h2{
            padding-top: 0px;
            font-weight: 600;
            font-size: 24px;
        }
    }
    .roll-down-item.opened:hover{
        border-bottom: 1px solid #DEDEDE;

        .roll-down-item-container{
            border-bottom: none;
        }
    }
    .roll-down-item.opened{
        h2{
            padding-top: 0px;
            font-weight: 600;
            font-size: 24px;
        }
    }
}


@media (max-width: 991px){
    .grant-resources-list.roll-down-list {
        .roll-down-item{
            .label {
                height: auto;
            }
        }
        .roll-down-item:hover{
            border-top: 1px solid #DEDEDE;
            border-bottom: 1px solid #DEDEDE;

            .roll-down-item-container{
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }

            h2{
                padding-top: 3px;
                font-weight: 400;
                font-size: 18px;
            }
        }
        .roll-down-item.opened{
            h2{
                padding-top: 3px;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 767px) {
    .grant-resources-list.roll-down-list {
        .roll-down-item {
            .label{
                padding: 25px 30px 25px 0px
            }
            .label::after {
                right: 0px;
            }
            h2{
                padding-left: 25px;
            }
        }
    }
}