.modal{

    .modal-dialog{
        max-width: 950px;
    }
    .modal-content{
        padding: 30px;
        border-radius: 4px;
        box-shadow: 0 0 42px 0 #299bd7;
        border: solid 1px #f6f8fb;
    }
    .content-container{
        padding: 30px 65px 30px 65px;
        border-radius: 4px;
        box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
        border: solid 1px #eee;
        background-color: #fff;
    }
    .btn-close{
        position: absolute;
        top: 0px;
        right: -60px;
        width: 32px;
        height: 32px;
        padding: 0px;
        color: $color-curious-blue;
        border: solid 1px #eee;
        background-color: #fff;
        border-radius: 500px;
        background-image: url("../img/svg/plus-blue.svg");
        background-size: 14px 14px;
        opacity: 1;
        transform: rotate(45deg);
        transition: all 0.3s;
        z-index: 2;
    }
    .btn-close:hover{
        transform: rotate(225deg);
    }

    h4{
        color: $color-curious-blue;
        font-weight: 300;
    }
    .col-title{
        flex: 0 0 calc(100% - 300px);
        max-width: calc(100% - 300px);
    }
    .col-select{
        flex: 0 0 300px;
        max-width: 300px;
        text-align: right;
    }
    .col-select--mobile{
        display: none;
    }
    .select-all, .deselect-all{
        position: relative;
        display: inline-block;
        font-size: 11px;
        text-transform: uppercase;
        color: #000;
        margin-right: 60px;
        cursor: pointer;
    }
    .deselect-all{
        margin-right: 30px;
    }
    .select-all::after, .deselect-all::after{
        position: absolute;
        top: 0px;
        right: -25px;
        content: "";
        width: 17px;
        height: 17px;
        border-radius: 500px;
        background-color: #eeee;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .select-all::after{
        background-image: url("../img/svg/check-black.svg");
        background-size: 9px;
    }
    .deselect-all::after{
        background-image: url("../img/svg/plus-black.svg");
        background-size: 9px;
        transform: rotate(45deg);
    }
    .button-center{
        margin-top: 30px;
    }
}

#organization-modal{
    .modal-dialog {
        max-width: 850px;
    }
}
#location-modal{
    .modal-dialog {
        max-width: 780px;
    }
}

@media (max-width: 1199px){
    .modal{
        .modal-content{
            box-shadow: 0px 0px 50px #299BD780;
        }
        .content-container{
            box-shadow: none;
            border: 0px;
            padding: 0px;
        }
        .modal-dialog {
            max-width: 800px;

            .col-title{
                flex: 0 0 calc(100% - 30px);
                max-width: calc(100% - 30px);
            }
            
            .col-select{
                display: none;
            }
            .col-select--mobile{
                display: block;
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 20px;
                text-align: center;
            }
            .btn-close{
                top: 20px;
                right: 20px;
                background-color: #F9F9F9;
            }
        }
    }
    #organization-modal{
        .modal-dialog {
            max-width: 516px;
        }
    }
    #location-modal{
        .modal-dialog {
            max-width: 600px;
        }
    }
}

@media (max-width: 600px){
    .modal{
        .modal-dialog {
            max-width: 516px;
        }
    }

    #organization-modal, #location-modal{
        .modal-dialog {
            max-width: calc(100% - 24px);
        }
    }
}


@media (max-width: 450px){
    .modal{
        h4{
            margin-top: 0px;
        }
        .select-all::after, .deselect-all::after{
            right: -22px;
        }
        .select-all{
            margin-right: 30px;
        }
        .deselect-all{
            margin-right: 20px;
        }
    }
}
