.tabs-container{
    display: block;
    width: 546px;
    margin-left: auto;
    margin-right: auto;
}
.nav-tabs{
    border-bottom: 0px;

    li{
        background-color: #f9f9f9;
        padding: 6px 9px;
        border-radius: 4px;

        .nav-link{
            border: none;
            width: 255px;
            transition: all 0.2s;
            border-radius: 4px;
            background-color: transparent;
            color: #a2a2a2;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 5px;
            padding-right: 5px;
            height: 100%;
        }
        .nav-link.active{
            background-color: $color-curious-blue;
            color: #fff;
            border-radius: 4px;
        }
    }
}