.price-button{
    margin-top: 20px;
    background-color: $color-alabaster;
    padding: 10px 13px;
    border-radius: 4px;

    .title-secondary{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .price-container{
        flex: 0 0 calc(100% - 156px);
        max-width: calc(100% - 156px);
        text-align: left;
        padding-right: 10px;
    }
    .button-container{
        flex: 0 0 156px;
        max-width: 156px;
    }
    .button-secondary{
        padding-left: 25px;
        padding-right: 25px
    }

}
.price-button--margin-bottom{
    margin-bottom: 20px;
}
.price-button--white{
    background-color: #fff;
}

/*@media (max-width: 767px){

    .price-button{
        padding: 0px;
        background-color: #fff;

        .button-container {
            flex: 0 0 100%;
            max-width: 100%;

            .button-secondary{
                display: block;
            }
        }
        .price-container {
            flex: 0 0 calc(100% - 100px);
            max-width: calc(100% - 100px);
        }
    }

}*/

@media (max-width: 380px){

    .price-button{
        position: static;
        padding: 10px;

        .title-secondary{
            font-size: 20px;
            margin-bottom: 0px;
        }
        .button-secondary{
            padding-left: 15px;
            padding-right: 15px;
        }
        .button-container {
            flex: 0 0 136px;
            max-width: 136px;
        }
        .price-container {
            flex: 0 0 calc(100% - 136px);
            max-width: calc(100% - 136px);
        }
    }

}
