.question-yes-no{
    font-size: 18px;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;

    .question{
        padding: 20px 12px;
        border-bottom: 1px solid #dedede;
    }
    .answer-yes, .answer-no{
        padding: 5px 12px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .answer-no{
        border-right: 1px solid #dedede;
    }
    button{
        border: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        padding: 15px 0px;
    }
}