.roll-down-list{
    .roll-down-item{
        position: relative;
        margin-top: -1px;
        border: 1px solid #DEDEDE;
        background-color: #fff;
        /*border-bottom: none;*/
        transition: border 0.2s;
        z-index: 1;
        cursor: pointer;

        .roll-down-item-container{
            border: 1px solid transparent;
            transition: all 0.2s;
        }
        .label{
            position: relative;
            font-size: 18px;
            cursor: pointer;
            padding: 35px 80px 35px 35px;
        }
        .label::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 35px;
            width: 9px;
            height: 16px;
            background-image: url('../img/svg/arrow-blue.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            content: "";
            transition: all 0.2s;

        }
        &.opened .label::after {
            transform: translateY(-50%) rotate(90deg);
        }
        .content{
            display: none;
            font-size: 15px;
            padding: 0px 35px 35px;
            font-weight: 300;
        }
    }
    .roll-down-item:nth-of-type(1){
        margin-top: 0px;
    }
    .roll-down-item:nth-last-of-type(1){
        border-bottom: 1px solid #DEDEDE;
    }
    .roll-down-item:hover{
        border: 1px solid $color-curious-blue;
        z-index: 2;

        .roll-down-item-container{
            border: 1px solid $color-curious-blue;
            /*border-bottom: 2px solid $color-curious-blue;
            padding: 1px;
            padding-bottom: 0px;*/
        }

    }
}

@media (max-width: 500px){
    .roll-down-list {
        .roll-down-item {
            .label{
                font-size: 16px;
                padding: 15px 40px 15px 15px;
            }
            .label::after {
                right: 15px;
            }
            .content{
                padding: 5px 15px 15px;
            }
        }
    }
}