.row-line-grid{
    margin-top: 35px;

    .container > .col-container{
        padding-top: 12px;
        border-top: 1px solid #dedede;
    }
    .container > .col-container.col-section-title:nth-of-type(1){
        border-top: none;

        h2{
            margin-top: 0px;
        }
    }
    .container > .col-container:nth-of-type(1) {
        border-top: none;
    }
    .col-title{
        position: relative;
        flex: 0 0 375px;
        max-width: 375px;
        padding-right: 30px;
    }
    .container > .col-container.col-section-title{
        border-top: none;

        h2{
            margin-top: 80px;
            margin-bottom: 20px;
        }
    }
    .col-title::after{
        position: absolute;
        right: 0px;
        top: -12px;
        bottom: 0px;
        content: "";
        width: 1px;
        background-color: #bbbbbb;
    }
    .container .col-container:nth-of-type(1){
        .col-title::after{
                top: 0px;
        }
    }

    .col-content{
        flex: 0 0 calc(100% - 375px);
        max-width: calc(100% - 375px);
        padding-left: 30px;

        h4:nth-of-type(1){
            margin-top: 0px;
        }
        p:nth-last-of-type(1){
            margin-bottom: 12px;
        }
        video{
            margin-bottom: 20px;
        }
        .profile-link{
            vertical-align: top;
            margin-top: 10px;
            display: inline-block;
            margin-right: 50px;
        }
        .col-lecturer{
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-profile{
            flex: 0 0 50%;
            max-width: 50%;
            text-align: right;
        }

    }
    h3{
        font-size: 16px;
        color: $color-curious-blue;
        font-weight: 600;
        margin-top: 0px;
    }
    h3.title-18{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 3px;
    }
    .file-download{
        .col-text{
            flex: 0 0 calc(100% - 160px);
            max-width: calc(100% - 160px);
            padding-right: 15px;
        }
        .col-button{
            flex: 0 0 160px;
            max-width: 160px;
            text-align: right;
        }
        .filename{
            font-size: 14px;
        }
    }
}

.row-line-grid.grid-color-sun{
    h3{
        color: $color-sun;
    }
}

@media (max-width: 991px){
    .row-line-grid{
        .container > .col-container{
            border-top: 1px solid #dedede;
            border-bottom: none;
            padding-top: 20px;
            padding-bottom: 35px;
        }
        .container > .col-container.col-section-title{
            h2{
                margin-top: 70px;
                margin-bottom: 0px;
            }
        }
        .col-title{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-title::after{
            display: none;
        }
        .col-content{
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0px;
        }
        .button-center{
            margin-top: 25px;
        }
        .button-center--right{
            text-align: left;
        }
    }
    
}

@media (max-width: 767px){
    .row-line-grid{
        .col-content {
            .col-lecturer {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col-profile {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: left;
            }
            .center-right{
                text-align: left;
            }
        }
        .file-download{
            .col-text{
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0px;
            }
            .col-button{
                margin-top: 5px;
                flex: 0 0 100%;
                max-width: 100%;
                text-align: left;
            }
            .filename{
                margin-top: 20px;
            }
        }
    }
}