.row-line{
    border-bottom: 1px solid #dedede;
    padding: 35px 0px 25px 90px;
    max-width: 362px;
}

.row-line.last{
    border-bottom: 0px;
}

@media (max-width: 1199px){
    .row-line {
        padding-left: 15px;
    }
}

@media (max-width: 991px){
    .row-line {
        padding-left: 90px;
        max-width: 450px;
    }
}
@media (max-width: 775px){
    .row-line {
        padding-left: 30px;
        max-width: 450px;
    }
}

@media (max-width: 600px){
    .row-line {
        padding-left: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
        max-width: 450px;
    }
    .row-line.last{
        border-bottom: 1px solid #dedede;
    }
}