.social-media-icon{
    display: inline-block;
    background-color: #f9f9f9;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 500px;

    img{
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
    }
}