.tag-rectangle{
    font-size: 12px;
    color: #fff;
    background-color: $color-sun;
    padding: 4px 13px;
    text-transform: uppercase;
    transition: all 0.2s;

    img{
        margin-right: 5px;
        vertical-align: top;
        margin-top: 7px;
    }
}
.tag-rectangle:hover{
    background-color: $color-curious-blue;
    color: #fff;
}