.tag-search-container{
    border-top: 1px solid #1579ae;
}
.tag-search-category {
    border-bottom: 1px solid #1579ae;
    margin-top: 12px;
    padding-bottom: 12px;

    .tag-search:nth-last-of-type(1){
        margin-bottom: 0px;
    }
}
.filter--sun{
    .tag-search-container{
        border-top: 1px solid #e29717;
    }
    .tag-search-category {
        border-bottom: 1px solid #e29717;
    }
}
.tag-search{
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    padding-right: 4px;
    margin-bottom: 10px;
    margin-right: 10px;

    svg{
        vertical-align: top;
        margin-left: 5px;
        margin-top: 1px;

        circle, path{
            transition: all 0.2s;
        }
    }
}
.tag-search:hover{
    color: #dceefe;
    padding-left: 4px;
    padding-right: 0px;

    svg{
        circle{
            fill: #1579ae !important;
        }
        path{
            stroke: #fff !important;
        }
    }
}