.tag-container--center{
    text-align: center;
}
.tag-small-rounded{
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: $color-curious-blue;
    padding: 4px 13px;
    text-transform: uppercase;
    transition: all 0.2s;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
}
.tag-small-rounded:hover{
    color: #fff
}

.tag-small-rounded--inverted{
    display: inline-block;
    background-color: $color-sun;
    margin-left: 7px;
    margin-right: 7px;
}

.tag-small-rounded--inverted:hover, .tag-small-rounded--inverted.active{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    background-color: $color-curious-blue;
}

