.tag{
    display: inline-block;
    color: #fff;
    background-color: $color-curious-blue;
    border-radius: 500px;
    padding: 3px 7px;
    font-size: 12px;
    border: 1px solid $color-curious-blue;
    transition: all 0.2s;
    text-transform: uppercase;
}
.tag--sun{
    background-color: $color-sun;
    border: 1px solid $color-sun;
}
.tag--white-blue{
    background-color: #fff;
    color: $color-curious-blue;
    border: 1px solid #fff;
}
.tag--white-sun{
    background-color: #fff;
    color: $color-sun;
    border: 1px solid #fff;
}
.tag:hover{
    background-color: #fff;
    color: #000;
}
.tag--white-blue:hover, .tag--white-sun:hover{
    background-color: transparent;
    color: #fff;
}