.tns-inner{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.tns-carousel{
    display: flex;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}
.tns-carousel{
    .tns-item{
        flex: 1;
        
        a{
            /*display: block;
            height: 100%;*/
        }
    }
}

.carousel-container{
    position: relative;

    .button-scroll--left{
        position: absolute;
        top: 50%;
        left: -100px;
        transform: translateY(-50%) rotate(-90deg);
    }
    .button-scroll--right{
        position: absolute;
        top: 50%;
        left: auto;
        right: -100px;
        transform: translateY(-50%) rotate(90deg);
    }
}
@media (max-width: 1370px){
    .carousel-container{

        .button-scroll--left{
            top: -30px;
            left: 30px;
        }
        .button-scroll--right{
            top: -30px;
            right: 30px;
        }
    }
}
@media (max-width: 767px){
    .tns-inner{
        padding-left: 0px;
        padding-right: 0px;
    }
}

