.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    bottom: -1px;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: $color-curious-blue !important;
}
.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    left: -1px;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: $color-curious-blue !important;
}

.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    right: -1px;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: $color-curious-blue !important;
}
.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    top: -1px;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: $color-curious-blue !important;
}

.tooltip > .tooltip-inner {
    padding: 15px;
    background-color: $color-curious-blue;
    border-radius: 0px;
    min-width: 300px;
    text-align: left;
    font-size: 16px;
}

.tooltip.show {
    opacity: 1;
}

@media (max-width: 500px){
    .tooltip > .tooltip-inner {
        min-width: 280px;
    }
}
