section.achieved-results{
    margin-top: 75px;

    header{
        border-bottom: 1px solid #707070;
        padding-bottom: 30px;
    }

    h2{
        margin-bottom: 25px;
    }
    .button-mobile{
        display: none;
    }
    .results{
        margin-top: 40px;
        
        h4{
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 15px;
            color: $color-curious-blue;
            text-align: center;
        }
        p{
            text-align: center;
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 1199px){
    section.achieved-results{
        .results{
            .col-lg-3:nth-of-type(1){
                br{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 991px){
    section.achieved-results {
        header {
            text-align: center;
            border-bottom: none;

            h2{
                text-align: center;
            }
            .button-mobile{
                display: inline-block;
                margin-top: 10px;
            }
            .button-desktop{
                display: none;
            }
        }
        .results{
            margin-top: 30px;

            .col-lg-3:nth-of-type(1){
                border-right: 1px solid #707070;
                border-bottom: 1px solid #707070;
                padding-bottom: 25px;
            }
            .col-lg-3:nth-of-type(2){
                border-bottom: 1px solid #707070;
                padding-bottom: 25px;
            }
            .col-lg-3:nth-of-type(3){
                border-right: 1px solid #707070;
                padding-top: 25px;
            }
            .col-lg-3:nth-of-type(4){
                padding-top: 25px;
            }
        }
    }
}