section.advertising{
    .row{
        .col-lg-5{
            .card-advertising{
                h3::after{
                    display: none;
                }
            }
        }
        .col-lg-5:nth-of-type(1){
            .card-advertising{
                margin-right: 0px;
            }
            .card-advertising + .button-secondary{
                transform: translateX( calc(-50% + 50px) ) translateY(30px);
            }
        }
        .col-lg-5:nth-of-type(2){
            .card-advertising{
                margin-left: 0px;
            }
            .card-advertising + .button-secondary{
                transform: translateX( calc(-50% - 50px) ) translateY(30px);
            }
        }
    }
}

@media (max-width: 1199px){
    section.advertising{
        .col-lg-4{
            .card-advertising{
                padding: 35px 15px 40px;

                .card-recommendation{
                    padding: 15px 20px;
                    margin-left: -10px;
                    margin-right: -10px;
                    margin-top: -83px;
                    margin-bottom: 35px;
                }

                ul.check-list{
                    padding-left: 50px;
                    padding-right: 15px;
                }
            }
            .card-advertising--recommendation{
                border-top-left-radius: 4px;
            }
        }

        .row{
            .col-lg-5:nth-of-type(1){
                .card-advertising{
                    margin-right: auto;
                }
                .card-advertising + .button-secondary{
                    transform: translateX(-50%) translateY(30px);
                }
            }
            .col-lg-5:nth-of-type(2){
                .card-advertising{
                    margin-left: auto;
                }
                .card-advertising + .button-secondary{
                    transform: translateX(-50%) translateY(30px);
                }
            }
        }
    }
}

@media (max-width: 991px){
    section.advertising{
        .col-lg-4{
            .card-advertising{
                margin-top: 60px;
                padding: 35px 20px 40px;
                height: auto;

                .card-recommendation{
                    text-align: center;
                }

                ul.check-list{
                    padding-left: 65px;
                    padding-right: 30px;
                }
            }
            .card-advertising--recommendation{
                margin-top: 110px;
            }
        }
    }
}

@media (max-width: 767px){
    section.advertising{
        .col-lg-5{
            .card-advertising{
                margin-top: 60px;
                padding: 35px 20px 40px;
                height: auto;

                .card-recommendation{
                    text-align: center;
                    margin-left: -10px;
                    margin-right: -10px;
                }

                ul.check-list{
                    padding-left: 65px;
                    padding-right: 30px;
                }
            }
            .card-advertising--recommendation{
                margin-top: 110px;
            }
        }
    }
}

@media (max-width: 400px){
    section.advertising {

        .col-lg-4, .col-lg-5{
            .card-advertising {
                padding: 35px 15px 40px;

                .card-recommendation {
                    padding: 15px 10px;
                }

                ul.check-list {
                    padding-left: 45px;
                    padding-right: 15px;
                }
            }
        }
    }
}