section.billing-information{
    position: relative;
    z-index: 1;
    margin-top: -40px;
    box-shadow: 0 0 99px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 100px 15px 50px 15px;
    transition: all 0.2s;

    .checkbox{
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .personal-info{
        margin-top: 60px;
    }
}
section.billing-information.active{
    margin-top: 0px;
    padding-top: 50px;
}
section.billing-information + footer{
    position: relative;
}
section.billing-information::after, .container-780 .button-center::after, section.billing-information + footer::after{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #fff;
    border-radius: 4px;
    opacity: 0.5;
}
section.billing-information.active::after,
.container-780 .button-center.active::after,
section.billing-information.active + footer::after{
    display: none;
}