section.blog{
    margin-top: 50px;

    .card{
        h3{
            height: 84px;
        }
        p{
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1199px){
    section.blog {
        .button-scroll {
            display: none;
        }
    }
}

@media (max-width: 767px){
    section.blog {
        .tns-inner {
            padding: 0px;
        }

        .tns-carousel {
            display: block;

            .tns-item {
                display: none;
                width: 100%;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .tns-slide-active {
                display: block;
            }

            .card p {
                margin-bottom: 0px;
            }

            .card-border::after {
                bottom: auto;
                top: 25px;
            }
        }
    }
}

@media (max-width: 450px){
    section.blog{
        .card{
            padding: 15px;

            h3{
                font-size: 18px;
                height: auto;
                margin-top: 15px;
                margin-bottom: 0px;
            }
            p{
                margin-top: 10px;
            }
        }
        .card-border::after{
            top: 15px;
            right: 15px;
        }
    }
}