header.card-title-header{

    overflow-x: hidden;

    .section-container {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 4px;
    }
    .col-card{
        flex: 0 0 375px;
        max-width: 375px;
        padding-right: 30px;
    }
    .col-card--logo{
        .card-header-summary{
            max-width: 292px;
            height: 290px;
            padding: 15px;

            img{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                max-width: 150px;
                max-height: 150px;
            }
        }
    }
    .col-title{
        flex: 0 0 calc(100% - 375px);
        max-width: calc(100% - 375px);
        padding-left: 30px;

        .vertical-center{
            h1{
                margin-top: 0px;
            }
        }
    }
    .tag-container{
        margin-top: 40px;
    }
    h1{
        margin-top: 35px;
        max-width: 660px;
        margin-bottom: 35px;
    }
    .price-button{
        margin-top: 30px;
    }
    .tag-container{
        margin-top: 0px;

        .tag{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
        }
    }
    .date{
        border-top: 1px solid #dedede;
        padding-top: 20px;
        max-width: 660px;
    }
    .date-from{
        display: inline-block;
        margin-left: 35px;
    }
    .date-to{
        display: inline-block;
        margin-left: 45px;
    }
    .date-mobile{
        display: none;
    }
    .price-button--mobile{
        display: none;
    }
    .stars{
        float: right;
        border: 1px solid #dedede;
        padding: 5px 10px;
        padding-bottom: 0px;
        border-radius: 15px;
        height: 28px;

        img{
            display: inline-block;
            vertical-align: top;
        }
    }
}

header.card-title-header--job-offer{
    .col-title{
        flex: 0 0 calc(100% - 640px);
        max-width: calc(100% - 640px);
        padding-left: 30px;
        padding-right: 30px;
    }
    .col-job-logo{
        flex: 0 0 265px;
        max-width: 265px;

        .logo-container{
            width: 100%;
            height: 166px;
            background-color: #fff;
            border: solid 1px #eee;

            img{
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                max-width: 90px;
                max-height: 90px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .button-tertiary{
            display: inline-block;
            margin-top: 20px;
        }
    }
}


header.card-title-header--with-price{
    .section-container::after{
        bottom: 30%;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    header.card-title-header--job-offer{
        .col-card {
            flex: 0 0 345px;
            max-width: 345px;
            padding-right: 20px;
        }
        .col-title{
            flex: 0 0 calc(100% - 505px);
            max-width: calc(100% - 505px);
            padding-left: 0px;
        }
        .col-job-logo{
            flex: 0 0 160px;
            max-width: 160px;
        }
    }
}

@media (max-width: 991px){

    header.card-title-header{
        text-align: center;

        .col-card--logo{
            padding-bottom: 30px;

            .card-header-summary{
                margin-left: auto;
                margin-right: auto;
            }
        }

        .section-container{
            position: relative;
            background-color: transparent;
        }
        .section-container::after{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 42%;
            content: "";
            background-color: #f9f9f9;
        }
        .container{
            position: relative;
            z-index: 2;
        }

        .col-title{
            flex: 0 0 530px;
            max-width: 530px;
            padding-left: 0px;
            margin-left: auto;
            margin-right: auto;
        }
        .col-card{
            flex: 0 0 530px;
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0px;
        }
        .date-mobile{
            display: block;
            flex: 0 0 530px;
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
            border-top: none;
            margin-top: 20px;
        }
        .date-desktop{
            display: none;
        }
        h1{
            margin-bottom: 30px;
        }
        .col-info{
            .text-small-label, .value{
                transform: translateX(-40px);
            }
        }
        .price-button--mobile{
            display: block;
            flex: 0 0 530px;
            max-width: 530px;
            margin-left: auto;
            margin-right: auto;
        }
        .price-button--desktop{
            display: none;
        }
        .stars{
            display: none;
        }
    }

    header.card-title-header--job-offer{
        .section-container{
            padding-top: 0px;
            padding-bottom: 50px;
        }
        .col-job-logo{
            flex: 0 0 100%;
            max-width: 100%;

            .logo-container{
                margin-left: auto;
                margin-right: auto;
                background-color: transparent;
                border: none;
                height: auto;
                margin-bottom: 30px;

                img{
                    top: 0px;
                    transform: translateY(0px);
                }
            }
            .button-center{
                display: none;
            }
        }
        .col-title{
            padding-right: 0px;

            h1{
                margin-bottom: 15px;
            }
        }
        .section-container::after{
            display: none;
        }
    }

    header.card-title-header--with-price{
        .section-container{
            background-color: $color-alabaster;
            padding-bottom: 50px;
        }
        .section-container::after{
            display: none;
        }
    }
}


@media (max-width: 660px){

    header.card-title-header{
        .section-container::after{
            display: none;
        }
        .section-container{
            background-color: transparent;
            padding-top: 0px;
        }
        h1{
            margin-top: 0px;
        }
        .col-title{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-card{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .date-mobile{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .price-button--mobile{
            flex: 0 0 100%;
            width: 100%;
            background-color: $color-alabaster;
        }
    }

}
@media (max-width: 500px){
    header.card-title-header{
        .date{
            text-align: left;
            margin-left: 25px;

            img{
                margin-left: 15px;
            }
        }
        .date-from{
            margin-left: 20px;
        }
        .date-to{
            display: block;
            margin-left: 75px;
        }
    }
}

@media (max-width: 450px){
    header.card-title-header{
        .col-info{
            .text-small-label, .value{
                transform: translateX(0px);
            }
        }
    }
}