section.card-event-list{
    margin-top: 40px;

    .row > .col-xl-4{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px){

    section.card-event-list{
        .card-event-container{
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}
@media (max-width: 991px){
    section.card-event-list{
        margin-top: 20px;
    }

}