section.company-name{
    position: relative;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;

    .card-animation::after{
        border: 2px solid $color-curious-blue;
        border-radius: 12px;
        background-color: #fff;
    }
    .card-animation:hover::after{
        border: 2px solid $color-sun;
    }
    .card{
        padding: 45px 15px;
    }
    .card-container{
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    input[type="text"]{
        font-size: 18px;
        font-weight: 400;
    }

}