section.contents-text{
    .number-container{
        font-size: 14px;
        color: $color-curious-blue;
        background-color: $color-alabaster;
        border-radius: 500px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4px;
        margin-top: -3px;
    }

    .col-xl-4{
        h4{
            position: relative;
            background-color: $color-curious-blue;
            color: #fff;
            font-size: 14px;
            padding: 15px 8px 15px 55px;
            margin-bottom: 0px;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: 600;
            z-index: 2;
        }
        .completion{
            position: relative;
            background-color: $color-alabaster;
            padding: 22px 8px 12px 55px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            font-weight: 600;
            z-index: 1;
            margin-top: -4px;

            .number{
                float: right;
                font-size: 24px;
                margin-top: -8px;
            }
        }
        .contents{
            margin-top: -15px;

            ul{
                padding-left: 0px;
                list-style-type: none;
                margin-bottom: 0px;
            }

            .col-container{
                padding: 5px 20px 5px 0px;
            }
            .col-container:nth-of-type(1){
                border-top: none;
            }
            li.active{
                background-color: $color-alabaster;

            }

            .col-number{
                flex: 0 0 40px;
                max-width: 40px;
                font-size: 12px;
                text-align: center;
                padding-top: 5px;
            }
            .col-title{
                flex: 0 0 calc(100% - 57px);
                max-width: calc(100% - 57px);
                padding-left: 15px;
                padding-right: 15px;
            }
            .col-checked{
                flex: 0 0 17px;
                max-width: 17px;
            }
            .active{
                .col-checked{
                    img{
                        margin-top: -5px;
                    }
                }
            }

            .section-title{
                border-top: 1px solid #dedede;
                padding-top: 20px;
                margin-top: 20px;

                .col-number{
                    padding-top: 0px;
                }
                .col-title{
                    flex: 0 0 calc(100% - 40px);
                    max-width: calc(100% - 40px);
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .col-xl-8{
        header{
            background-color: $color-alabaster;
            padding: 41px 25px 32px;
            border-radius: 4px;

            .col-section-number{
                flex: 0 0 30px;
                max-width: 30px;

                .number-container{
                    background-color: $color-curious-blue;
                    color: #fff;
                }
            }
            .col-count{
                flex: 0 0 80px;
                max-width: 80px;
                font-size: 14px;
                font-weight: 600;
                color: $color-curious-blue;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }
            .col-title{
                flex: 0 0 calc(100% - 295px);
                max-width: calc(100% - 295px);

                h3{
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
            .col-length{
                flex: 0 0 185px;
                max-width: 185px;
                font-size: 13px;
                text-align: right;

                img{
                    margin-top: -2px;
                    margin-right: 20px;
                }
            }
        }
        .text-content{
            position: relative;
            margin-top: 25px;
            max-height: 720px;
            min-height: 300px;
            overflow-y: hidden;
            transition: all 0.2s;

            video{
                margin-bottom: 20px;
            }

            h4{
                font-size: 16px;
                margin-top: 20px;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
        .text-content-overlay{
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            content: "";
            height: 200px;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
        }
        footer{
            margin-top: 80px;
            background-color: $color-alabaster;
            padding: 35px;

            .col-prev{
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-next{
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-count{
                flex: 0 0 65px;
                max-width: 65px;
                color: $color-curious-blue;
                font-size: 24px;
                font-weight: 300;
                padding-top: 7px;
            }
            .col-arrow{
                flex: 0 0 75px;
                max-width: 75px;

                .button-scroll{
                    top: 0px;
                    left: 0px;
                }
            }
            .col-label{
                flex: 0 0 calc(100% - 140px);
                max-width: calc(100% - 140px);
                font-size: 14px;
                font-weight: 600;
                padding-top: 7px;
                padding-left: 15px;
                text-transform: uppercase;
                letter-spacing: 0.05rem;
            }
            .col-next{
                text-align: right;

                .col-label{
                    padding-left: 0px;
                    padding-right: 15px;
                }
            }
            a:hover{
                .button-scroll .icon-container::before{
                    transform: translateX(-50%) translateY(calc(-50% + 2px));
                    height: 31px;
                }

                .button-scroll .icon-container::after{
                    transform: translateX(-50%) translateY(calc(-50% - 8px)) rotate(90deg);
                }
                .button-scroll{
                    .button-border--white{
                        top: -4px;
                        left: -4px;
                        right: -4px;
                        bottom: -4px;
                        z-index: 1;
                    }
                    .button-border--gray {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px){
    section.contents-text{
        .col-xl-4{
            .contents-container{
                margin-top: 20px;
                position: relative;
                max-width: 522px;
                margin-left: auto;
                margin-right: auto;
            }
            h4{
                cursor: pointer;
                z-index: 11;
                padding-left: 25px;
            }
            h4::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 25px;
                width: 9px;
                height: 16px;
                background-image: url('../img/svg/arrow-white.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                content: "";
                transition: all 0.2s;
            }
            h4.opened::after {
                transform: translateY(-50%) rotate(90deg);
            }
            .completion{
                padding-left: 25px;
                padding-right: 25px;
            }
            .contents{
                position: absolute;
                top: 62px;
                left: 0px;
                right: 0px;
                background-color: #fff;
                display: none;
                box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
                z-index: 10;
                padding-bottom: 20px;
                padding-left: 5px;
                padding-right: 5px;

                > .col-container:nth-of-type(1){
                    margin-top: 10px;
                }
            }
        }
        .col-xl-8{
            header{
                margin-top: 60px;
            }
        }
    }
}

@media (max-width: 991px){
    section.contents-text{
        .col-xl-8{
            footer{
                .col-next{
                    .col-container{
                        justify-content: right;
                    }
                    .col-count{
                        order: 1;
                    }
                    .col-arrow{
                        order: 2;
                    }
                    .col-label{
                        padding-right: 0px;
                    }
                }
                .col-count{
                    order: 2;
                }
                .col-arrow{
                    order: 1;
                }
                .col-label{
                    order: 3;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-top: 12px;
                    padding-left: 0px;
                }

            }
        }
    }
}

@media (max-width: 767px){
    section.contents-text{
        .col-xl-8{
            header{
                padding: 15px 0px;

                .col-title{
                    order: 1;
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: center;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #dedede;
                    margin-bottom: 15px;
                }
                .col-section-number{
                    order: 2;
                    flex: 0 0 45px;
                    max-width: 45px;
                    padding-left: 15px;
                }
                .col-count{
                    order: 3;
                }
                .col-length{
                    order: 4;
                    flex: 0 0 calc(100% - 125px);
                    max-width: calc(100% - 125px);
                    padding-right: 15px;
                }
            }
        }
    }
}

@media (max-width: 500px){
    section.contents-text{
        .col-xl-8{
            footer{
                padding: 20px 15px;


                .col-count{
                    flex: 0 0 50px;
                    max-width: 50px;
                }
                .col-arrow{
                    flex: 0 0 65px;
                    max-width: 65px;
                }
                .col-label{
                    letter-spacing: normal;
                    font-size: 13px;
                }

            }
        }
    }
}

@media (max-width: 400px){
    section.contents-text{
        .col-xl-4{
            h4{
                padding-left: 15px;
                padding-right: 15px;
            }
            h4::after {
                right: 15px;
            }
            .completion{
                padding-left: 15px;
                padding-right: 15px;
            }
            .contents .col-container{
                padding-right: 10px;
            }
        }
        .col-xl-8{
            header{
                .col-section-number{
                    flex: 0 0 45px;
                    max-width: 45px;
                    padding-left: 15px;
                }
                .col-count{
                    flex: 0 0 70px;
                    max-width: 70px;
                }
                .col-length{
                    flex: 0 0 calc(100% - 115px);
                    max-width: calc(100% - 115px);

                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}