section.description-benefit{
    .description{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 100px;

        h1{
            margin-top: 25px;
            margin-bottom: 15px;
        }
        .button-tertiary{
            display: inline-block;
            margin-top: 30px;
        }
        .price-button-container{
            margin-top: 40px;
            background-color: #fff;
            padding: 15px;
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;

            .button-secondary{
                padding-left: 25px;
                padding-right: 25px;
            }
            .title-secondary{
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .tax-included{
                margin-top: 10px;
            }
            .price-container{
                flex: 0 0 calc(100% - 156px);
                max-width: calc(100% - 156px);
                text-align: left;
            }
            .button-container{
                flex: 0 0 156px;
                max-width: 156px;
            }
        }
    }
    .card{
        padding: 25px 95px 25px 110px;
        border-radius: 12px;
        box-shadow: 0 0 50px 0 #299bd7;
        background-color: #fff;
        border: none;

        .benefit{
            position: relative;
            margin-top: 20px;
            padding-left: 85px;
            padding-bottom: 20px;
            border-bottom: 1px solid #a2a2a2;
        }
        .benefit:nth-last-of-type(1){
            border-bottom: none;
        }
        .benefit::before{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 42px;
            height: 42px;
            content: "";
            background-image: url("../img/svg/benefit.svg");
            background-size: 100%;
        }
        h3{
            margin-top: 0px;
            font-size: 18px;
            color: $color-curious-blue;
            font-weight: 600;
        }
        p{
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 1199px){
    section.description-benefit{
        .card {
            padding: 25px 50px 25px 50px;
        }
    }
}

@media (max-width: 991px){
    section.description-benefit{
        .description{
            padding-right: 0px;
            text-align: center;

            .price-button-container{
                max-width: 310px;
            }
        }
        .card{
            margin-top: 75px;
            padding: 35px 10px 35px 10px;
            height: auto;

            .col-container{
                .benefit:nth-last-of-type(1){
                    border-right: none;
                }
            }

            .benefit{
                flex: 0 0 33.3%;
                max-width: 33.3%;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 70px;
                text-align: center;
                border-bottom: none;
                border-right: 1px solid #a2a2a2;
            }
            .benefit::before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media (max-width: 767px){
    section.description-benefit{
        .section-container{
            background-color: #fff;
            padding-top: 20px;
        }
        .card{
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 20px;

            .benefit {
                flex: 0 0 100%;
                max-width: 100%;
                border-right: none;
                border-bottom: 1px solid #a2a2a2;
                margin-top: 30px;
                padding-top: 0px;
                padding-bottom: 40px;
                padding-left: 85px;
                padding-right: 10px;
                text-align: left;

                p{
                    max-width: 350px;
                }
            }
            .benefit:nth-last-of-type(1){
                border-bottom: none;
            }
            .benefit::before{
                left: 10px;
                transform: translateX(0px);
            }
        }
    }
}

@media (max-width: 380px){
    section.description-benefit{
        .card{
            .benefit {
                padding-left: 75px;
                padding-right: 5px;
            }
        }
    }
}