section.e-learning-advantages{
    margin-top: 70px;
    margin-bottom: 70px;

    .col-image{
        flex: 0 0 55px;
        max-width: 55px;
    }
    .col-text{
        flex: 0 0 calc(100% - 55px);
        max-width: calc(100% - 55px);
        padding-left: 50px;
    }
    h4{
        font-size: 18px;
        font-weight: 600;
        color: $color-curious-blue
    }
    p{
        max-width: 220px;
        margin-bottom: 0px;
    }
}

@media (max-width: 1199px){
    section.e-learning-advantages{
        .col-image{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .col-text{
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0px;
            text-align: center;
        }
        h4{
            margin-top: 15px;
        }
        p{
            max-width: 220px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 767px){
    section.e-learning-advantages{
        margin-top: 30px;
        margin-bottom: 30px;

        .row{
            margin-left: 0px;
            margin-right: 0px;
        }

        .col-lg-4{
            border-bottom: 1px solid #dedede;
            margin-top: 40px;
            padding-bottom: 40px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .row > .col-lg-4:nth-last-of-type(1){
            border-bottom: none;
        }
        .col-container{
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
        .col-image{
            flex: 0 0 55px;
            max-width: 55px;
            text-align: left;
        }
        .col-text{
            flex: 0 0 calc(100% - 55px);
            max-width: calc(100% - 55px);
            padding-left: 50px;
            text-align: left;
        }
        h4{
            margin-top: 0px;
        }
        p{
            margin-left: 0px;
        }
    }
}

@media (max-width: 660px) {
    section.e-learning-advantages {
        margin-top: -10px;
    }
}

@media (max-width: 450px){
    section.e-learning-advantages{
        .col-container{
            max-width: none;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .col-text{
            padding-left: 20px;
        }
        p{
            max-width: none;
        }
    }
}
