section.filter{
    margin-top: -10px;

    .section-container {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $color-curious-blue;
        color: #fff;
        border-radius: 4px;
    }
    h3{
        font-size: 18px;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .button-center{
        margin-top: 15px;
    }
    .button-primary{
        position: relative;
        font-size: 12px;
        color: #fff;
        background-color: #1579ae;
        padding: 7px 15px 7px 40px;
        height: auto;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        border: 0px;
        font-weight: 400;
    }
    .button-primary::before{
        position: absolute;
        content: "";
        top: 3px;
        left: 5px;
        width: 25px;
        height: 25px;
        background-image: url("../img/svg/close-button.svg");
        background-size: 100%;
    }
    .button-primary:hover{
        background-color: #79c4ec;
    }
    .button-filter-open{
        display: none;
    }
    .filter-selected{
        display: none;
    }
}
section.filter--sun{
    .section-container {
        background-color: $color-sun;
    }
    .button-primary{
        background-color: #e29717;
    }
    .button-primary:hover{
        background-color: $color-curious-blue;
    }
    .tag-list{
        margin-bottom: 15px;

        button{
            border: 1px solid #fff;
        }
        button.active, button:hover{
            border: 1px solid $color-curious-blue;
        }
    }
}

@media (max-width: 1199px){
    section.filter {
        .section-container {
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: transparent;
        }
        .button-filter-open{
            position: relative;
            display: block;
            width: 100%;
            background-color: $color-curious-blue;
            border-radius: 4px;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
            padding: 12px 32px;
            text-align: left;
            border: 0px;
            z-index: 10;

            .label{
                color: #fff;
                font-size: 20px;
            }
            img{
                float: right;
            }
        }
        .filter-selected{
            display: block;
            position: relative;
            background-color: $color-curious-blue;
            padding: 17px 32px 12px;
            margin-top: -5px;
            cursor: pointer;

            .label{
                font-size: 13px;
                color: #fff;
            }
        }
        .filter-selected::after{
            position: absolute;
            top: 20px;
            right: 32px;
            content: "";
            width: 17px;
            height: 17px;
            border-radius: 500px;
            background-color: #eeee;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url("../img/svg/plus-black.svg");
            background-size: 9px;
            transform: rotate(45deg);
        }
        .filter-container{
            display: none;
            background-color: $color-curious-blue;
            padding: 30px 32px 20px;
            border-radius: 4px;
            margin-top: -5px;
        }
        .col-xl-8{
            > h3{
                display: none;
            }
        }
        .col-xl-4 {
            margin-top: 30px;
        }
    }
    section.filter--sun{
        .button-filter-open{
            background-color: $color-sun;
        }
        .filter-selected{
            background-color: $color-sun;
        }
        .filter-container{
            background-color: $color-sun;
        }
    }
}

@media (max-width: 500px){
    section.filter{
        .filter-container, .button-filter-open, .filter-selected{
            padding-left: 12px;
            padding-right: 12px;
        }
        .filter-selected::after{
            right: 12px;
        }
        .selectbox-label, .checkbox-label{
            font-size: 18px;
        }
    }
}