section.filter-fixed-header{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;

    .section-container{
        background-color: $color-curious-blue;
        transition: all 0.2s;
        cursor: pointer;
        color: #fff;
        padding-top: 30px;
        padding-bottom: 10px;
        border-radius: 0px;
    }
    .section-container:hover{
        background-color: #1579ae;
    }
    .section-container:hover .icon-container::before{
        transform: translateX(-50%) translateY(calc(-50% + 2px));
        height: 31px;
    }

    .section-container:hover .icon-container::after{
        transform: translateX(-50%) translateY(calc(-50% - 8px)) rotate(90deg);
    }

    .button-scroll{
        display: inline-block;
        vertical-align: top;
        top: 0px;
        left: 0px;
        background-color: transparent;
        margin-top: -17px;
    }

    h3{
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .row .col-lg-9{
        text-align: right;
    }

    .text-small-label{
        display: inline-block;
        vertical-align: top;
    }

    .button-primary{
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-size: 12px;
        color: #fff;
        background-color: #1579ae;
        padding: 7px 15px 7px 40px;
        height: auto;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        border: 0px;
        font-weight: 400;
        margin-top: -7px;
        margin-left: 50px;
    }
    .button-primary::before{
        position: absolute;
        content: "";
        top: 3px;
        left: 5px;
        width: 25px;
        height: 25px;
        background-image: url("../img/svg/close-button.svg");
        background-size: 100%;
    }
    .button-primary:hover{
        background-color: #79c4ec;
    }
}

section.filter-fixed-header--sun{
    .section-container {
        background-color: $color-sun;
    }
    .section-container:hover{
        background-color: #e29717;
    }
    .button-primary{
        background-color: #e29717;
    }
    .button-primary:hover{
        background-color: $color-curious-blue;
    }
    .button-scroll--white .icon-container::after {
        background-image: url('../img/svg/arrow-scroll.svg');
        background-repeat: no-repeat;
    }
}

@media (max-width: 1199px){
    section.filter-fixed-header{
        display: none !important;
    }
}