/*.home{
    #site-content{
        > div{
            overflow-x: hidden;
        }
    }
}

.webinar-template-default{
    #site-content{
        .wp-block-grantexpert-webinarpopis, .wp-block-grantexpert-webinarkroky, .wp-block-grantexpert-webinarkroky2, .wp-block-grantexpert-webinardalsie{
            overflow-x: hidden;
        }
    }
}*/

.wp-block-grantexpert-frontgranteducation, .wp-block-grantexpert-skoleniewebinare, .wp-block-grantexpert-webinardalsie{
    overflow-x: hidden;
}

section.grant-education{
    overflow-x: hidden;

    h2{
        margin-bottom: 20px;
    }

    .button-center{
        margin-top: 20px;

        .button-primary{
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 1370px){
    section.grant-education {
        h2 {
            text-align: center;
        }
    }
}
@media (max-width: 991px){
    section.grant-education{
        .button-primary {
            width: 196px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media (max-width: 767px){
    section.grant-education {
        margin-top: 60px;

        .button-scroll{
            display: none;
        }

        .card {
            padding: 12px;

            footer{
                position: static;
            }
        }
        .section-container{
            background-color: #fff;
        }
        .button-center{
            margin-top: 0px;
        }
        .button-primary{
            width: 157px;
            min-width: 157px;
            padding: 5px;
        }
    }
}

@media (max-width: 575px){
    /* section.grant-education{
        .tns-item{
            width: 260px !important;
        }
        .card{
            width: 245px;
        }
    } */
}