section.grant-steps{
    margin-top: 70px;
    
    h2{
        text-align: center;
    }
    .steps{
        margin-top: 40px;

        .step-row:nth-last-of-type(1){
            border-bottom: none;
        }
    }
    .step-row{
        border-bottom: 1px solid #a2a2a2;
    }
    .left-part{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 20px 110px 20px 110px;
        border-right: 1px solid #a2a2a2;
    }
    .right-part{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 20px 110px 20px 110px;
    }
    .col-number{
        flex: 0 0 40px;
        max-width: 40px;

        .number{
            background-color: $color-curious-blue;
            width: 40px;
            text-align: center;
            padding-top: 7px;
            padding-bottom: 9px;
            color: #fff;
            border-radius: 500px;
            font-size: 24px;
            font-weight: 300;
            line-height: 24px;
        }
    }
    .col-label{
        flex: 0 0 calc(100% - 40px);
        max-width: calc(100% - 40px);
        padding-left: 50px;
        font-size: 18px;
        font-weight: 600;
    }
}

@media (max-width: 1199px){
    section.grant-steps{
        .left-part{
            padding: 20px 50px 20px 50px;
        }
        .right-part{
            padding: 20px 50px 20px 50px;
        }
    }
}

@media (max-width: 991px){
    section.grant-steps{
        .left-part{
            padding: 20px 40px 20px 20px;
        }
        .right-part{
            padding: 20px 20px 20px 40px;
        }
        .col-label{
            padding-left: 40px;
        }
    }
}

@media (max-width: 767px){
    section.grant-steps {
        .step-row{
            border-bottom: none;
            border-top: 1px solid #a2a2a2;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .left-part{
            flex: 0 0 100%;
            max-width: 100%;
            border-right: none;
            padding: 0px
        }
        .right-part{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            padding: 0px;
        }
        .number{
            margin-left: auto;
            margin-right: auto;
        }
        .col-number {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-label{
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 5px;
        }
    }
}