section.grant-radar, section.offer-closable{
    margin-top: 70px;

    .background-container{
        position: relative;
        border: solid 1px #dceefe;
        border-radius: 4px;
        background-image: linear-gradient(102deg, #79c4ec 1%, #80c7ed 8%, rgba(121, 196, 236, 0.03) 33%);
    }
    .grant-radar-container{
        padding: 55px 100px 55px 90px;
    }

    .image{
        margin-left: 0px;
        max-width: 215px;
    }

    h3{
        margin-top: 15px;
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 15px;
        max-width: 400px;
    }
    h3, p{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .button-close--blue{
        position: absolute;
        top: 15px;
        right: 15px;
        transition: all 0.2s;
    }
    .button-close--blue:hover{
        transform: rotate(90deg);
    }

    .button-tertiary{
        display: inline-block;
        margin-top: 35px;
        float: right;
    }
    .button-mobile{
        display: none;
    }
    .price-container{
        padding-top: 20px;
        text-align: center;

        .button-tertiary{
            margin-top: 10px;
            float: none
        }
    }
}

@media (max-width: 1199px){
    section.grant-radar, section.offer-closable{
        .button-tertiary{
            float: none;
        }
        .button-container{
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        .price-container{
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;

            .title-secondary{
                margin-bottom: 20px;
            }

            .button-tertiary{
                margin-top: 0px;
            }
        }
    }
}

@media (max-width: 991px){
    section.grant-radar, section.offer-closable{
        .background-container{
            background-image: linear-gradient(to bottom, #299bd7, #f9f9f9 52%);
        }
        .image{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h3, p{
            text-align: center;
        }
        h3{
            margin-top: 50px;
        }
        .button-container{
            text-align: center;
        }
        .price-container{
            text-align: center;

            .title-secondary{
                margin-top: 0px;
            }
        }
    }
}

@media (max-width: 500px){

    section.grant-radar, section.offer-closable{
        .grant-radar-container {
            padding: 55px 12px 55px 12px;
        }
    }

}