.ordering{
    margin-top: 20px;

    .three-dots{
        display: block;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-container{
        margin-bottom: -16px;
    }
    .text-small-label, .order-tab{
        display: inline-block;
    }
    .text-small-label{
        padding-left: 37px;
        flex: 0 0 100px;
        max-width: 100px;
    }
    .tab-container{
        flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px);
        text-align: right;
        padding-right: 4px;
    }
    .tab-container{
        .order-tab:nth-of-type(1){
            margin-right: -4px;
        }
    }
    .order-tab{
        position: relative;
        border: solid 1px #dedede;
        border-bottom: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 10px 70px 10px 25px;
        background-color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        transition: all 0.2s;
        cursor: pointer;
    }
    .order-tab:hover{
        border: solid 1px $color-curious-blue;
        border-bottom: 0px;
    }
    .inner-container::after{
        position: absolute;
        top: 12px;
        right: 15px;
        width: 13px;
        height: 13px;
        content: "";
        background-image: url("../img/svg/arrow-black.svg");
        background-repeat: no-repeat;
    }
}

@media (max-width: 1199px){
    .ordering{
        .three-dots{
            display: none;
        }
    }
}

@media (max-width: 991px){
    .ordering{
        .text-small-label{
            flex: 0 0 100%;
            max-width: 100%;
            font-weight: 600;
            padding-left: 0px;
        }
        .tab-container{
            display: flex;
            flex-wrap: wrap;
            padding-right: 0px;
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            text-align: left;
        }
        .tab-container{
            margin-top: 10px;
            margin-bottom: 5px;

            .order-tab:nth-of-type(1){
                margin-right: 0px;
            }
            .order-tab:nth-of-type(2){
                margin-right: 0px;
                text-align: right;

                .inner-container{
                    max-width: 260px;
                    margin-left: auto;
                }
            }
        }

        .order-tab{
            border: 0px;
            background-color: transparent;
            padding-left: 30px;
            padding-right: 0px;
            flex: 0 0 50%;
            max-width: 50%;
            padding-right: 15px;
        }
        .order-tab:hover{
            border: 0px
        }
        .inner-container{
            position: relative;
        }
        .inner-container::after{
            right: auto;
            top: 2px;
            left: -25px;
        }
    }
}

@media (max-width: 767px){
    .ordering{
        .inner-container {
            font-size: 11px;
            text-align: left;
            width: 120px;
        }
    }
}
