
@media (max-width: 991px){

    section.page-section-container{
        margin-top: -10px;

        .section-container{
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: #fff;
        }
    }

}