section.pager{
    text-align: center;
    margin-top: 60px;

    nav{
        display: inline-block;
    }
    ul{
        display: inline-block;
        padding-left: 0px;
        list-style-type: none;

        li{
            display: inline-block;
            border-radius: 500px;
            width: 40px;
            height: 40px;
            text-align: center;
            transition: all 0.2s;
            margin-left: 2px;
            margin-right: 2px;

            a{
                display: block;
                font-size: 14px;
                font-weight: 600;
                margin-top: 8px;
                transition: all 0.2s;
            }
        }
        li.active, li.page:hover{
            background-color: $color-curious-blue;

            a{
                color: #fff;
            }
        }
    }
}

@media (max-width: 550px){
    section.pager{
        ul{
            li{
                margin-left: 0px;
                margin-right: 0px;
            }
            li.mobile-invisible{
                display: none;
            }
        }
        .arrow-double-hover.arrow-left {
            margin-right: 10px;
        }
        .arrow-double-hover.arrow-right {
            margin-left: 10px;
        }
    }
}