/*
section.page-preface{
	height: 221px;
	background: #eee;
	background-size: cover;
	background-position: center center;

	h1{
		font-weight: 900;
		font-size: 27px;
		letter-spacing: 0.08em;
		color: #000;
		text-transform: uppercase;
		text-align: center;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		line-height: 35px;
	}
}

@media screen and (max-width: 767px){
	section.page-preface{

		h1{
			width: 510px;
		}
	}
}

@media screen and (max-width: 575px){
	section.page-preface{

		h1{
			font-size: 22px;
			line-height: 32px;
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

@media screen and (max-width: 420px){
	section.page-preface{

		h1{
			font-size: 20px;
			line-height: 30px;
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}*/
