section.project-list{
    margin-top: 105px;

    .container > .card-project:nth-of-type(1){
        margin-top: 0px;
        transform: translateY(-1px);
    }

    h2{
        margin-bottom: 50px;
    }

    .section-container{
        padding-top: 0px;
    }

    header{
        background-color: $color-curious-blue;
        color: #fff;
        font-size: 11px;
        padding: 15px;
        text-transform: uppercase;

        .vertical-center{
            max-width: 160px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 991px){
    section.project-list{
        margin-top: 120px;

        h2{
            text-align: center;
            margin-bottom: 30px;
        }
        header{
            display: none;
        }
        .section-container{
            background-color: #fff;
        }
    }
}