section.search-results{
    .section-container{
        padding-top: 10px;
    }
}

@media (max-width: 600px){
    section.search-results {
        .section-container {
            background-color: transparent;
        }
    }
}