section.service-packages{
    margin-top: 95px;

    .title-description{
        max-width: 560px;
        margin-top: -50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 45px;
    }

    .section-container{
        padding-top: 80px;
    }

    .col-xl-3{
        position: relative;
        z-index: 1;
    }

    .col-xl-3:hover{
        z-index: 2;
    }

    .container > .title-secondary{
        margin-bottom: 80px;
    }
    .card-animation::after{
        background-color: #fff;
    }
    .card-shadow-animation:hover::after{
        background-color: #fff;
    }
    .card-shadow-animation:hover{
        color: $color-curious-blue;

        .text-secondary, ul li{
            color: $color-curious-blue !important;
        }
    }
    .card{
        /*height: 100%;*/
        padding-bottom: 0px;
        background-color: #fff;

        h3, .subtitle, .tax-included{
            transition: all 0.2s;
        }
    }

    .button-secondary{
        z-index: 12;
    }

    .button-center{
        margin-top: 90px;

        .button-primary{
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 1199px){
    section.service-packages {
        .row {
            .col-md-6:nth-of-type(1), .col-md-6:nth-of-type(2) {
                margin-top: 0px;
            }
        }

        .col-md-6 {
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }
}

@media (max-width: 991px){
    section.service-packages{
        .section-container{
            padding-bottom: 110px;
        }
        .button-center{
            margin-top: 80px;
        }
    }
}

@media (max-width: 767px){
    section.service-packages {
        .card-animation {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        .col-md-6 {
            margin-top: 0px;
            margin-bottom: 60px;
        }
        .button-center{
            margin-top: 40px;
        }
    }
}