section.suppliers{
    margin-top: 80px;

    h2{
        margin-bottom: 20px;
    }

    .tns-ovh{
        /*padding-left: 30px;*/

    }
    .tns-inner{
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 30px;
        padding-bottom: 30px;

    }
    /*.tns-inner::after{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        content: "";
        width: 30px;
        background-color: red;
        content: "";
        z-index: 9;
    }*/
    /*.tns-carousel{
        position: relative;
        z-index: 9;
    }*/
    .card-animation{
        background-color: #fff;
    }
    .card-animation .card{
        z-index: 11;
    }
    .card-border-animation::after{

    }

    .card-border-animation:hover::after{
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 0 10px 0 rgb(0,0,0, 0.3);
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
    }
    .card-border{
        text-align: center;
        padding-bottom: 10px;
    }
    .card-animation--gold{
        h3, .price, .more-info a{
            color: $color-sun;
        }
    }
    .card-animation--gold:hover{
        h3, .price{
            color: $color-sun;
        }
    }
    .card-border::after{
        display: none;
    }
    .image-container{
        height: 70px;

        img{
            position: relative;
            max-height: 65px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    h3{
        margin-top: 20px;
        color: $color-curious-blue;
        transition: all 0.2s;
    }
    p{
        height: 110px;
        transition: all 0.2s;
    }
    .more-info{
        opacity: 0;
        transition: all 0.2s;
        transform: translateY(-30px);
        
        a{
            color: $color-curious-blue;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    .price{
        margin-top: 0px;
        margin-bottom: 0px;
        color: $color-curious-blue;
        transition: all 0.2s;
    }
    .tax-included{
        transition: all 0.2s;

    }
    .card-border-animation:hover{
        h3, p{
            transform: translateY(-10px);
        }
        .more-info{
            transform: translateY(-20px);
            opacity: 1;
        }
        .tax-included, .price{
            transform: translateY(10px);
        }
    }
    .button-secondary{
        position: relative;
        transform: translateX(-50%) translateY(-35px);
        left: 50%;
        z-index: 12;
        cursor: pointer;
    }
}

@media (max-width: 1370px){
    section.suppliers{
        .tag-container--center{
            margin-bottom: 70px;
        }
    }
}

@media (max-width: 767px){
    section.suppliers{
        .tag-container--center{
            margin-bottom: 0px;
        }
        .button-scroll{
            display: none;
        }

        .card-border-animation:hover{
            h3, p{
                transform: translateY(0px);
            }
            .more-info{
                transform: translateY(0px);
                opacity: 0;
            }
            .tax-included, .price{
                transform: translateY(0px);
            }
        }

    }
}