section.tag-list{
    margin-top: 10px;

    .tag-small-rounded--inverted:nth-of-type(1){
        margin-left: 0px;
    }
    .tag-small-rounded--inverted:last-of-type(1){
        margin-right: 0px;
    }
}

@media (max-width: 991px){
    section.tag-list{
        text-align: center;

        .tag-small-rounded--inverted{
            border: 1px solid $color-curious-blue;
            color: #000;
            background-color: transparent;
        }
        .tag-small-rounded--inverted.active, .tag-small-rounded--inverted:hover{
            background-color: $color-curious-blue;
            color: #fff;
        }
    }
}