@media (max-width: 991px){

    section.title-description{
        text-align: center;

        .section-container{
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: #fff;
        }
    }

}