.mt-6{
     margin-top: 6rem !important;
}
.mt-7{
    margin-top: 7rem !important;
}
.mt-8{
    margin-top: 8rem !important;
}
.mt-9{
    margin-top: 9rem !important;
}


@media (min-width: 576px){
    .mt-sm-6 {
        margin-top: 6rem !important;
    }
    .mt-sm-7 {
        margin-top: 7rem !important;
    }
    .mt-sm-8 {
        margin-top: 8rem !important;
    }
    .mt-sm-9 {
        margin-top: 9rem !important;
    }
}

@media (min-width: 768px){
    .mt-md-6 {
        margin-top: 6rem !important;
    }
    .mt-md-7 {
        margin-top: 7rem !important;
    }
    .mt-md-8 {
        margin-top: 8rem !important;
    }
    .mt-md-9 {
        margin-top: 9rem !important;
    }
}

@media (min-width: 992px) {
    .mt-lg-6 {
        margin-top: 6rem !important;
    }
    .mt-lg-7 {
        margin-top: 7rem !important;
    }
    .mt-lg-8 {
        margin-top: 8rem !important;
    }
    .mt-lg-9 {
        margin-top: 9rem !important;
    }
}