body{
    font-family: $font-body;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

h2{
    font-weight: 600;
    font-size: 25px;
    text-align: left;
}

h3{
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}


.title-primary{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.19;
    margin-bottom: 15px;
}

.title-secondary{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    margin-bottom: 30px;
}
.title-secondary--light{
    font-weight: 300;
}
.text-center{
    text-align: center;
}
.center-right{
    text-align: right;
}

.strong-primary{

}

.text-primary{
    font-size: 18px;
    font-weight: 400;
    color: #000 !important;
}
.text-secondary{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    color: #000 !important;
}
.text-small-label{
    font-size: 12px;
    text-transform: uppercase;
}
.tax-included, .text-small-label-secondary{
    font-size: 11px;
    text-transform: uppercase;
}

strong{
    font-weight: 600;
}

.text-blue{
    color: $color-curious-blue;
}
.color-sun{
    color: $color-sun;
}

@media (max-width: 500px){
    .title-primary{
        font-size: 24px;
    }
}

@media (max-width: 450px){
    .title-secondary{
        /*font-size: 18px;*/
        margin-top: 20px;
        margin-bottom: 20px;
    }
}