/* black color */
$color-curious-blue: #299bd7;
$color-sun: #faa618;
$color-alabaster: #f9f9f9;
/* white color */

$font-body: Soleil, sans-serif;

$grid-float-breakpoint-max-width: 1310px;

/* media */
$media-lg-max: 1199px;
$media-md-max: 991px;
$media-sm-max: 767px;
$media-max: 575px;