html{ 
	height: 100%;
}
body{ 
	background: #fff;
	height: 100%;
	margin: 0px; 
	padding: 0px;
}
img.aligncenter{ 
	display: block; 
	margin-right: auto; 
	margin-left: auto;
}
img{
	max-width: 100%;
}
a{ 
	color: #000; 
	text-decoration: none 
}
a:hover{ 
	text-decoration: none; 
	color: #000;
}
a:focus{ 
	text-decoration: none;
}



