.page-cart{
    .section-cart{

        .col-content{
            flex: 0 0 780px;
            max-width: 780px;

            .shadow-container{
                box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.15);
                padding: 30px 15px;
            }
            .border-container{
                border: solid 2px $color-curious-blue;
                border-radius: 4px;
            }

            .checkbox{
                .label:before{
                    margin-right: 10px;
                    margin-top: 1px;
                }
                .label{
                    text-transform: none;
                    text-align: left;
                    font-size: 16px;
                }
            }
            .button-center{
                position: relative;
            }
        }
        .col-cart{
            flex: 0 0 calc(100% - 780px);
            max-width: calc(100% - 780px);
        }
    }
    .cart{
        max-width: 290px;
        padding: 12px 15px 30px;
        box-shadow: 0 2px 42px 0 rgba(41, 155, 215, 0.5);
        border-radius: 4px;
        margin-left: auto;
        margin-top: -155px;
        background-color: #fff;

        .icon{
            border: 2px solid $color-sun;
            width: 77px;
            height: 77px;
            text-align: center;
            border-radius: 500px;
            margin-left: auto;

            img{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .order{
            margin-top: -15px;
            font-size: 13px;
            width: 225px;
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            font-weight: 300;
            margin-top: 2px;
            margin-bottom: 40px;
            width: 225px;
            color: $color-sun;
            margin-left: auto;
            margin-right: auto;
        }
        .price-container{
            padding: 15px;
            border-radius: 4px;
            background-color: #f9f9f9;
            margin-bottom: 30px;

            .title-secondary{
                color: $color-sun;
                margin-top: 2px;
                margin-bottom: 0px;
            }
        }

        .button-center{
            margin-top: 20px;
        }
        .button-secondary{
            width: 100%;
        }
    }
    .cart--mobile{
        display: none;
    }
    .required-info{
        margin-top: 15px;
        text-align: right;
        padding-right: 15px;

        img{
            vertical-align: top;
            margin-top: 7px;
            margin-right: 10px;
        }
    }
    .cart-footer{
        .button-center{
            display: none;
        }
        .required-info{
            display: none;
        }
        .button-primary{
            margin-top: 20px;
            margin-left: 0px;
            margin-right: 0px;
            min-width: auto;
            float: right;
        }
        .button-secondary{
            margin-top: 15px;
            min-width: 250px;
        }
    }
    .checkbox--text-light{
        .inline-container {
            width: calc(100% - 40px);
            font-size: 13px;
            line-height: normal;
            font-weight: 400;
        }
    }
}

@media (max-width: 1199px){
    .page-cart{
        .section-cart{
            .col-cart{
                display: none;
            }
            .col-content{
                flex: 0 0 100%;
                max-width: 100%;
                max-width: 780px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .cart--mobile{
            display: block;
            margin-top: 15px;
            margin-right: auto;
            max-width: 520px;
            padding-bottom: 20px;

            .icon{
                margin-right: auto;
                margin-top: -40px;
                background-color: #fff;
            }
            .order{
                width: 100%;
                text-align: center;
                margin-top: 15px;
            }
            h3{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
            }
            .price-container{
                text-align: center;
            }
        }
        .cart-footer{
            position: relative;
            z-index: 2;
            margin-top: -40px;

            .button-center{
                display: block;
                padding: 30px 15px;
                box-shadow: 0 2px 42px 0 rgba(41, 155, 215, 0.5);
                background-color: #fff;
                border-radius: 4px;

                .button-tertiary{
                    margin-top: 0px;
                }
            }
            .required-info{
                margin-top: 30px;
                display: block;
                float: right;
            }
            .button-primary{
                border: none;
                padding-left: 0px;
                padding-right: 0px;
            }
            .button-primary:hover{
                background-color: transparent;
                color: #000;
            }
        }
    }
}

/*
@media (max-width: 767px){
    .page-cart{
        .section-cart{

            .col-content{
                .shadow-container{
                    padding: 30px 15px;
                }
            }
        }
    }
}*/
