.page-order-summary{
    .shadow-container{
        .subtitle{
            font-size: 13px;
            margin-bottom: 3px;
        }
        .title-secondary{
            margin-top: 0px;
            margin-bottom: 40px;
            font-weight: 300;
        }
        .row-container{
            padding-left: 12px;
            padding-right: 12px;

            .row:nth-last-of-type(1){
                border-bottom: 1px solid #eee;
            }
        }
        .row{
            border-top: 1px solid #eee;
            padding: 7px 0px;

            .col-6:nth-of-type(1){
                padding-right: 12px;
            }
        }
        .col-6, .col-md-6{
            position: relative;
            padding-left: 0px;
            padding-right: 0px;
        }
        h2{
            font-size: 16px;
            font-weight: 600;
            margin-top: 45px;
            margin-bottom: 10px;
        }
        .roll-down{
            position: relative;
            padding-right: 0px;
            height: 0px;
            overflow-y: hidden;
            margin-top: 5px;
            margin-left: -12px;
            margin-right: -12px;
        }
        .roll-down.opened{
            height: auto;
        }
        .roll-down-arrow{
            display: block;
            cursor: pointer;
            float: right;
            margin-top: -15px;
            transform: translateX(-3px) rotate(90deg);
        }
        .billing-information{
            .row{
                .edit-icon{
                    position: absolute;
                    top: 2px;
                    right: 15px;
                    content: "";
                    width: 22px;
                    height: 23px;
                    background: url("../img/pen.png") no-repeat;
                    background-size: 100%;
                    opacity: 0;
                    transition: all 0.2s;
                    cursor: pointer;
                }
                .col-6:nth-of-type(2):hover .edit-icon{
                    opacity: 1;
                }
            }
            .text.hidden{
                display: none;
            }
            input{
                display: none;
                width: 100%;
                border: none;
                padding: 0px
            }
            input.editable{
                display: block;
            }
            input.editable + .edit-icon{
                display: none;
            }
        }
    }
    .cart-footer{
        margin-top: 30px;
    }
}

@media (max-width: 767px){
    .page-order-summary{
        .shadow-container{
            .billing-information{
                .row {
                    .edit-icon{
                        right: 0px;
                    }
                }
            }
        }
    }
}

