.page-payment-details{
    section.section-cart{
        .col-content{
            .shadow-container:nth-of-type(1){
                padding-left: 45px;

                .checkbox{
                    .label:before {
                        margin-right: 15px;
                    }
                }
            }
            .shadow-container:nth-of-type(2){
                margin-top: 40px;

                h2{
                    padding-left: 80px;
                }
            }

            ul.check-list{
                margin-top: 15px;
                padding-left: 40px;
                font-size: 14px;

                li:before {
                    top: 3px;
                    left: -38px;
                }
            }
            .radio-border-container{
                border-radius: 5px;
                border: solid 1px transparent;
                transition: all 0.2s;
                margin-bottom: 12px;
            }
            .radio-button-container{
                padding: 15px 30px 15px 80px;
                border-radius: 4px;
                border: solid 1px #dedede;
                font-size: 24px;
                font-weight: 300;
                transition: all 0.2s;
                margin-bottom: 0px;

                .checkmark{
                    top: 22px;
                    left: 30px;
                }

                img{
                    max-height: 30px;
                    margin-top: 5px;
                    float: right;
                }
            }
            .radio-button-container:hover, .radio-border-container:hover{
                border: solid 1px $color-curious-blue;
            }
            /*.radio-button-container:hover input ~ .checkmark:after {
                display: block;
            }*/
        }
    }
}

@media (max-width: 767px){
    .page-payment-details {
        section.section-cart {
            .col-content{
                .shadow-container:nth-of-type(1){
                    padding-left: 15px;

                    .checkbox{
                        .label:before {
                            margin-right: 15px;
                        }
                    }
                }
                .shadow-container:nth-of-type(2){

                    h2{
                        padding-left: 0px;
                    }
                }
                .radio-button-container{
                    padding: 15px 15px 15px 60px;
                    font-size: 16px;

                    .checkmark{
                        top: 15px;
                        left: 15px;
                    }

                    img{
                        display: block;
                        margin-top: 10px;
                        float: none;
                    }
                }
            }
        }
    }
}
