$icon-font-path: './vendors/fonts/bootstrap/'; 

$grid-float-breakpoint: 1311px !default;

$modal-fade-transform: translate(0, -10px);

@import "../libs/bootstrap-sass/bootstrap.scss";

@import '_lib/center-block',
		'_lib/change-items-order',
		'_lib/clearfix',
		'_lib/col-container',
		'_lib/col-five',
		'_lib/vertical-center',
		'_lib/vertical-horizontal-center';

@import 'base/margin',
		'base/variables',
		'base/text',
		'base/base';

@import 'components/button/button-animation',
		'components/button/button-arrow',
		'components/button/button-back',
		'components/button/button-center',
		'components/button/button-close',
		'components/button/button-continue',
		'components/button/button-icon',
		'components/button/button-more',
		'components/button/button-plus',
		'components/button/button-preview',
		'components/button/button-primary',
		'components/button/button-scroll',
		'components/button/button-secondary',
		'components/button/button-tertiary',
		'components/card/card',
		'components/card/card-advertising',
		'components/card/card-border',
		'components/card/card-border-hover',
		'components/card/card-content-two-col',
		'components/card/card-event',
		'components/card/card-grant-expert',
		'components/card/card-grant-resource',
		'components/card/card-header-summary',
		'components/card/card-job-offer',
		'components/card/card-logo',
		'components/card/card-project',
		'components/card/card-shadow',
		'components/card/card-shadow-hover',
		'components/form/checkbox',
		'components/form/checkbox-popup',
		'components/form/custom-form-control',
		'components/form/datepicker',
		'components/form/form-label',
		'components/form/input',
		'components/form/input-call-to-action',
		'components/form/input-icon',
		'components/form/input-required',
		'components/form/input-search',
		'components/form/radio-button',
		'components/form/selectbox',
		'components/form/textarea',
		'components/menu/cart-submenu',
		'components/menu/menu-fixed-bottom',
		'components/menu/menu-main',
		'components/menu/menu-mobile',
        'components/menu/menu-simple',
		'components/menu/menu-top',
		'components/menu/page-submenu',
		'components/modal/icon-content-container',
		'components/modal/modal-dictionary',
		'components/modal/modal-eligibility',
		'components/modal/modal-grant-radar',
		'components/modal/modal-login',
		'components/modal/modal-menu-fixed',
		'components/modal/modal-order-cancellation',
		'components/modal/modal-player',
		'components/modal/modal-webinar',
		'components/modal/modal-webinars',
		'components/section/achieved-results',
		'components/section/advertising',
		'components/section/billing-information',
		'components/section/blog',
		'components/section/card-event-list',
		'components/section/description-benefit',
		'components/section/e-learning-advantages',
		'components/section/card-title-header',
		'components/section/company-name',
		'components/section/contents-text',
		'components/section/filter',
		'components/section/filter-fixed-header',
		'components/section/grant-education',
		'components/section/grant-radar',
		'components/section/grant-steps',
		'components/section/ordering',
        'components/section/page-preface',
		'components/section/page-section-container',
		'components/section/pager',
		'components/section/project-list',
		'components/section/search-results',
		'components/section/service-packages',
		'components/section/suppliers',
		'components/section/tag-list',
		'components/section/title-description',
		'components/arrow-double-hover',
		'components/arrow-double-link',
		'components/arrow-link',
		'components/button-line-container',
		'components/check-list',
		'components/circle-progressbar',
		'components/diagram-arrow',
		'components/grant-resources-list',
		'components/form',
		'components/home-right-container',
		'components/price-button',
		'components/question-yes-no',
		'components/modal',
		'components/nav-tabs',
		'components/page-title',
		'components/roll-down-list',
		'components/row-line',
		'components/row-line-grid',
		'components/section-container',
		'components/social-media-icon',
		'components/tag',
		'components/tag-rectangle',
		'components/tag-search',
		'components/tag-small-rounded',
		'components/tns-carousel',
		'components/tooltip';

@import 'layout/site-container/container',
		'layout/site-container/container-780',
		'layout/site-container/container-full-width',
		'layout/site-container/page-container',
		'layout/site-container/site-container',
		'layout/site-container/site-content',
        'layout/header',
        'layout/footer';

@import 'pages/about-us/contact',
		'pages/about-us/faq',
		'pages/about-us/how-we-works',
		'pages/about-us/partners',
		'pages/about-us/who-we-are',
		'pages/cart/billing-info',
		'pages/cart/cart',
		'pages/cart/order-summary',
		'pages/cart/payment-details',
		'pages/grant-education/custom-training',
		'pages/grant-education/e-learning-detail',
		'pages/grant-education/grant-education',
		'pages/grant-education/video-dictionary',
		'pages/grant-jobs/expert-database',
		'pages/grant-jobs/grant-jobs',
		'pages/grant-jobs/job-offer',
		'pages/grant-jobs/job-offer-detail',
		'pages/services/services',
		'pages/services/individual-services',
		'pages/services/service-packages',
		'pages/blog-detail',
		'pages/blog-list',
		'pages/grant-database',
		'pages/grant-detail',
		'pages/grant-search',
		'pages/home',
		'pages/registration',
		'pages/request-quote',
		'pages/404';











