#site-footer{
	margin-top: 150px;
	width: 100%;
    color: #145070;
    font-size: 15px;

    .container{
        position: relative;
        max-width: 974px;
    }

    .social-icons{
        margin-bottom: 40px;

        a{
            margin-right: 25px;
        }
    }

    .main-footer-menu{
        padding-bottom: 20px;
    }
    .contact{
        border-top: 1px solid #dedede;
        padding-bottom: 20px;
        padding-top: 20px;

        a{
            color: #145070;
        }
        ul.menu-simple{
            li{
                margin-top: 0px;
            }
        }
        address{
            margin-bottom: 0px;
        }
    }
    .collumn-tablet{
        display: none;
    }
    .collumn-1{
        flex: 0 0 40%;
        max-width: 40%;
    }
    .collumn-2{
        flex: 0 0 40%;
        max-width: 40%;
    }
    .collumn-3{
        flex: 0 0 20%;
        max-width: 20%;
    }

    .copyright{
    	text-align: left;
        border-top: 1px solid #dedede;
        padding-top: 20px;
        padding-bottom: 95px;
    }
}

.home #site-footer {
    margin-top: 20px;
}

@media (max-width: 991px){
    #site-footer{
        margin-top: 140px;

        > .container > .button-scroll{
            top: -60px;
        }

        .container{
            padding-left: 30px;
            padding-right: 30px;
        }
        .collumn-tablet{
            display: block;
        }
        .main-footer-menu{
            .row .col:nth-of-type(5){
                display: none;
            }
        }
        .collumn-tablet, .collumn-1, .collumn-2, .collumn-3{
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    .home #site-footer {
        margin-top: 140px;
    }
}

@media (max-width: 767px){
    #site-footer{
        .main-footer-menu, .collumn-tablet{
            display: none;
        }
        .social-icons{
            text-align: center;

            a:nth-last-of-type(1){
                margin-right: 0px;
            }
        }
        .contact{
            border-top: 0px;
        }
        .collumn-tablet, .collumn-1, .collumn-2, .collumn-3{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .collumn-3{
            margin-top: 30px;
        }
        .collumn-1{
            border-top: 1px solid #dedede;
            margin-top: 30px;
            padding-top: 15px;
        }
        .copyright{
            text-align: center;
            padding-bottom: 30px;
        }

    }
}