#site-header{ 
	position: relative;
    top: 0px;
    background: #fff;
	z-index: 999;
    transition: all 0.5s ease-in-out, box-shadow 0.1s ease-in-out;
    /*height: 75px;*/

    .container-fluid{
        max-width: 1920px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .top-part{
        background-color: #eeeeee;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .social-media{
            flex: 0 0 20%;
            max-width: 20%;
            
            a{
                display: inline-block;
                margin-top: -2px;
                margin-right: 25px;
                vertical-align: top;
            }
        }
        .col-menu{
            flex: 0 0 80%;
            max-width: 80%;
            text-align: right;
        }
    }
    
    .col-logo{
        .logo{ 
        	padding: 10px 0px;
        }
        .logo-mobile{
            display: none;
        }

        flex: 230px;
        max-width: 230px;
    }
    .col-menu{ 
    	text-align: right;
        flex: 0 0 calc(100% - 230px);
        max-width: calc(100% - 230px);
    }
    .mobile-page-title{
        display: none;
    }
}

#site-header.site-header--fixed{
    position: fixed; 
    z-index: 1000;
    width: 100%;
}

#site-header.site-header--shadow{
    box-shadow: 0px 0px 10px 0px #dbdbdb;
}

.home{
    #site-header{
        .mobile-page-title{
            .title{
                display: none;
            }
        }
    } 
}

@media screen and (max-width: $grid-float-breakpoint-max-width){
    #site-header{
        &.site-header--fixed_mobile{
            position: fixed; 
            z-index: 1000;
            width: 100%;
        }
        &.nav-up{
            top: -70px; 
        }
        &.site-header--small_mobile{
            /*height: 41px;*/

            .col-logo{
                .logo{ 
                    /* height: 50px;
                    margin-top: 5px; 
                    margin-bottom: 0px; */
                }
            }
            .col-menu .menu-main .icon .wrapper{
                /* margin-top: 5px; */
            }
        }
        &.site-header--shadow_mobile{
            box-shadow: 0px 0px 10px 0px #dbdbdb;
        }
        
        .top-part{
            display: none;
        }
        .mobile-page-title{
            display: block;
            flex: 0 0 calc(100% - 66px);
            max-width: calc(100% - 66px);
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;

            .title{
                margin-top: 23px;
                margin-right: 20px;
            }

        }

    }
}

@media (max-width: 991px) {

    body:not(.home){
        #site-header{
            .col-logo{
                flex: 0 0 60px;
                max-width: 60px;

                .logo-desktop{
                    display: none;
                }
                .logo-mobile{
                    display: block;
                    width: 35px;
                }
            }
            .col-menu{
                flex: 0 0 calc(100% - 60px);
                max-width: calc(100% - 60px);
            }
            .mobile-page-title{
                text-align: center;

                .title{
                    margin-top: 23px;
                    margin-left: 12px;
                    margin-right: 12px;
                }

            }
        }
    }
}

@media (max-width: 660px) {
    #site-header {
        .container-fluid {
            padding-left: 15px;
            padding-right: 5px;
        }
    }
}