.page-individual-services{
    .menu-individual-services{
        margin-top: -10px;

        .section-container{
            padding-top: 70px;
            padding-bottom: 50px;
        }
        ul{
            padding-left: 0px;
            list-style-type: none;
            margin-bottom: 0px;

            li:nth-of-type(1){
                margin-top: 0px;
            }
            li{
                margin-top: 12px;
                margin-bottom: 12px;
            }
        }
        .col-title{
            flex: 0 0 35%;
            max-width: 35%;
        }
        .col-menu-left{
            flex: 0 0 32.5%;
            max-width: 32.5%;
        }
        .col-menu-right{
            flex: 0 0 32.5%;
            max-width: 32.5%;
        }
    }
    section.cards{
        margin-top: 40px;

        .col-lg-6{
            margin-top: 15px;
            margin-bottom: 15px;

        }
        .card-animation::after{
            border-radius: 12px;
            border: none;
        }
        .card-shadow-animation{

        }
        .card-shadow:hover {
            color: #000;
        }
        .card-shadow-animation:hover .button-secondary{
            background-color: #000;
        }
        .card{
            position: relative;
            text-align: left;
            padding: 80px 85px 208px;

            .card-icon-container{
                height: 55px;
            }
            img{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                max-height: 55px;
            }
            h2{
                margin-top: 8px;
                color: $color-curious-blue;
            }
            p{
                margin-top: 15px;
                max-width: 340px;
            }
            .input-animation{
                margin-top: 40px;
            }
            .footer-button-container{
                position: absolute;
                bottom: 30px;
                left: 85px;
                right: 85px;
            }
            footer{
                margin-top: 25px;
                background-color: $color-alabaster;
                padding: 15px 15px 0px;
                border-radius: 4px;
                height: 92px;

                .title-secondary{
                    margin-bottom: 16px;
                }

                .price-container{
                    flex: 0 0 calc(100% - 156px);
                    max-width: calc(100% - 156px);
                }
                .button-container{
                    flex: 0 0 156px;
                    max-width: 156px;
                    margin-bottom: 16px;
                }
                .tax-included{
                    margin-top: 8px;
                }
                .button-secondary{
                    position: static;
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 156px;
                    text-transform: uppercase;
                    transform: translateX(0px) translateY(0px);
                }
                .button-secondary:hover{
                    background-color: $color-sun;
                }
            }
        }
        .card-animation.footer-on-hover{
            .card{
                padding-bottom: 180px;
            }
            footer{
                transition: all 0.2s;
                opacity: 0;
            }
            .button-center{
                margin-top: 20px;
            }
        }
        .card-animation.footer-on-hover:hover{
            footer{
                opacity: 1;
            }
        }
    }
    section.service-packages{
        margin-top: 100px;

        .button-center{
            margin-top: 90px;
        }
    }
}

@media (max-width: 1199px){
    .page-individual-services{
        .menu-individual-services{
            .col-title{
                flex: 0 0 30%;
                max-width: 30%;
            }
            .col-menu-left, .col-menu-right{
                flex: 0 0 35%;
                max-width: 35%;
            }
        }

        section.cards{
            .card{
                padding-left: 50px;
                padding-right: 50px;

                .footer-button-container{
                    left: 50px;
                    right: 50px;
                }
            }
        }
    }
}
@media (max-width: 991px){
    .page-individual-services{
        .menu-individual-services{
            .section-container{
                padding-top: 50px;
                padding-bottom: 50px;
            }
            .col-title{
                flex: 0 0 100%;
                max-width: 100%;
                
                h1{
                    text-align: center;
                    margin-bottom: 50px;
                }
                br{
                    display: none;
                }
            }
            .col-menu-left, .col-menu-right{
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        section.cards {
            .card-animation{
                max-width: 515px;
                margin-left: auto;
                margin-right: auto;
            }
            .card-animation.footer-on-hover{
                .card{
                    padding-bottom: 100px;
                }
                footer{
                    display: none;
                }
            }
            .card{
                padding-left: 85px;
                padding-right: 85px;
            }
        }
    }
}

@media (max-width: 767px){
    .page-individual-services{
        .menu-individual-services{
            margin-top: -30px;

            .section-container{
                background-color: #fff;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .col-title{
                h1{
                    text-align: left;
                }
            }
            .col-menu-left, .col-menu-right{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 520px){
    .page-individual-services{
        section.cards {
            .card{
                padding-left: 50px;
                padding-right: 50px;

                .footer-button-container{
                    left: 50px;
                    right: 50px;
                }
            }
        }
    }
}

@media (max-width: 450px){
    .page-individual-services{
        section.cards {
            .col-lg-6{
                padding-bottom: 50px;
            }
            .card{
                padding: 30px 20px 20px;
                

                .icon{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                }

                .footer-button-container{
                    position: static;
                    margin-bottom: -60px;

                    .button-center{
                        transform: translateY(5px);
                    }
                }

                footer.mobile-full-width-col{
                    height: auto;

                    .price-container{
                        flex: 0 0 100%;
                        max-width: 100%;
                        text-align: center;
                    }
                    .button-container{
                        flex: 0 0 100%;
                        max-width: 100%;

                        .button-secondary{
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
            .card-animation.footer-on-hover{
                .card{
                    padding-bottom: 60px;
                }
                .footer-button-container .button-center{
                    transform: translateY(45px);
                }
            }
        }
    }
}