.page-services{
    .page-submenu{
        li{
            max-width: 205px;
        }
    }
}

@media (max-width: 1199px){
    .page-services {
        .page-submenu {
            margin-bottom: 35px;
        }
    }
}