.page-service-packages{
    section.service-packages{
        margin-top: -10px;

        .section-container{
            padding-bottom: 130px;
        }
        .row-cards{
            margin-top: -110px;
        }
        .card{
            .title-secondary{
                margin-bottom: 10px;
            }
        }
    }
    section.package-comparison{
        margin-top: 80px;

        .package-comparison--mobile{
            display: none;
        }

        .section-container{
            padding-top: 70px;
            padding-bottom: 20px;
        }

        .container{
            > .col-container{
                border-bottom: 1px solid #dedede;
            }
            > .col-container:nth-last-of-type(1){
                border-bottom: none;
            }
        }

        .row-header{
            margin-top: 70px;
        }
        .col-description{
            flex: 0 0 280px;
            max-width: 280px;
            border-right: 1px solid #dedede;
            padding-top: 15px;
            padding-bottom: 15px;

            .col-text{
                flex: 0 0 200px;
                max-width: 200px;
            }
            .col-info{
                flex: 0 0 70px;
                max-width: 70px;
                padding-left: 20px;

                svg{
                    .bg, .symbol-circle, .symbol-path{
                        transition: all 0.2s;
                    }
                }
                svg:hover{
                    .bg{
                        fill: $color-curious-blue !important;
                    }

                    .symbol-path{
                        stroke: #fff !important;
                    }
                    .symbol-circle{
                        fill: #fff !important;
                    }
                }
            }
        }
        .col-package{
            flex: 0 0 200px;
            max-width: 200px;
            border-right: 1px solid #dedede;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;

            img{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .title-secondary{
                margin-top: 0px;
                margin-bottom: 20px;
            }
            .text-blue, .color-sun{
                margin-top: 5px;
            }
            .count{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-size: 24px;
                color: $color-curious-blue;
                font-weight: 300;
            }
        }
    }

    section.roll-down{
        margin-top: 110px;

        .container-780{
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

@media (max-width: 1199px){
    .page-service-packages{
        section.package-comparison{
            .col-description {
                flex: 0 0 260px;
                max-width: 260px;

                .col-text {
                    flex: 0 0 200px;
                    max-width: 200px;
                }

                .col-info {
                    flex: 0 0 50px;
                    max-width: 50px;
                    padding-left: 15px;
                }
            }
            .col-package {
                flex: 0 0 160px;
                max-width: 160px;
            }
            .button-secondary{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}
@media (max-width: 991px){
    .page-service-packages {
        section.service-packages {
            .section-container {
                padding-top: 50px;
                background-color: transparent;
            }

            h2 {
                text-align: center;
                margin-bottom: 25px;
            }

            .text-primary {
                text-align: center;
                margin-bottom: 30px;
            }

            .button-center {
                display: none;
            }
        }
        section.package-comparison{
            margin-top: 100px;

            .package-comparison--desktop{
                display: none;
            }
            .package-comparison--mobile{
                display: block;
                margin-top: 40px;
            }
            .section-container{
                background-color: #fff;
                
                h2{
                    text-align: center;
                    
                    br{
                        display: none;
                    }
                }
                p{
                    text-align: center;
                }
            }
            .tabs-container{
                width: 532px;
            }
            .nav-tabs li .nav-link:not(.active){
                color: #000;
            }
            .nav-tabs li .nav-link{
                width: 115px;
            }
            .tab-content{
                margin-top: 40px;
            }
            .title-secondary{
                text-align: center;
                margin-bottom: 10px;
            }
            .title-description{
                text-align: center;
                margin-bottom: 30px;
            }
            .col-container{
                border-top: 1px solid #dedede;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .col-text{
                flex: 0 0 300px;
                max-width: 300px;

                .title-secondary{
                    margin-top: 0px;
                }
            }
            .col-info{
                flex: 0 0 70px;
                max-width: 70px;
                padding-left: 20px;
            }
            .col-package{
                position: relative;
                flex: 0 0 calc(100% - 370px);
                max-width: calc(100% - 370px);
                border-right: none;
                text-align: right;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 30px;

                img{
                    margin-right: 0px;
                }
            }
            .title-secondary.color-sun, .title-secondary.text-blue{
                text-align: left;
            }
            .button-secondary{
                padding-left: 50px;
                padding-right: 50px;
            }
            .col-container:nth-last-of-type(1){
                .col-text{
                    flex: 0 0 calc(100% - 175px);
                    max-width: calc(100% - 175px);
                }
                .col-package {
                    flex: 0 0 175px;
                    max-width: 175px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }

        section.roll-down {
            .container-780 {
                max-width: 720px;
            }
        }

    }
}

@media (max-width: 767px){
    .page-service-packages{
        section.package-comparison {
            margin-top: 30px;
        }
        section.roll-down {
            margin-top: 90px;

            .container-780 {
                max-width: 540px;
            }
        }
    }
}

@media (max-width: 600px){
    .page-service-packages{
        section.package-comparison{
            .tabs-container{
                width: 332px;
            }
            .nav-tabs li .nav-link{
                width: 65px;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}
@media (max-width: 500px){
    .page-service-packages{
        section.service-packages {
            .section-container {
                padding-top: 0px;
            }
        }
        section.package-comparison{
            .col-text{
                flex: 0 0 calc(100% - 120px);
                max-width: calc(100% - 120px);
            }
            .col-info{
                flex: 0 0 50px;
                max-width: 50px;
                padding-left: 15px;
            }
            .col-package {
                flex: 0 0 70px;
                max-width: 70px;
            }
        }
    }
}
@media (max-width: 400px){
    .page-service-packages {
        section.package-comparison {
            .col-text{
                font-size: 15px;

                .title-secondary{
                    font-size: 19px;
                }
            }

            .tabs-container{
                width: 290px;
            }
            .nav-tabs li .nav-link{
                width: auto;
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }

}