.button-secondary{
    display: inline-block;
    border-radius: 4px;
    padding: 20px 40px;
    font-size: 14px;
    letter-spacing: 0.42px;
    font-weight: 600;
    border: 0px;
    background-color: #000;
    transition: all 0.2s;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.button-secondary:hover{
    background-color: $color-sun;
    color: #fff;
}