.button-animation{
    position: relative;
    .button-tertiary{
        position: relative;
        z-index: 10;
        background-color: transparent;
    }
}

.button-animation::after{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    border-radius: 500px;
    background-color: $color-curious-blue;
    transition: all 0.2s;
    z-index: 1;
}
.button-animation:hover{
    .icon-container{
        img:nth-of-type(1){
            transform: translateX(4px);
        }
        img:nth-of-type(2){
            transform: translateX(7px);
        }
    }
}
.button-animation:hover::after{
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: $color-sun;
}