.button-continue.button-tertiary{
    position: relative;
    margin-top: 20px;
    height: 48px;
    padding: 13px 80px 12px 50px;
}
.button-continue:hover .icon-container::before{
    transform: translateX(-50%) translateY(calc(-50% + 2px));
    height: 31px;
}

.button-continue:hover .icon-container::after{
    transform: translateX(-50%) translateY(calc(-50% - 8px)) rotate(90deg);
}
.button-continue .button-scroll{
    top: -38px;
    left: auto;
    right: -105px;
    background-color: transparent;
}