.button-more{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 3px;
    width: 26px;
    height: 26px;
    border-radius: 500px;
    border: 1px solid $color-curious-blue;
    background-color: transparent;
}

.button-more--sun{
    border: 1px solid $color-sun;
}

.button-more--bg-white{
    background-color: #fff;
    border: 1px solid #fff;
}

.button-more::after{
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../img/svg/plus-black.svg");
    background-size: 100%;
    width: 10px;
    height: 10px;
}