.button-arrow{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    vertical-align: top;
    margin-top: 25px;
    border: none;
    background-color: transparent;

    .arrow-left{
        display: inline-block;
        width: 34px;
        height: 34px;
        border: 1px solid #eee;
        border-radius: 500px;
        background: url("../img/svg/arrow-blue.svg");
        background-repeat: no-repeat;
        background-position: center center;
        transform: rotate(180deg);
        transition: all 0.2s;
    }

    .label{
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        margin-left: 15px;
        transition: all 0.2s;
        text-transform: uppercase;
    }
}
.button-arrow:hover{
    .arrow-left{
        border: 1px solid $color-curious-blue;
    }
    .label{
        color: $color-curious-blue;
    }
}