
.button-close--blue{
    position: relative;
    width: 34px;
    height: 34px;
    background-color: #fff;
    border: solid 1px #eee;
    border-radius: 500px;
}
.button-close--blue::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../img/svg/plus-blue.svg");
    background-repeat: no-repeat;
}

