.button-scroll{
    position: relative;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    background-color: yellow;
    border: 0px;
    border-radius: 500px;
    z-index: 100;
    padding: 0px
}

.button-scroll .icon-container{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*transform: translateX(-50%) translateY(-50%);

    height: 31px;
    width: 16px;*/
}
.button-scroll .icon-container::before{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 2px;
    transform: translateX(-50%) translateY(-50%);
    background-color: $color-curious-blue;
    content: "";
    transition: all 0.2s;
}
.button-scroll .icon-container::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    content: "";
    background-image: url('../img/svg/arrow-scroll.svg');
    width: 16px;
    height: 13px;
    background-color: transparent;
    transition: all 0.2s;
}

.button-scroll:hover .icon-container::before{
    /*top: 12px;*/
    transform: translateX(-50%) translateY(calc(-50% + 2px));
    height: 31px;
}

.button-scroll:hover .icon-container::after{
    transform: translateX(-50%) translateY(calc(-50% - 8px)) rotate(90deg);
    /*top: 12px;*/
}

.button-border--white{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*width: 100%;
    height: 100%;*/
    background-color: #fff;
    border-radius: 500px;
    transition: all 0.2s;
    z-index: 1;
}
.button-border--gray{
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    /*width: 100%;
    height: 100%;*/
    background-color: #f6f8fb;
    border-radius: 500px;
    transition: all 0.2s;
    z-index: 1;
}

.button-scroll:hover{

    .button-border--white{
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        z-index: 1;
    }
    .button-border--gray {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}

.button-scroll--left{
    transform: rotate(-90deg);
}
.button-scroll--right{
    transform: rotate(90deg);
}
.button-scroll--down{
    transform: rotate(180deg) translateX(27px);
}

.button-scroll--white .icon-container::after {
    background-image: url('../img/svg/arrow-scroll-white.svg');
}

.button-scroll--white .icon-container::before{
    background-color: #fff;
}

