.button-icon{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .icon-container{
        flex: 0 0 30px;
        max-width: 30px;
        text-align: left;

        img{
            vertical-align: top;
            display: inline-block;
            transition: all 0.2s;
            /*margin-top: 15px;*/
        }
        img:nth-of-type(2){
            margin-left: -10px;
        }
    }
    .label-container{
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
        text-align: center;
    }
}

.button-tertiary.button-icon{
    .label-container{
        margin-top: 1px;
    }
}

.button-tertiary.button-icon--auto-width{
    display: inline-block;
    width: auto;
    padding: 7px 23px 7px 23px;

    .icon-container{
        flex: 1;

        img{
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .label-container{
        flex: 1;
        max-width: none;
        padding-left: 23px;
    }
}

@media (max-width: 600px){
    .button-icon{
        .icon-container{
            img{
               /* margin-top: 8px;*/
            }
        }
    }
}