.button-plus-container{
    position: absolute;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    bottom: 0px;
    cursor: pointer;
    z-index: 4;
    transform: translateX(-50%);

    .label{
        margin-top: 15px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
    }
}
.button-plus{
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    background-color: yellow;
    border: 0px;
    border-radius: 500px;
    z-index: 100;
    padding: 0px
}

.button-plus .icon-container{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*transform: translateX(-50%) translateY(-50%);

    height: 31px;
    width: 16px;*/
}
/*.button-plus .icon-container::before{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 2px;
    transform: translateX(-50%) translateY(-50%);
    background-color: $color-curious-blue;
    content: "";
    transition: all 0.2s;
}*/
.button-plus .icon-container::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: "";
    background-image: url('../img/svg/plus-blue.svg');
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-color: transparent;
    transition: all 0.2s;
}

/*.button-plus:hover .icon-container::before{
    !*top: 12px;*!
    transform: translateX(-50%) translateY(calc(-50% + 2px));
    height: 31px;
}*/

.button-plus-container:hover .button-plus .icon-container::after{
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.button-border--white{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*width: 100%;
    height: 100%;*/
    background-color: #fff;
    border-radius: 500px;
    transition: all 0.2s;
    z-index: 1;
}
.button-border--gray{
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    /*width: 100%;
    height: 100%;*/
    background-color: #f6f8fb;
    border-radius: 500px;
    transition: all 0.2s;
    z-index: 1;
}

.button-plus-container:hover{

    .button-border--white{
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        z-index: 1;
    }
    .button-border--gray {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}




