.button-primary{
    display: inline-block;
    border-radius: 500px;
    padding: 15px 58px;
    font-size: 14px;
    letter-spacing: 0.42px;
    font-weight: 600;
    border: 1px solid $color-curious-blue;
    background-color: #fff;
    transition: all 0.2s;
    text-transform: uppercase;
    height: 53px;
    vertical-align: top;
    margin-top: 7px;
    margin-bottom: 7px;
}
.button-primary:hover{
    background-color: $color-curious-blue;
    color: #fff;
}

.button-primary--small-padding{
    height: auto;
    padding: 10px 30px;
}

.button-center{
    .button-primary{
        margin-left: 15px;
        margin-right: 15px;
    }
}

.button-primary--reverse{
    background-color: $color-curious-blue;
    color: #fff;
}
.button-primary--reverse:hover{
    background-color: #fff;
    border: 1px solid $color-curious-blue;
    color: #000;
}

@media (max-width: 767px){
    .button-primary{
        min-width: 219px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
.button-center{
    .button-primary{
        margin-left: 2px;
        margin-right: 2px;
    }
}