.button-back.button-primary{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    height: 48px;
    padding: 13px 30px 12px 60px;
}
.button-back:hover .icon-container::before{
    transform: translateX(-50%) translateY(calc(-50% + 2px));
    background-color: #fff;
    height: 31px;
}

.button-back:hover .icon-container::after{
    transform: translateX(-50%) translateY(calc(-50% - 8px)) rotate(90deg);
    background-image: url('../img/svg/arrow-scroll-white.svg');
}
.button-back .button-scroll{
    position: absolute;
    top: -5px;
    left: 0px;
    right: -105px;
    background-color: transparent;
}