.button-tertiary{
    background-color: $color-curious-blue;
    color: #fff;
    border: 0px;
    font-size: 14px;
    letter-spacing: 0.42px;
    font-weight: 600;
    transition: all 0.2s;
    /*padding: 14px 20px 10px 25px;*/
    padding: 13px 50px 14px;
    text-transform: uppercase;
    border-radius: 500px;
}

.button-tertiary--reverse{
    background-color: $color-sun;

    .arrow-download{
        .arrow{
            transition: all 0.2s;
        }
    }
}

/*.button-tertiary--padding{
    !*padding: 12px 50px;*!
    padding: 13px 50px 14px;
}*/

.button-tertiary--small-padding{
    padding: 10px 30px;
}

.button-tertiary--shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    padding: 12px 30px 11px 30px;
}

.button-tertiary--small-rounded{
    border-radius: 4px;
    padding: 20px 30px;
}


.button-tertiary:hover{
    background-color: $color-sun;
    color: #fff;
}

.button-tertiary--reverse:hover{
    background-color: $color-curious-blue;

    .arrow-download{
        .arrow{
            stroke: #fff !important;
        }
    }
}

@media (max-width: 600px){
    .button-tertiary{
        /*padding: 12px 50px;*/
        padding: 13px 50px 14px;
    }
}