.button-preview{
    border-radius: 500px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background-color: $color-sun;
    transition: all 0.2s;
    padding: 7px 32px 7px 20px;

    img, svg{
        display: inline;
        vertical-align: top;
        margin-top: 4px;
    }
    .label{
        margin-left: 20px;
    }
}
.button-preview:hover{
    background-color: $color-curious-blue;
    color: #fff;
}