.container-full-width{
    max-width: 1920px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 991px){
    .container-full-width{
        margin-left: 0px;
        margin-right: 0px;
    }
}