.container-fluid{
	padding-left: 30px;
	padding-right: 30px;
	max-width: 1352px;
}
@media (min-width: 1400px){
	.container {
		max-width: 1170px;
	}
}

@media (max-width: 1300px){
	.container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/*  for wider websites - 1200px wide */
@media screen and (min-width: 1235px){
    /*.container{
    	max-width: 1230px;
    }*/
} 

/*
@media screen and (min-width: 1200px) and (max-width: 1234px){
	.container{
		max-width: 1140px;
	}
}*/
