#site-content{
	margin-top: 75px;
	min-height: calc(100vh - 150px);
}

.site-header--fixed + #site-content{
	padding-top: 74px;
}

@media screen and (max-width: $grid-float-breakpoint-max-width){
	.site-header--fixed_mobile + #site-content{
		padding-top: 41px;
	}
}