.card-event-container{
    border: 2px solid transparent;
    border-radius: 6px;
    transition: all 0.2s;
    height: 100%;
}

.card-event{
    position: relative;
    border: 1px solid #a2a2a2;
    padding: 16px;
    padding-bottom: 115px;
    transition: all 0.2s;
    background-color: #fff;

    header{
        background-color: $color-alabaster;
        padding: 15px;
        border-radius: 4px;

        .title-container{
            flex: 0 0 calc(100% - 50px);
            max-width: calc(100% - 50px);
        }
        h3{
            height: 113px;
            margin-top: 0px;
            color: $color-sun;
            transition: all 0.2s;
        }
        h3:hover{
            color: #000;
        }
        .icon-container{
            flex: 0 0 50px;
            max-width: 50px;

            img, svg{
                display: block;
                margin-left: auto;
            }
        }
        .icon-mobile{
            display: none;
        }
        .date-time, .preview-container{
            margin-top: 0px;
        }
        .date{
            margin-right: 20px;
            font-size: 20px;
            font-weight: 600;
        }
        .time {
            position: relative;
            padding-left: 20px;
            font-size: 18px;
        }
        .time::before{
            position: absolute;
            top: 8px;
            left: 0px;
            content: "";
            height: 15px;
            width: 1px;
            background-color: #000;
        }
        .stars{
            flex: 0 0 calc(100% - 145px);
            max-width: calc(100% - 145px);
        }
        .button-preview{
            flex: 0 0 145px;
            max-width: 145px;
        }
        .length-scope-container{
            font-size: 13px;
            margin-top: 10px;

            .col-length{
                flex: 0 0 calc(100% - 145px);
                max-width: calc(100% - 145px);
            }
            .col-scope{
                flex: 0 0 145px;
                max-width: 145px;
            }
            .label{
                margin-right: 5px;
            }
        }
    }
    h4{
        font-size: 17px;
        font-weight: 600;
        margin-left: 48px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    ul.check-list{
        margin-top: 10px;

    }
    footer{
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        margin-top: 20px;
        background-color: $color-alabaster;
        padding: 15px 15px 0px;
        border-radius: 4px;

        .title-secondary{
            margin-top: 0px;
        }

        .price-container{
            flex: 0 0 calc(100% - 156px);
            max-width: calc(100% - 156px);
        }
        .button-container{
            flex: 0 0 156px;
            max-width: 156px;
        }
        .button-secondary{
            padding-left: 25px;
            padding-right: 25px
        }
        .more-info{
            display: none;
        }
    }
}

.card-event-container--blue{
    .card-event{
        header{
            h3{
                color: $color-curious-blue;
            }
            .button-preview{
                background-color: $color-curious-blue;
            }
            .button-preview:hover{
                background-color: $color-sun;
            }
        }
    }
}

.event-watching{
    .card-event{
        background-color: $color-sun;

        header{
            background-color: #e29717;
            color: #fff;

            h3{
                color: #fff;
            }
            h3:hover{
                color: #000;
            }
            .stars{
                img{
                    width: 16px;
                }
            }
            .icon-container{
                svg{
                    width: 20px;
                    height: auto;

                    path{
                        transition: all 0.2s;
                    }
                }
            }
        }
        h4{
            margin-top: 30px;
        }
        ul{
            color: #fff;

            li:before {
                background-image: url('../img/svg/check-white.svg');
            }
        }
        footer{
            background-color: #e29717;
            padding-bottom: 15px;

            .price-container{
                flex: 0 0 calc(100% - 165px);
                max-width: calc(100% - 165px);
            }
            .button-container{
                flex: 0 0 165px;
                max-width: 165px;
            }
            .col-icon{
                flex: 0 0 46px;
                max-width: 46px;
            }
            .col-text{
                flex: 0 0 calc(100% - 46px);
                max-width: calc(100% - 46px);
                color: #fff;
                padding-left: 15px;

                .title-secondary{
                    margin-bottom: 0px;
                }
            }
            a{
                display: inline-block;
                padding: 13px 25px 13px 15px;
                border-radius: 24px;
                border: solid 1px #fff;
                background-color: transparent;
                text-transform: uppercase;

                span{
                    margin-left: 14px;
                }
                svg{
                    path{
                        transition: all 0.2s;
                    }
                }
            }
            a:hover{
                background-color: #fff;
                color: #000;

                svg{
                    path{
                        stroke: $color-curious-blue;
                    }
                }
            }
        }
    }
}

.event-watching.card-event-container--blue{
    .card-event {
        background-color: $color-curious-blue;

        header{
            background-color: #148ccb;
        }
        footer{
            background-color: #148ccb;
        }
    }
}

.card-event-container:hover{
    border: 2px solid $color-sun;

    .card-event{
        border: 1px solid $color-sun;
    }
}
.card-event-container--blue:hover{
    border: 2px solid $color-curious-blue;

    .card-event{
        border: 1px solid $color-curious-blue;

        header{
            h3{
                color: #000;
            }
        }
    }
}
.event-watching.card-event-container:hover{
    border: 2px solid #000;

    .card-event{
        border: 1px solid #000;

        .icon-container{
            svg{
                path{
                    fill: #fff;
                }
            }
        }
    }
}

@media (max-width: 991px){

    .event-watching {
        .card-event {
            footer{
                .col-text{
                    padding-left: 10px;

                    .title-secondary{
                        font-size: 20px;
                    }
                }
                .button-preview{
                    padding-right: 15px;

                    .label{
                        margin-left: 7px;
                    }
                }
                .price-container{
                    flex: 0 0 calc(100% - 147px);
                    max-width: calc(100% - 147px);
                }
                .button-container{
                    flex: 0 0 147px;
                    max-width: 147px;
                }
            }
        }
    }
    .card-event{
        header .length-scope-container{
            .col-length{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-scope{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 767px){
    .carousel-container .card-event{

        header{
            background-color: #fff;
            padding: 0px;

            .length-scope-container{
                display: none;
            }

            .date-time, .preview-container{
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
                padding-top: 12px;
                padding-bottom: 12px;
            }
            .date{
                margin-right: 10px;
            }
            .time{
                padding-left: 0px;
            }
            .time::before{
                display: none;
            }
            .icon-mobile{
                display: inline-block;
                margin-right: 20px;
                vertical-align: top;
            }
            .stars{
                display: none;
            }
            .title-container {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .icon-container {
                display: none;
            }
        }
        ul, h4{
            display: none;
        }
        footer{
            padding: 0px;
            background-color: #fff;

            .button-container {
                flex: 0 0 100%;
                max-width: 100%;
                
                .button-secondary{
                    display: block;
                }
            }
            .price-container {
                flex: 0 0 calc(100% - 100px);
                max-width: calc(100% - 100px);
            }
            .more-info{
                display: block;
                flex: 0 0 100px;
                max-width: 100px;

                a.arrow-link{
                    margin-top: 5px;
                }

                a.arrow-link .icon-container {
                    flex: 0 0 20px;
                    max-width: 20px;

                    img{
                        vertical-align: top;
                        margin-top: -5px;
                    }
                }

                .arrow-link .title{
                    font-size: 14px;
                    height: 48px;
                    margin-top: -10px;
                }
            }
        }
    }
    .card-event-list {
        .card-event {
            h3{
                height: auto;
            }
        }
    }
}

@media(max-width: 400px){
    .card-event-list{
        .card-event{
            header{
                .length-scope-container{

                    .col-length{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    .col-scope{
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 380px){
    .card-event-list{
        .card-event{
            padding: 10px;

            header{
                padding: 10px;
            }

            footer{
                position: static;
                padding: 10px;

                .title-secondary{
                    font-size: 20px;
                    margin-bottom: 0px;
                }
                .button-secondary{
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .button-container {
                    flex: 0 0 136px;
                    max-width: 136px;
                }
                .price-container {
                    flex: 0 0 calc(100% - 136px);
                    max-width: calc(100% - 136px);
                }
            }
        }
        .event-watching{
            .card-event{
                footer{
                    .col-text{

                        .title-secondary{
                            font-size: 18px;
                        }
                    }
                    .button-preview{
                        padding-left: 10px;
                        padding-right: 10px;

                        .label{
                            margin-left: 5px;
                        }
                    }
                    .price-container{
                        flex: 0 0 calc(100% - 134px);
                        max-width: calc(100% - 134px);
                    }
                    .button-container{
                        flex: 0 0 134px;
                        max-width: 134px;
                    }
                }
            }
        }
    }
}

@media (max-width: 350px){
    .card-event-list{
        .card-event{
            header{
                h3{
                    margin-bottom: 10px;
                }
                .stars{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .button-preview{
                    margin-top: 15px;
                }
            }

        }
    }
}



