.card-grant-resource{
    display: block;
    border-radius: 5px;
    transition: all 0.2s;
    border: 1px solid transparent;

    .card-grant-resource-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: #fff;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        transition: all 0.2s;
        border: solid 1px #a2a2a2;
        border-radius: 4px;
        padding: 30px 60px 30px 100px;
    }
    .col-image{
        flex: 0 0 200px;
        max-width: 200px;

        img{
            display: block;
            max-width: 160px;
            max-height: 160px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
        }
    }
    .col-arrow{
        display: none;
    }
    .col-text{
        flex: 0 0 calc(100% - 200px);
        max-width: calc(100% - 200px);
        padding-left: 90px;
    }
    h3{
        margin-top: 0px;
        font-size: 18px;
        text-align: left;
    }
    .description{
        text-align: left;
        font-size: 15px;

        > p:nth-last-of-type(1){
            margin-bottom: 0px;
        }
    }
}

.card-grant-resource:hover{
    border: 1px solid $color-curious-blue;

    .card-grant-resource-container{
        border: solid 1px $color-curious-blue;
    }
}

@media (max-width: 1199px){
    .card-grant-resource{
        .card-grant-resource-container {
            padding: 30px 20px 30px 50px;
        }
        .col-image{
            flex: 0 0 200px;
            max-width: 200px;
        }
        .col-text{
            flex: 0 0 calc(100% - 200px);
            max-width: calc(100% - 200px);
            padding-left: 50px;
        }
    }
}

@media (max-width: 991px){
    .card-grant-resource{
        .card-grant-resource-container {
            padding: 30px 20px 30px 30px;
        }
    }
    .card-grant-resource:hover{
        border: 1px solid transparent;

        .card-grant-resource-container{
            border: 1px solid #a2a2a2;
        }
    }
}

@media (max-width: 767px) {
    .card-grant-resource {
        .card-grant-resource-container {
            padding: 30px 20px 30px 20px;
        }
        .col-image{
            flex: 0 0 calc(100% - 80px);
            max-width: calc(100% - 80px);

            img{
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        .col-arrow{
            display: block;
            flex: 0 0 80px;
            max-width: 80px;
            border-left: 1px solid #7c7c7c;

            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%) translateX(10px);
            }
        }
        .col-text{
            margin-top: 20px;
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0px;
        }
        h3{
            font-weight: 400;
        }
    }

}

@media (max-width: 500px){
    .card-grant-resource{
        .card-grant-resource-container {
            padding: 20px 15px 20px 15px;
        }
        .col-image{
            flex: 0 0 calc(100% - 70px);
            max-width: calc(100% - 70px);

            img{
                max-width: 140px;
                max-height: 140px;
            }
        }
        .col-arrow {
            flex: 0 0 70px;
            max-width: 70px;

            img{
                transform: translateY(-50%) translateX(7px);
            }
        }
    }
}