.card-advertising{
    padding: 35px 20px 40px;
    border-radius: 4px;
    box-shadow: 0 0 50px 0 rgba(250, 166, 24, 0.5);
    background-color: #fff;
    text-align: center;
    height: 100%;
    margin-bottom: -60px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;

    .card-recommendation{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 15px 30px;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        background-color: #000;
        margin-left: -20px;
        margin-top: -83px;
        margin-bottom: 35px;
    }

    h3{
        margin-top: 0px;
        margin-bottom: 35px;
        position: relative;
    }
    h3::after{
        position: absolute;
        top: -10px;
        right: 0px;
        width: 55px;
        height: 46px;
        content: "";
        background-image: url("../img/svg/amplifier.svg");
        background-repeat: no-repeat;
    }
    .price-container{
        padding: 20px;
        border-radius: 4px;
        background-color: #f9f9f9;
    }

    .title-secondary{
        color: $color-sun;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    ul.check-list{
        padding-left: 65px;
        padding-right: 30px;
    }
}
.card-advertising--sun{
    box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
    border: solid 1px #e29717;
    background-color: $color-sun;
    color: #fff;

    h3::after{
        background-image: url("../img/svg/amplifier-white.svg");
    }
    .price-container{
        background-color: #e29717;
    }
    .tax-included{
        color: #000;
    }
    .title-secondary{
        color: #fff;
    }
    ul{
        li{
            color: #fff;
        }
    }
}
.card-advertising--recommendation{
    border-top-left-radius: 0px;
}
.card-advertising + .button-secondary{
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(30px);
    cursor: pointer;
}
.card-advertising + .button-secondary:hover{
    background-color: $color-curious-blue;
}



