.card-border{
    border: 1px solid #dedede;

    .title-secondary{
        margin-top: 30px;
        transition: all 0.2s;
    }
    .title-secondary:hover{
        color: $color-curious-blue;
    }
    p{
        margin-top: 30px;
    }
}

.card-border::after{
    position: absolute;
    bottom: 25px;
    right: 40px;
    content: "";
    background: url("../img/svg/double-arrow-blue.svg");
    width: 19px;
    height: 18px;
}

.card-border-animation::after{
    border: 1px solid #dedede;
}
.card-border-animation:hover::after{
    background-color: #f9f9f9;
    border: 1px transparent;
    box-shadow: 2px 2px 2px 0px #dedede;
}