.card-grant-expert{
    margin-top: 15px;
    margin-bottom: 15px;

    .card-container{
        border: 1px solid #a2a2a2;
        border-radius: 4px;
        padding: 25px 20px;
        background-color: #fff;
    }
    .col-container{
        height: 100%;
    }
    .col-image{
        flex: 0 0 140px;
        max-width: 140px;
        height: 140px;
        background-color: #fff;
        border-radius: 4px;

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 90px;
            max-height: 90px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .col-content{
        flex: 0 0 calc(100% - 140px);
        max-width: calc(100% - 140px);
        padding-left: 45px;
    }

    .col-title{
        flex: 0 0 45%;
        max-width: 45%;
    }
    .col-tag{
        flex: 0 0 55%;
        max-width: 55%;
        padding-left: 20px;
    }

    h2{
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 16px;
        color: $color-curious-blue;
    }
    .tag-container{
        margin-top: 5px;
        margin-bottom: 5px;

        .tag{
            margin-top: 3px;
            margin-bottom: 3px;
            margin-right: 5px;
        }
    }

}

.card-grant-expert--premium{
    .card-container{
        background-color: $color-sun;
    }
    h2{
        margin-top: 15px;
        color: #fff;
    }

    .col-premium{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-title-locality{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .button-secondary{
        padding: 10px 15px;
        font-size: 12px;

        .icon-container{
            margin-right: 15px;
        }
        .label-container{
            padding-top: 1px;
        }
    }
    .button-secondary:hover{
        background-color: $color-curious-blue;
    }
}

.card-grant-expert--premium:hover{
    border: 1px solid #000;

    .card-container {
        border: 1px solid #000;
    }
}

@media (max-width: 1199px){
    .card-grant-expert{
        .col-content{
            padding-left: 20px;
        }
        .col-title{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-tag{
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0px;
        }
    }

    .card-grant-expert--premium{
        .col-premium{
            flex: 0 0 50%;
            max-width: 50%;
            order: 2;
            text-align: right;
        }
        .col-title-locality{
            flex: 0 0 50%;
            max-width: 50%;
            order: 1;
        }
        h2{
            margin-top: 0px;
        }
    }
}

@media (max-width: 991px){
    .card-grant-expert{
        .card-container {
            padding: 20px 15px;
        }
    }
    .card-grant-expert--premium{
        .col-title-locality{
            padding-right: 15px;
        }
        .button-secondary{
            padding: 8px 7px;

            .icon-container {
                margin-right: 7px;
            }
        }
    }
}

@media (max-width: 767px){
    .card-grant-expert.card-shadow-hover:hover{
        box-shadow: none;
    }

    .card-grant-expert:hover .card-container{
        border: 1px solid #a2a2a2;
    }

    .card-grant-expert.card-border-hover:hover {
        border: 1px solid transparent;
    }
    .card-grant-expert{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -12px;
        margin-right: -12px;

        .card-container{
            border-left: none !important;
            border-right: none !important;
            border-bottom: none !important;
            border-radius: 0px;
            padding: 20px 15px 20px;
        }
        .col-image{
            flex: 0 0 80px;
            max-width: 80px;
            height: 80px;
            margin-top: -10px;

            img{
                max-width: 60px;
                max-height: 60px;
            }
        }
        .col-content{
            flex: 0 0 calc(100% - 80px);
            max-width: calc(100% - 80px);
            padding-left: 15px;
        }
        .tag-container{
            .tag{
                display: none;
            }
            .tag:nth-of-type(1), .tag:nth-of-type(2){
                display: inline-block;
            }
        }
    }
    .card-grant-expert:nth-of-type(1){
        margin-top: 15px;
    }
    .card-grant-expert:nth-last-of-type(1){
        .card-container{
            border-bottom: 1px solid #a2a2a2 !important;
            padding-bottom: 10px;
        }
    }

    .card-grant-expert--premium{
        padding-top: 35px;

        .col-premium {
            flex: 0 0 100%;
            max-width: 100%;
            order: 1;
            text-align: right;
        }

        .col-title-locality {
            flex: 0 0 100%;
            max-width: 100%;
            order: 2;
        }
        .col-title-locality{
            margin-top: -30px;
            padding-right: 0px;
        }
        .button-secondary{
            width: calc(100% + 125px);
            margin-right: -15px;
            margin-left: -110px;
            border-radius: 0px;
            transform: translateY(-55px);

            .icon-container{
                flex: 0 0 103px;
                max-width: 103px;
                margin-right: 0px;
            }
            .label-container{
                flex: 0 0 calc(100% - 103px);
                max-width: calc(100% - 103px);
                text-align: left;
            }
        }
    }
}

@media (max-width: 400px){
    .card-grant-expert {
        .tag-container {

            .tag:nth-of-type(2) {
                display: none;
            }
        }
    }
    .card-grant-expert--premium{
        .button-secondary{

            .icon-container{
                flex: 0 0 50px;
                max-width: 50px;
                margin-right: 0px;
            }
            .label-container{
                flex: 0 0 calc(100% - 50px);
                max-width: calc(100% - 50px);
                text-align: center;
            }
        }
    }
}