.card-border-hover{
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all 0.2s;
    height: 100%;
}

.card-border-hover:hover{
    border: 1px solid $color-curious-blue;

    .card-container{
        border: 1px solid $color-curious-blue;
    }
}