.card-logo{
    border-radius: 4px;
    box-shadow: 0 2px 42px 0 rgba(41, 155, 215, 0.5);
    background-color: #fff;
    width: 100%;
    max-width: 365px;
    height: 290px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    img{
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 130px;
        max-height: 130px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) and (min-width: 576px){
    .card-logo{
        height: 220px;

        img{
            max-width: 100px;
            max-height: 100px;
        }
    }
}