.card-job-offer {
    margin-top: 15px;
    margin-bottom: 15px;

    .card-container {
        border: 1px solid #dedede;
        border-radius: 4px;
        padding: 50px 35px;
        background-color: #fff;
    }
    .col-left{
        flex: 0 0 calc(100% - 425px);
        max-width: calc(100% - 425px);

        .col-image{
            flex: 0 0 150px;
            max-width: 150px;

            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 90px;
                max-height: 90px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .col-text{
            flex: 0 0 calc(100% - 150px);
            max-width: calc(100% - 150px);
            padding-left: 35px;
            padding-right: 30px;
        }
    }
    .col-right{
        flex: 0 0 425px;
        max-width: 425px;
        border-left: 1px solid #dedede;
        padding-left: 60px;

        .label-value-container{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .label-value{
            margin-bottom: 8px;
        }
        .label-value:nth-last-of-type(1){
            margin-bottom: 0px;
        }
        .value{
            font-weight: 600;
            color: $color-curious-blue;
        }
    }
    h2{
        font-size: 16px;
        font-weight: 600;
        color: $color-curious-blue;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .tag-container{
        margin-top: 15px;

        .tag{
            margin-top: 3px;
            margin-bottom: 3px;
            margin-right: 5px;
        }
    }
}

@media (max-width: 1199px){
    .card-job-offer{
        .col-left{
            flex: 0 0 100%;
            max-width: 100%;

            .col-text{
                padding-right: 0px;
            }
        }
        .col-right{
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 20px;
            border-left: none;
            padding-left: 185px;

            .label-value{
                display: inline-block;
                padding-right: 15px;
                margin-right: 13px;
                margin-bottom: 3px;
                border-right: 1px solid #828282;
                
                .label{
                    display: none;
                }
            }
            .label-value:nth-last-of-type(1){
                border-right: none;
                padding-right: 0px;
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 767px){
    .card-job-offer{
        .card-container{
            padding: 40px 25px;
        }
        .col-left{
            .col-image{
                flex: 0 0 90px;
                max-width: 90px;

                img{
                    max-width: 70px;
                    max-height: 70px;
                    top: 0px;
                    transform: translateY(0px);
                }
            }
            .col-text{
                flex: 0 0 calc(100% - 100px);
                max-width: calc(100% - 100px);
                padding-left: 20px;
            }
        }
        .col-right{
            padding-left: 110px;
        }
    }
}

@media (max-width: 575px){
    .card-job-offer.card-shadow-hover:hover{
        box-shadow: none;
    }

    .card-border-hover:hover .card-container{
        border: 1px solid #dedede;
    }

    .card-job-offer.card-border-hover:hover {
        border: 1px solid transparent;
    }
    .card-job-offer{
        margin-bottom: 0px;
        margin-left: -12px;
        margin-right: -12px;

        .card-container{
            border-left: none !important;
            border-right: none !important;
            border-bottom: none !important;
            border-radius: 0px;
            padding: 20px 15px 0px;
        }
        .col-left{
            .col-image{
                flex: 0 0 60px;
                max-width: 60px;

                img{
                    max-width: 60px;
                    max-height: 60px;
                    top: 0px;
                    transform: translateY(0px);
                }
            }
            .col-text{
                flex: 0 0 calc(100% - 60px);
                max-width: calc(100% - 60px);
                padding-left: 15px;
            }
        }
        .col-right{
            padding-left: 75px;
        }
    }
    .card-job-offer:nth-last-of-type(1){
        .card-container{
            border-bottom: 1px solid #dedede !important;
            padding-bottom: 10px;
        }
    }
}