.card-project{
    display: block;
    border-radius: 5px;
    margin-top: 15px;
    transition: all 0.2s;
    border: 1px solid transparent;

    .card-project-container{
        background-color: #fff;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        transition: all 0.2s;
        border: solid 1px #a2a2a2;
        border-radius: 4px;
    }

    .vertical-center{
        max-width: 160px;
        margin-left: auto;
        margin-right: auto;
    }

    .col-price{
        font-size: 24px;
        font-weight: 300;
        color: $color-curious-blue;
    }
}

.card-project:hover{
    border: 1px solid $color-curious-blue;

    .card-project-container{
        border: solid 1px $color-curious-blue;
    }
}

@media (max-width: 991px){
    .card-project{
        border: none;

        .card-project-container{
            border-top: 2px solid $color-curious-blue;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .vertical-center{
            max-width: 100%;
            text-align: left;
            top: 0px;
            transform: translateY(0px);
        }
        .col-lg-3{
            padding-top: 3px;
            padding-bottom: 3px;
        }
        .row {
            > .col-lg-3:nth-of-type(3){
                order: 2;
            }
            > .col-lg-3:nth-of-type(4){
                order: 1;
            }
        }
        .col-price{
            font-size: 14px;
            font-weight: 400;
        }

    }
    .card-project:hover{
        border: none;

        .card-project-container{
            border: solid 1px #a2a2a2;
            border-top: 2px solid $color-curious-blue;
        }
    }
}

@media (max-width: 575px){
    .card-project{
        position: relative;

        .card-project-container{
            padding-left: 15px;
            padding-right: 15px;
        }

        .row {
            > .col-lg-3:nth-of-type(1) {
                flex: 0 0 calc(100% - 35px);
                max-width: calc(100% - 35px);
                font-size: 18px;
            }
            > .col-lg-3:nth-of-type(2) {
                order: 3;
                flex: 0 0 100%;
                max-width: 100%;
            }
            > .col-lg-3:nth-of-type(3) {
                flex: 0 0 50%;
                max-width: 50%;

                .vertical-center{
                    text-align: right;
                }
            }
            > .col-lg-3:nth-of-type(4) {
                flex: 0 0 50%;
                max-width: 50%;
                order: 1
            }
        }
    }
    .card-project::after{
        position: absolute;
        top: 15px;
        right: 15px;
        content: "";
        background: url("../img/svg/double-arrow-blue.svg");
        width: 19px;
        height: 18px;
    }
}