.card-header-summary{
    width: 292px;
    background-color: #fff;
    padding: 37px 14px 11px;
    box-shadow: 0 2px 42px 0 rgba(41, 155, 215, 0.5);
    text-align: center;
    border-radius: 4px;
    
    .text-small-label{
        font-size: 13px;
        text-transform: none;
    }
    .value{
        color: $color-curious-blue;
        font-weight: 300;
        font-size: 24px;
    }
    .delimeter{
        border-top: 1px solid #dedede;
        padding-top: 15px;
        margin-top: 15px;
    }
    .icon-info-container{
        background-color: #eee;
        border-radius: 4px;
        margin-top: 25px;
        height: 80px;
    }
    .col-icon{
        border-radius: 4px;
        background: url("../img/svg/clock.svg") $color-curious-blue no-repeat;
        background-position: 50% 50%;
        flex: 0 0 86px;
        max-width: 86px;
    }
    .col-icon--euro{
        background: url("../img/svg/euro.svg") $color-sun no-repeat;
        background-position: 50% 50%;
    }
    /*.col-icon::after{
        content: "";

    }*/
    .col-info{
        flex: 0 0 calc(100% - 86px);
        max-width: calc(100% - 86px);

        .text-small-label{
            margin-top: 15px;
        }
    }
}

.card-header-summary.card-color-sun{
    .value{
        color: $color-sun
    }
    .col-icon{
        background: url("../img/svg/clock.svg") $color-sun no-repeat;
        background-position: 50% 50%;
    }
}

@media (max-width: 991px){
    .card-header-summary{
        width: 100%;
        margin-top: 35px;
    }
}