.card-content-two-col{
    margin-top: 15px;
    margin-bottom: 15px;

    .card-container{
        border: 1px solid #a2a2a2;
        border-radius: 4px;
        padding: 25px 32px;
        background-color: #fff;
    }
    .tag-container{
        margin-top: -26px;
        margin-bottom: 20px;
    }

    h2, .value{
        color: $color-curious-blue;
        font-size: 17px;
        margin-bottom: 5px;
        font-weight: 600;
        transition: all 0.2s;
    }
    h2, p{
        max-width: 630px;
    }
    h2:hover{
        color: #000;
    }

    p, .date{
        font-size: 14px;
        margin-bottom: 0px;
    }
    .value{
        margin-bottom: 10px;
    }
    .row{
        .col-xl-6:nth-of-type(2){
            position: relative;
        }
        .col-xl-6:nth-of-type(2)::before{
            position: absolute;
            content: "";
            top: 0px;
            left: -20px;
            bottom: 0px;
            width: 1px;
            background-color: #a2a2a2;
        }
    }
}

@media (max-width: 1199px){
    .card-content-two-col{
        .card-container{
            padding-bottom: 0px;
        }
        .row .col-xl-6:nth-of-type(2)::before {
            display: none;
        }
        .col-xl-4{
            > .row{
                position: relative;
                margin-top: 20px;
                background-color: #eee;
                margin-left: -32px;
                margin-right: -32px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                padding-top: 20px;
                padding-bottom: 10px;

                .col-xl-6 .row > .col-lg-6:nth-of-type(1){
                    padding-right: 40px;
                }
                .col-xl-6 .row .col-lg-6:nth-of-type(2){
                    padding-left: 40px;
                }
            }
            > .row::after{
                position: absolute;
                top: 20px;
                left: 50%;
                bottom: 20px;
                width: 1px;
                background-color: #a2a2a2;
                content: "";
            }
            .col-xl-6{
                padding-left: 32px;
                padding-right: 32px;
            }
            .text-small-label-secondary, .date-from{
                display: inline-block;
                width: 115px;
            }
            .value, .date-to{
                display: inline-block;
            }
        }
    }
}

@media (max-width: 767px){
    .card-content-two-col{
        .col-xl-4{
            .text-small-label-secondary, .value{
                display: block;
            }
            > .row::after{
                display: none;
            }
            > .row > .col-xl-6{
                position: relative;
            }
            > .row > .col-xl-6:nth-of-type(1)::after{
                position: absolute;
                bottom: 0px;
                left: 32px;
                right: 32px;
                height: 1px;
                background-color: #a2a2a2;
                content: "";
            }
            > .row > .col-xl-6:nth-of-type(2){
                margin-top: 10px;
            }
            > .row .col-xl-6 .row > .col-lg-6:nth-of-type(1){
                padding-right: 12px;
            }
            > .row .col-xl-6 .row .col-lg-6:nth-of-type(2) {
                padding-left: 12px;
            }
        }
    }
}
@media (max-width: 500px){
    .card-content-two-col{
        .card-container{
            padding: 25px 15px 0px;
        }
        h2{
            font-size: 16px;
        }
        .value{
            font-size: 16px;
        }
        .col-xl-4 > .row{
            margin-left: -15px;
            margin-right: -15px;
        }
        .col-xl-4 .col-xl-6{
            padding-left: 15px;
            padding-right: 15px;
        }
        .col-xl-4 > .row > .col-xl-6:nth-of-type(1)::after {
            left: 15px;
            right: 15px;
        }
    }
}