.card-shadow-animation{
    height: 100%;

    .button-secondary{
        position: relative;
        transform: translateX(-50%) translateY(-40px);
        left: 50%;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }
}
.card-shadow-animation:hover{
    .button-secondary{
        background-color: $color-sun;
        color: #fff;
    }
}
.card-shadow-animation::after{
    box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
    border: 1px solid #dedede;
}
.card-shadow-animation.card-shadow-animation--gold::after{
    box-shadow: 0 0 50px 0 rgba(250, 166, 24, 0.5);
}

.card-shadow-animation:hover::after{
    background-color: transparent;
    border: 0px;
    box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
}
.card-shadow-animation.card-shadow-animation--gold:hover::after{
    box-shadow: 0 0 50px 0 rgba(250, 166, 24, 0.5);
}

.card-shadow-animation--gold{
    .title-primary{
        color: $color-sun;
    }
    .title-secondary{
        color: $color-sun;
    }
}

.card-shadow{
    text-align: center;

    .title-secondary{
        margin-top: 2px;
    }

    ul{
        margin-bottom: 0px;
    }

}
/*
.card-shadow:hover{
    color: $color-curious-blue;

    .text-secondary, ul li{
        color: $color-curious-blue !important;
    }
}*/
