.card-animation{
    position: relative;
    height: 100%;

    .card{
        position: relative;
        z-index: 10;
        border: 0px;
    }
}
.card-animation::after{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    border-radius: 4px;
    transition: all 0.2s;
    z-index: 1;
}
.card-animation:hover::after, .card-animation.focused::after{
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}
.card{
    display: block;
    position: relative;
    padding: 30px 35px;
    border-radius: 4px;
    background: transparent;
    height: 100%;
}

@media (max-width: 767px){
    .card-animation:hover::after{
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}