.change-items-order{ 
	display: flex; 
    flex-flow: column;
}

@media screen and (max-width: 991px){
    .change-items-order{
        .order-1{
            order: 1;
        }
        .order-2{
            order: 2;
        }
        .order-3{
            order: 3;
        }
        .order-4{
            order: 4;
        }
    }
}


/* OLD VERSION

.change-items-order{ 
    display: flex; 
    flex-wrap: wrap;
}

@media screen and (max-width: 991px){
    .change-items-order{ 
        display: table; 
        width: 100%; 
        margin-left: 0px; 
        margin-right: 0px;

        .item-top, .item-bottom{ 
            float: none;
        }
        .item-top{ 
            display: table-footer-group;
        }
        .item-bottom{ 
            display: table-header-group;
        }
    }
} */