.col-five{
	display: flex; 
	flex-wrap: wrap;
	width: 100%;
	
	.col{
		flex: 0 0 20%;
    	max-width: 20%;
	}
}

@media (max-width: 750px){
	.col-five{
		.col{
			padding-left: 15px;
	    	padding-right: 15px;
			flex: 0 0 25%;
	    	max-width: 25%;
		}
		.col:nth-of-type(5){
			display: none;
		}
	}
}
@media screen and (max-width: 600px){
	.col-five{
		.col{
			flex: 0 0 50%;
	    	max-width: 50%;
		}
		.col:nth-of-type(3), .col:nth-of-type(4){
            margin-top: 20px;
        }
	}
}