.vertical-horizontal-center-container{
	height: 100%;
}

.vertical-horizontal-center-container .content, .vertical-horizontal-center{
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


/* OLD VERSION 

.vertical-horizontal-center{ 
	display: table;
	width: 100%; 
	height: 100%;

    .cell{ 
    	display: table-cell; 
    	text-align: center;
    	vertical-align: middle;
    }
} */ 
