.page-404{
	section.section-404{
		.text-container{
			max-width: 370px;
			margin-left: 100px;
		}
		h1{
			color: $color-sun;
			margin-top: 0px;
			margin-bottom: 5px;
		}
		h2{
			margin-top: 0px;
		}
		img{
			margin-left: 20px;
		}
	}
}

@media (max-width: 1370px){
	.page-404{
		section.blog{
			margin-top: 200px !important;
		}
	}
}

@media (max-width: 1199px){
	.page-404{
		section.section-404{
			margin-top: 80px !important;

			.text-container{
				margin-left: 80px;
			}
			img{
				margin-left: 40px;
			}
		}
		section.blog{
			margin-top: 120px !important;
		}
	}
}

@media (max-width: 991px){
	.page-404{
		section.section-404{
			margin-top: 30px !important;

			.row{
				.col-lg-6:nth-of-type(1){
					order: 2;
				}
				.col-lg-6:nth-of-type(2){
					order: 1;
				}
				.text-container{
					margin-left: auto;
					margin-right: auto;
					margin-top: 40px;
					text-align: center;
				}
				img{
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
				h2{
					text-align: center;
				}
			}
		}

		section.blog{
			margin-top: 50px !important;
		}
	}
}
