.page-blog-detail{
    article.blog-article{

        .container > .col-container{
            border-top: 1px solid #a2a2a2;
        }
        .col-left-part{
            flex: 0 0 370px;
            max-width: 370px;
            padding-right: 105px;
            border-right: 1px solid #a2a2a2;

            .profile-photo{
                margin-top: 20px;
                max-width: 166px;
                border-radius: 4px;
            }
            .author{
                margin-top: 20px;
                font-size: 18px;
            }
            .description{
                margin-top: 20px;
            }
            .profile-link{
                margin-top: 80px;
                padding-top: 20px;
                border-top: 1px solid #a2a2a2;
            }
            .profile-link--tablet{
                display: none;
            }
            .quote{
                position: relative;
                border-top: 1px solid #a2a2a2;
                border-bottom: 1px solid #a2a2a2;
                padding-top: 30px;
                padding-bottom: 14px;
                font-size: 24px;
                font-weight: 300;
                color: $color-curious-blue;
                line-height: 30px;
            }
            .quote::before{
                position: absolute;
                left: 0px;
                top: -70px;
                content: "";
                width: 90px;
                height: 41px;
                background-image: url('../img/svg/apostrophe.svg');
                background-repeat: no-repeat;
            }
        }
        .col-right-part{
            flex: 0 0 calc(100% - 370px);
            max-width: calc(100% - 370px);
            padding-left: 30px;

            header{
                margin-top: 20px;

                .date{
                    font-size: 12px;
                    float: right;
                }
            }

            h1{
                margin-top: 20px;
                margin-bottom: 25px;
            }
            .perex{
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 40px;
                line-height: 32px;
            }
            h2{
                font-size: 24px;
                font-weight: 300;
                margin-top: 40px;
                margin-bottom: 15px;
            }
            .blog-image{
                margin-top: 24px;
                margin-bottom: 40px;
            }

            .button-tertiary{
                display: none;
            }
        }
    }

    section.share-article{
        .button-tertiary{
            margin-top: 50px;
            margin-left: 400px;
        }
    }
    
    section.blog{
        margin-top: 90px;
    }
}

@media (max-width: 1370px){
    .page-blog-detail{
        section.blog{
            h2{
                text-align: center;
            }
        }
    }
}
@media (max-width: 1199px){
    .page-blog-detail{
        article.blog-article{
            .col-left-part {
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0px;
                border-top: 1px solid #a2a2a2;
                border-right: none;
                padding-top: 0px;
                border-top: 0px;

                .col-image{
                    flex: 0 0 166px;
                    max-width: 166px;

                    img{
                        margin-top: 0px;
                    }
                }
                .col-description{
                    flex: 0 0 calc(100% - 166px);
                    max-width: calc(100% - 166px);
                    padding-left: 100px;
                }
                .author{
                    margin-top: 0px;
                }
                .profile-link--tablet{
                    display: block;
                    margin-top: 30px;
                    padding-top: 0px;
                    border-top: 0px;
                }
                .profile-link--desktop{
                    display: none;
                }
                .quote{
                    max-width: 520px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 80px;
                    margin-bottom: 80px;
                    padding-top: 45px;
                    padding-bottom: 30px;
                }
                .quote::before{
                    top: -20px;
                    background-color: #fff;
                }
            }
            .col-right-part {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 0px;

                header{
                    margin-top: 50px;
                }
                .button-tertiary{
                    margin-top: 60px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                }
            }
            .article-info{
                margin-top: 60px;
                padding-top: 45px;
                border-top: 1px solid #a2a2a2;
                border-bottom: 1px solid #a2a2a2;
                padding-bottom: 45px;
                order: 2;
            }

        }
        section.share-article{
            display: none;
        }
        section.blog{
            h2{
                text-align: center;
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 767px){
    .page-blog-detail{
        article.blog-article{
            .container > .col-container {
                border-top: none;
            }
            .col-left-part{
                .col-image{
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: center;
                }
                .col-description{
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-left: 0px;
                    text-align: center;

                    .author{
                        margin-top: 30px;
                    }
                }
                .profile-link--tablet{
                    display: none;
                }
                .profile-link--desktop{
                    margin-top: 50px;
                    display: block;
                }
            }
            .col-right-part header {
                margin-top: 10px;
            }
            .article-info{
                border-bottom: none;
                padding-bottom: 0px;
            }
        }
    }
}

@media (max-width: 500px){
    .page-blog-detail{
        article.blog-article{
            .title-primary {
                font-size: 32px;
            }
        }
    }

}