.page-blog-list{
    .input-search-container{
        position: relative;
        margin-top: 20px;

        input{
            position: relative;
            border: 1px solid #a2a2a2;
            height: 55px;
            color: #000;
            height: 55px;
            z-index: 2;
        }
        input:hover, input:focus{
            border: 1px solid $color-curious-blue;
        }

        .input-search::placeholder {
            color: #a2a2a2;
            opacity: 1;
        }

        .input-search:-ms-input-placeholder {
            color: #a2a2a2;
        }

        .input-search::-ms-input-placeholder {
            color: #a2a2a2;
        }
    }
    .input-search-container::after {
        background-image: url('../img/svg/search-blue.svg');
    }
    .input-search-container::before{
        position: absolute;
        content: "";
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 1px solid transparent;
        border-radius: 13px;
        z-index: 1;
        transition: all 0.2s;
    }
    .input-search-container:hover{
        &::before{
            border: 1px solid $color-curious-blue;
        }
    }
    .input-search-container.focused::before {
         border: 1px solid $color-curious-blue;
     }

    section.tag-list{
        margin-top: 30px;
        text-align: center;
    }
    section.blog-list{
        margin-top: 35px;

        .col-lg-4{
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 767px){
    .page-blog-list{
        section.blog-list{
            .card{
                h3{
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 450px){
    .page-blog-list{
        section.blog-list{
            .card{
                padding: 25px;

                h3{
                    font-size: 24px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                p{
                    margin-top: 20px;
                }
            }
            .card-border::after{
                top: auto;
                bottom: 25px;
                right: 40px;
            }
        }
    }
}