.page-grant-search{
    .page-submenu{
        margin-bottom: 60px;
    }
    section.preface{
        .container-full-width{
            background-image: url("../img/svg/grant-search-entrepreneur-bg.svg");
            background-size: auto 340px;
            height: 340px;
        }
        .title-container{
            position: relative;
            top: -15px;
            padding: 25px 20px 35px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
            border-top: 2px solid $color-curious-blue;
            background-color: #fff;
            text-align: center;
            min-height: 380px;

            h3{
                font-size: 12px;
                text-transform: uppercase;
            }
            h1{
                border-bottom: 1px solid #a2a2a2;
                padding-bottom: 25px;
                color: $color-curious-blue;
            }
            p{
                margin-top: 35px;
                max-width: 430px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .title-container::after{
            position: absolute;
            left: 50%;
            bottom: -17px;
            content: "";
            background-image: url("../img/svg/triangle-blue.svg");
            width: 34px;
            height: 17px;
            background-size: 100%;
            transform: translateX(-50%);
        }
    }

    &.page-search-individual section.preface {
        .container-full-width {
            background-image: url("../img/svg/grant-search-individual-bg.svg");
        }
    }
    &.page-search-ngo section.preface {
        .container-full-width {
            background-image: url("../img/svg/grant-search-ngo-bg.svg");
        }
    }
    &.page-search-school section.preface {
        .container-full-width {
            background-image: url("../img/svg/grant-search-school-bg.svg");
        }
    }
    &.page-search-city section.preface {
        .container-full-width {
            background-image: url("../img/svg/grant-search-city-bg.svg");
        }
    }

    section.arrow-section{
        margin-top: 110px;

        h2{
            margin-bottom: 50px;
            text-align: center;
        }

        .text-container{
            display: inline-block;
            vertical-align: top;
            border-radius: 4px;
            background-color: #f9f9f9;
            text-align: center;
            width: 166px;
            height: 85px;
            padding-left: 12px;
            padding-right: 12px;

            .text{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        img{
            display: inline-block;
            margin-top: 35px;
            margin-left: 31px;
            margin-right: 31px;
        }
    }

    section.grant-search-content{
        margin-top: 120px;
        text-align: center;

        h3{
            font-size: 16px;
            font-weight: 600;
            color: $color-curious-blue;
        }
        p{
            font-size: 16px;
        }
    }
    section.grants-in-the-field{
        margin-top: 150px;

        .count-of-grants{
            margin-top: 40px;

            .number{
                font-size: 32px;
                color: $color-curious-blue;
                font-weight: 600;
            }
            .text{
                display: inline-block;
                vertical-align: top;
                margin-top: 14px;
                margin-left: 20px;
            }
        }
        .button-center{
            margin-top: -52px;
        }
    }
    section.suppliers{
        margin-top: 110px;
    }
    section.blog{
        margin-top: 110px;
    }
}

@media (min-width: 992px){
    .page-grant-search{
        section.grant-search-content{
            .container {
                max-width: 760px;
            }
        }
    }
}
@media (max-width: 1399px){
    .page-grant-search{
        section.arrow-section{
            img{
                margin-left: 28px;
                margin-right: 28px;
            }
        }
    }
}

@media (max-width: 1199px){
    .page-grant-search{
        section.arrow-section{
            .text-container{
                width: 155px;
            }
            img{
                margin-left: 12px;
                margin-right: 12px;
            }
        }
        section.grants-in-the-field{

            .count-of-grants{
                margin-top: 40px;
                text-align: center;
            }
            .button-center{
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 991px){
    .page-grant-search {
        section.arrow-section {
            .text-container{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            img{
                display: block;
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                transform: rotate(90deg);
            }
        }
    }
}

@media (max-width: 650px){
    .page-grant-search{
        .page-submenu {
            margin-bottom: 5px;
        }
        section.preface{
            .container-full-width{
                height: auto;
                padding-top: 170px;
                background-size: auto auto;
                background-repeat: repeat-x;
            }
            .title-container{
                top: 0px;
                width: 100%;
                height: auto;
                padding-bottom: 45px;

                p{
                    margin-bottom: 0px;
                }
            }
        }
        section.arrow-section{
            margin-top: 80px;
        }
        section.grant-search-content{
            margin-top: 65px;
        }
        section.grants-in-the-field{
            margin-top: 100px;
        }
        section.suppliers{
            margin-top: 40px;

            .section-container{
                background-color: #fff;
            }
        }
        section.blog{
            margin-top: 60px;
        }
    }
}