.page-grant-detail{
    header.grant-header{
        overflow-x: hidden;

        .section-container {
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 4px;
        }
        .col-card{
            flex: 0 0 375px;
            max-width: 375px;
            padding-right: 30px;
        }
        .col-title{
            flex: 0 0 calc(100% - 375px);
            max-width: calc(100% - 375px);
            padding-left: 30px;
        }
        .tag-container{
            margin-top: 40px;
        }
        h1{
            margin-top: 35px;
            max-width: 660px;
            margin-bottom: 35px;
        }
        .date{
            border-top: 1px solid #dedede;
            padding-top: 20px;
            max-width: 660px;
        }
        .date-from{
            display: inline-block;
            margin-left: 35px;
        }
        .date-to{
            display: inline-block;
            margin-left: 45px;
        }
        .date-mobile{
            display: none;
        }
    }
    h2{
        margin-bottom: 40px;
    }

    .row-line-grid.premium-content{
        .container{
            position: relative;
        }
        .button-primary{
            display: none;
        }
    }

    .premium-content-overlay{
        position: absolute;
        top: -400px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 80%);

        .popup{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(calc(-50% + 200px));
            width: 754px;
            padding: 29px 28px 26px;
            border-radius: 4px;
            box-shadow: 0 0 42px 0 #299bd7;
            border: solid 1px #f6f8fb;
            background-color: #f6f8fb;
        }
        .container-inner{
            padding: 23px 35px 35px 35px;
            border-radius: 4px;
            border: solid 1px #eee;
            background-color: #fff;
            text-align: center;
        }
        h4{
            margin-top: 0px;
            margin-bottom: 30px;
            font-weight: 400;
        }
        .button-tertiary{
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    section.more-grants{
        margin-top: 80px;
    }
}



@media (max-width: 991px){
    .page-grant-detail {
        header.grant-header {
            text-align: center;

            .section-container{
                position: relative;
                background-color: transparent;
            }
            .section-container::after{
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 42%;
                content: "";
                background-color: #f9f9f9;
            }
            .container{
                position: relative;
                z-index: 2;
            }

            .col-title{
                flex: 0 0 530px;
                max-width: 530px;
                padding-left: 0px;
                margin-left: auto;
                margin-right: auto;
            }
            .col-card{
                flex: 0 0 530px;
                max-width: 530px;
                margin-left: auto;
                margin-right: auto;
                padding-right: 0px;
            }
            .date-mobile{
                display: block;
                flex: 0 0 530px;
                max-width: 530px;
                margin-left: auto;
                margin-right: auto;
                border-top: none;
                margin-top: 20px;
            }
            .date-desktop{
                display: none;
            }
            h1{
                margin-bottom: 0px;
            }
            .col-info{
                .text-small-label, .value{
                    transform: translateX(-40px);
                }
            }
        }
    }
}

@media (max-width: 860px){
    .page-grant-detail{
        .premium-content-overlay{
            .popup{
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px){
    .page-grant-detail{
        .premium-content-overlay{
            .overlay-container{
                position: relative;
                top: 0px;
                left: 12px;
                right: 12px;
                bottom: 0px;
                width: calc(100% - 24px);
                height: 100%;
            }
            .popup{
                width: 100%;
                max-width: 400px;
                background-color: #fff;
                padding: 0px;
            }
            .container-inner{
                border: none;
            }
            h4{
                color: #fff !important;
                background-color: $color-curious-blue;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                padding: 29px 16px;
                font-size: 18px;
                margin-bottom: 0px;
            }
            .row .col-lg-6:nth-of-type(1){
                .container-inner{
                    border-radius: 0px;
                    border-bottom: 1px solid #a2a2a2;
                }
            }
        }
    }
}

@media (max-width: 660px){
    .page-grant-detail {
        .section-container::after{
            display: none;
        }

        header.grant-header {
            .col-title{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-card{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .date-mobile{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
@media (max-width: 500px){
    .page-grant-detail {
        header.grant-header {
            .date{
                text-align: left;
                margin-left: 25px;

                img{
                    margin-left: 15px;
                }
            }
            .date-from{
                margin-left: 20px;
            }
            .date-to{
                display: block;
                margin-left: 75px;
            }
        }
    }
}
@media (max-width: 400px){
    .page-grant-detail {
        .premium-content-overlay {
            .container-inner{
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
}
@media (max-width: 450px){
    .page-grant-detail {
        header.grant-header {
            .col-info{
                .text-small-label, .value{
                    transform: translateX(0px);
                }
            }
        }
    }
}