.home{
    section.preface{
        .row{
            .col-lg-6:nth-of-type(1){
                img{
                    margin-left: 35px;
                }
            }
        }
        h1{
            font-size: 42px;
            color: $color-curious-blue;
            font-weight: 600;
            line-height: 0.95;
            max-width: 460px;
            margin-top: 100px;
            margin-bottom: 20px;
        }
        p{
            max-width: 460px;
        }
        .input-animation{
            margin-top: 40px;
        }
    }
    section.grant-database{
        margin-top: 60px;

        .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
        }

        .header-label-container{
            margin-bottom: 10px;

            .left-part{
                .text-small-label{
                    display: none;
                }
            }
            .right-part{
                .text-small-label{
                    padding-left: 20px;
                }
            }
        }

        .section-container{
            padding-top: 100px;
        }
        .row{
            .col-lg-6:nth-of-type(1){

                img, h2, p{
                    margin-left: 90px;
                    max-width: 362px;
                }
                h2{
                    margin-top: 40px;
                }
            }
        }
        .home-right-container{
            margin-left: 0px;
        }
        .vertical-center{
            position: static;
            transform: translateY(0px);
        }
        .label-container{
            margin-bottom: 10px;
        }

        .left-part{
            flex: 0 0 calc(100% - 190px);
            max-width: calc(100% - 190px);
        }
        .right-part{
            flex: 0 0 190px;
            max-width: 190px;
            padding-right: 22px;
        }
        .button-animation{
            margin-top: 10px;
            margin-bottom: 17px;
        }
        .button-tertiary{
            font-size: 32px;
            letter-spacing: normal;
            border-radius: 500px;
            padding: 14px 20px 10px 25px;

            img{
                margin-top: 15px;
            }
        }

    }
    section.eligible-applicant{
        margin-top: 160px;

        .row .col-lg-6:nth-of-type(1){
            img{
                margin-left: 50px;
            }
        }

        p{
            max-width: 393px;
            margin-bottom: 40px;
        }
        .text-small-label{
            margin-top: 20px;
            text-align: right;
            max-width: 460px;
        }
    }
    section.grant-education{
        margin-top: 170px;
    }

    section.blog{
        .button-primary{
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 1199px){
    .home {
        section.preface .row .col-lg-6:nth-of-type(1) img {
            margin-left: 5px;
        }

        section.grant-database {
            .row {
                .col-lg-6:nth-of-type(1) {
                    img, h2, p {
                        margin-left: 30px;
                    }
                }
            }
            .right-part{
                padding-right: 12px;
                padding-left: 22px;
            }
        }

        section.eligible-applicant {

            .row .col-lg-6:nth-of-type(1) {
                img {
                    margin-left: 0px;
                }
            }
        }
    }
}
@media (max-width: 1120px){
    .home section.grant-database .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 991px){
    .home{
        section.preface{
            position: relative;
            text-align: center;

            .row .col-lg-6:nth-of-type(1) img {
                margin-left: 0px;
                max-width: 450px;
            }
            h1{
                margin-top: 80px;
            }
            h1, p{
                margin-left: auto;
                margin-right: auto;
                max-width: 522px;
            }
            .input-animation{
                margin-left: auto;
                margin-right: auto;
            }
            .button-scroll{
                position: absolute;
                top: 420px;
                transform: rotate(180deg) translateX(-200px);
            }
        }

        section.grant-database{
            margin-top: 150px;

            .container-fluid {
                padding-left: 30px;
                padding-right: 30px;
            }
            .row .col-lg-6:nth-of-type(1){
                text-align: center;

                img{
                    margin-left: auto;
                    margin-right: auto;
                }
                h2, p{
                    max-width: 522px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            h2{
                text-align: center;
            }
            .home-right-container{
                margin-top: 120px;
            }
        }
        section.eligible-applicant {
            text-align: center;

            .home-right-container{
                margin-top: 90px;
            }
            h2{
                text-align: center;
                
                br{
                    display: none;
                }
            }
            h2, p{
                max-width: 522px;
                margin-left: auto;
                margin-right: auto;
            }
            .input-animation, .text-small-label{
                margin-left: auto;
                margin-right: auto;
            }
            .text-small-label{
                text-align: center;
            }
        }

        section.grant-education{
            margin-top: 110px;
        }
    }
}

@media (max-width: 660px){
    .home {
        section.grant-database{
            margin-top: 0px;

            .container-fluid{
                padding-left: 0px;
                padding-right: 0px;

                .section-container{
                    background-color: #fff;
                }
            }
        }
        section.eligible-applicant{
            margin-top: 80px;
        }
    }
}
@media (max-width: 600px){
    .home {
        section.preface {
            .row .col-lg-6:nth-of-type(1) img {
                padding-left: 30px;
                padding-right: 30px;
            }
            .button-scroll{
                display: none;
            }
        }
        section.grant-database{
            .row .col-lg-6:nth-of-type(1) {
                img{
                    max-width: 100px;
                }
            }
            .home-right-container{
                margin-top: 90px;
            }
            .right-part .text-small-label {
                padding-left: 10px;
            }
            .header-label-container{
                .text-small-label{
                    padding-bottom: 0px;
                    text-transform: none;
                    font-size: 14px;
                }
                .left-part{
                    .text-small-label{
                        display: block;
                        padding-left: 30px;
                    }
                }
                .right-part .text-small-label {
                    padding-left: 10px;
                }
            }
            .left-part{
                flex: 0 0 calc(100% - 150px);
                max-width: calc(100% - 150px);
            }
            .right-part{
                flex: 0 0 150px;
                max-width: 150px;
            }

            .row-line{
                height: 78px;
            }
            .left-part{
                padding-right: 0px;

                .row-line:nth-of-type(1){
                    border-top: 1px solid #dedede;
                }
            }
            .right-part{
                padding-left: 0px;

                .row-container:nth-of-type(1){
                    border-top: 1px solid #dedede;
                    height: 78px;
                }
                .row-container{
                    height: 61px;
                }
            }
            .label-container{
                margin-bottom: 0px;
            }
            .row-container{
                border-bottom: 1px solid #dedede;
            }
            .button-animation{
                max-width: 130px;
                margin-top: 17px;
                margin-bottom: 14px;
            }
            .button-tertiary{
                font-size: 24px;
                padding: 5px 20px 5px 25px;

                img{
                    margin-top: 8px;
                }
            }
        }
    }
}
@media (max-width: 520px){
    .home {
        section.preface {
            .row .col-lg-6:nth-of-type(1) img {
                max-width: 100%;
            }
            h1{
                font-size: 30px;
                margin-top: 40px;
            }
            .input-animation {
                margin-top: 30px;
            }
        }
    }
}
@media (max-width: 450px){
    .home {
        section.preface {
            h1{
                font-size: 24px;
                margin-top: 40px;
            }
            .input-animation {
                margin-top: 30px;
            }
        }
        section.grant-database{
            .header-label-container{
                .left-part{
                    .text-small-label{
                        max-width: 150px;
                    }
                }
                .right-part .text-small-label {
                    margin-top: 10px;
                }
            }
            .vertical-center{
                position: relative;
                transform: translateY(-50%);
            }
            .row-line{
                .label-container{
                    max-width: 150px;
                }
                .title{
                    font-size: 16px;
                    line-height: 18px;
                }
            }
            a.arrow-link{
                .subtitle{
                    display: none;
                }
            }
            a.arrow-link:hover{
                .title{
                    transform: translateY(0px);
                }
                .subtitle{
                    display: none;
                }
            }
        }
    }
}