.page-registration{
    .container-780{
        .checkbox{
            .label:before{
                margin-right: 10px;
                margin-top: 1px;
            }
            .label{
                text-transform: none;
                text-align: left;
                font-size: 16px;
            }
        }
        .button-center{
            position: relative;
        }
        section.billing-information{
            box-shadow: 0 0 80px 0 rgb(0 0 0 / 15%);
        }

    }
}

@media (max-width: $grid-float-breakpoint-max-width){
    .page-registration{
        .container-780{
            section.billing-information{
                box-shadow: 0 0 50px 0 rgb(0 0 0 / 15%);
            }

        }
    }
}