.page-request-quote{
    section.request-quote{
        header{
            position: relative;
            display: block;
            max-width: 100%;
            padding: 30px 12px;
            box-shadow: 0 2px 42px 0 rgba(41, 155, 215, 0.5);
            border-radius: 4px;
            z-index: 2;
            background-color: #fff;

            .col-lg-8{
                padding-left: 100px;
            }
            .col-lg-4{
                padding-right: 80px;
            }

            .icon{
                border: 2px solid $color-sun;
                width: 77px;
                height: 77px;
                text-align: center;
                border-radius: 500px;
                margin-left: auto;
                background-color: #fff;

                img{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .order{
                width: 100%;
                font-size: 14px;
                margin-top: 10px;
            }
            h3{
                font-weight: 300;
                margin-top: 5px;
                margin-bottom: 0px;
                color: $color-curious-blue;
                width: 100%;
            }
        }
        .shadow-container{
            position: relative;
            z-index: 1;
            box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.15);
            padding: 50px 0px 0px 0px;

            .title-secondary{
                margin-bottom: 20px;
            }

            .form-part:nth-of-type(1){
                border-top: none
            }
        }
        .form-part{
            border-top: 1px solid #dedede;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 100px;
            padding-right: 100px;
        }
        .form-part--no-border{
            border-top: none;

            h2{
                margin-top: 20px;
            }
        }
        .form-part--gray{
            background-color: #f9f9f9;

            h2{
                margin-top: 20px;
            }
        }
        .attachment{
            border-bottom: 1px solid #dedede;

            .file{
                border-top: 1px solid #dedede;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .col-filename{
                flex: 0 0 calc(100% - 80px);
                max-width: calc(100% - 80px);
                padding-right: 20px;
            }
            .col-remove{
                flex: 0 0 80px;
                max-width: 80px;

                button{
                    border: none;
                    background-color: transparent;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0px;
                }
                img{
                    vertical-align: top;
                    margin-left: 10px;
                }
            }
        }
        .card-animation{
            margin-top: -150px;
            margin-bottom: 70px;
            z-index: 2;
            height: auto;
            text-align: center;
        }
        .card-animation::after{
            border-radius: 4px;
            box-shadow: 0 2px 50px 0 rgba(41, 155, 215, 0.5);
            border: solid 2px $color-curious-blue;
            background-color: #fff;
        }
        .button-primary{
            margin-top: 20px;
            font-weight: 400;
        }
        .radio-button-container{
            font-weight: 300;
        }
        input.custom-form-control{
            margin-top: 0px;
        }
        .grant-search{
            margin-top: 10px;

            .col-text{
                flex: 0 0 calc(100% - 200px);
                max-width: calc(100% - 200px);
            }
            .col-button{
                flex: 0 0 200px;
                max-width: 200px;
                text-align: right;
            }
        }
        .billing-information{
            padding-bottom: 70px;

            .checkbox--text-light{
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }
        footer{
            margin-top: 55px;
            padding-left: 100px;
            padding-right: 80px;

            .col-privacy-policy{
                flex: 0 0 calc(100% - 150px);
                max-width: calc(100% - 150px);

                .checkbox{
                    margin-top: 0px;

                    .col-text{
                        font-size: 13px;
                    }
                    .label:before {
                        margin-top: 4px;
                    }
                }

            }
            .col-required{
                flex: 0 0 150px;
                max-width: 150px;

                .required-info{
                    img {
                        vertical-align: top;
                        margin-top: 7px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}

@media (max-width: 1399px){
    .page-request-quote {
        section.request-quote {
            .card--login{
                .card{
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }
    }
}
@media (max-width: 1199px){
    .page-request-quote{
        section.request-quote{
            header{
                .col-lg-8{
                    padding-left: 80px;
                }
                .col-lg-4{
                    padding-right: 80px;
                }
            }
            .form-part{
                padding-left: 80px;
                padding-right: 80px;

                .checkbox .col-text{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            .card--login {
                margin-top: -250px;
                max-width: 360px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0px;
            }
            .billing-information{
                h2{
                    margin-top: 150px;
                }
            }
            footer{
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}
@media (max-width: 991px){
    .page-request-quote{
        section.request-quote{
            header{
                .col-lg-8{
                    padding-left: 12px;
                    order: 2;
                    text-align: center;
                }
                .col-lg-4{
                    padding-right: 12px;
                    order: 1;
                }
                .icon{
                    margin-right: auto;
                    margin-top: -55px;
                }
            }
            .form-part {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}

@media (max-width: 767px){
    .page-request-quote{
        section.request-quote{
            .shadow-container{
                padding-top: 15px;
            }
            .form-part {
                padding-left: 12px;
                padding-right: 12px;
            }
            .grant-search{
                .col-text{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .col-button{
                    margin-top: 10px;
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: right;
                }
            }
            .billing-information{
                h2{
                    margin-top: 0px;
                }
                .card-animation{
                    margin-top: 20px;
                    max-width: 100%;
                    margin-bottom: 40px;

                    .card{
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
            footer{
                margin-top: 15px;

                .col-privacy-policy{
                    order: 2;
                    flex: 0 0 100%;
                    max-width: 100%;

                    .checkbox .inline-container{
                        width: calc(100% - 40px);
                    }
                }
                .col-required{
                    order: 1;
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: right;
                    margin-bottom: 10px;
                }
            }
        }
    }
}