.page-custom-training{
    section.grant-education{
        margin-top: 90px;

        /*h2.title-secondary{
            text-align: left;
        }*/
    }
}

@media (max-width: 1370px){
    .page-custom-training {
        section.grant-education {
            .container > .title-secondary{
                margin-bottom: 100px;
            }
        }
    }
}

@media (max-width: 991px){
    .page-custom-training {
        section.grant-education {
            .container > .title-secondary{
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 767px) {
    .page-custom-training {
        section.grant-education {
            .section-container{
                padding-top: 0px;
            }
        }
    }
}
