.page-e-learning-detail{
    section.grant-education{
        .button-center{
            br{
                display: none;
            }
        }
    }
}

@media (max-width: 767px){
    .page-e-learning-detail{
        section.grant-education{
            .button-center{
                br{
                    display: block;
                }
            }
        }
    }
}