.page-video-dictionary{
    section.dictionary{
        margin-top: 60px;

        .word{
            margin-top: 25px;
            margin-bottom: 25px;

            .col-icon{
                flex: 0 0 130px;
                max-width: 130px;

                svg{
                    width: 120px;
                    height: auto;

                    .play-button{
                        transition: all 0.2s;
                    }
                }
            }
            .col-label{
                flex: 0 0 calc(100% - 130px);
                max-width: calc(100% - 130px);
                padding-left: 60px;

                .subtitle{
                    margin-top: 20px;
                }
                .count{
                    margin-right: 5px;
                }
                h4{
                    font-weight: 600;
                    font-size: 18px;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    transition: all 0.2s;
                }
            }
        }
        .word:hover{
            cursor: pointer;

            .col-icon{
                svg{
                    path, line{
                        stroke: $color-sun;
                    }
                    .play-button{
                        transform: translate(-280px, -116px) scale(1.35);
                    }
                }
            }
            h4{
                color: $color-sun;
            }
        }
    }
    section.offer-closable{
        margin-top: 90px;
    }
}

@media (max-width: 1199px){
    .page-video-dictionary{
        section.dictionary{
            .word{
                .col-label{
                    padding-left: 20px;
                }
            }
        }
    }
}

@media (max-width: 991px){
    .page-video-dictionary{
        section.dictionary{
            margin-top: 20px;
        }
    }
}


@media (max-width: 767px){
    .page-video-dictionary{
        section.dictionary{
            .word{
                max-width: 290px;
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;

                .col-label{
                    padding-left: 20px;
                }
            }
        }
    }
}