.page-contact main{
    h1{
        margin-bottom: 50px;
    }
    .social-icons{
        text-align: right;
        margin-bottom: 40px;

        a{
            margin-left: 25px;
        }
    }

    h2{
        font-size: 16px;
        color: $color-curious-blue;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .address, .invoice-info{
        margin-bottom: 40px;
    }
    .text-small{
        font-size: 14px;
    }
    iframe{
        width: 100%;
        height: 380px;
        box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
    }
}

@media (max-width: 1199px){
    .page-contact main{
        h1{
            text-align: center;
            margin-bottom: 70px;
        }
        .social-icons{
            display: none;
        }
        iframe{
            margin-top: 60px;
        }
    }
}

@media (max-width: 575px){
    .page-contact main{
        h1{
            margin-bottom: 0px;
        }
        h2{
            margin-top: 50px;
        }
        .address, .invoice-info{
            margin-bottom: 30px;
        }
    }
}