.page-faq{
    h1{
        margin-bottom: 45px;
    }
    .faq-nav-tab{
        li{
            display: block;
            width: 100%;
            margin-top: 12px;

            button{
                position: relative;
                border: none;
                background-color: transparent;
                font-size: 18px;
                color: #000;
                padding-left: 35px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        li:nth-of-type(1){
            margin-top: 0px;
        }
        button.active::before{
            position: absolute;
            left: 0px;
            top: 11px;
            content: "";
            width: 8px;
            height: 13px;
            background-image: url("../img/svg/arrow-blue.svg");
            background-repeat: no-repeat;
        }
    }
    .faq--mobile{
        display: none;
    }
}

@media (max-width: 1199px){
    .page-faq{
        .faq--desktop{
            display: none;
        }
        .faq--mobile{
            display: block;

            > .roll-down-list{
                > .roll-down-item{
                    background-color: transparent;
                    border-left: none !important;
                    border-right: none !important;

                    > .roll-down-item-container{
                        > .label.opened{
                            color: $color-curious-blue;
                        }
                        > .content{
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }

                    .content{
                        .label{
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }

            }
            .roll-down-list{
                .roll-down-item{
                    .label{
                        font-size: 16px;
                        padding: 25px 80px 25px 35px;
                    }
                    .label.opened::after {
                        transform: translateY(-50%) rotate(90deg);
                    }
                }
            }
            .roll-down-list .roll-down-item:hover {
                border: 1px solid #DEDEDE;

                .roll-down-item-container {
                    border: 1px solid transparent;
                }
            }
        }
        h1{
            text-align: center;
        }
    }
}

@media (max-width: 991px){
    .page-faq{
        .faq-section{
            .section-container{
                background-color: transparent;
                padding-top: 0px;
            }
        }
        .faq--mobile{
            .roll-down-list{
                .roll-down-item{
                    .label{
                        padding: 25px 45px 25px 15px
                    }
                    .label::after {
                        right: 15px;
                    }
                }
            }
        }
    }
}