.page-how-we-works{
    section.how-we-works{
        .card{
            background-color: #fff;
            padding: 75px 35px 50px;
            border-radius: 12px;
            box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
            text-align: center;

            h3{
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .card--sun{
            box-shadow: 0 0 50px 0 rgba(250, 166, 24, 0.5);
        }
        .text-center{
            margin-top: 40px;
        }
    }

    section.achieved-results{
        .section-container{
            padding-top: 100px;
        }
    }

    section.process{
        margin-top: 120px;
        margin-bottom: 320px;

        .diagram-container{
            position: relative;
            margin-top: 70px;
        }
        .diagram-container--mobile{
            display: none;
        }
        .diagram-container--desktop {
            .diagram {
                display: block;
                margin-left: auto;
            }

            .button-line-container {
                position: absolute;
            }

            .button-line-container:nth-of-type(1) {
                bottom: -110px;
                left: -20px;
            }

            .arrow {
                position: absolute;
                bottom: -75px;
                left: 267px;
                transform: rotate(180deg);
                height: 17px;
            }

            .button-line-container:nth-of-type(2) {
                bottom: -185px;
                left: 300px;
            }

            .button-line-container:nth-of-type(3) {
                bottom: -185px;
                right: 210px;
            }

            .button-line-container:nth-of-type(4) {
                bottom: 150px;
                right: 0px;
            }
        }
    }
}

@media (max-width: 1199px){
    .page-how-we-works{
        section.process{
            .diagram-container--desktop {
                .arrow {
                    left: 222px;
                }

                .button-line-container:nth-of-type(2) {
                    left: 255px;
                }

                .button-line-container:nth-of-type(4) {
                    bottom: 80px;
                    right: 0px;
                }
            }
        }
    }
}
@media (max-width: 991px){
    .page-how-we-works{
        section.how-we-works{
            .row{
                > .col-lg-4:nth-of-type(1){
                    .card{
                        margin-top: 0px;
                    }
                }
            }
            .card{
                height: auto;
                margin-top: 50px;

                h3{
                    margin-top: 0px;
                }

                p{
                    max-width: 400px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .text-center{
                margin-top: 30px;
            }
        }
        section.process{
            margin-bottom: 0px;

            h2{
                text-align: center;
            }
            .text-primary{
                text-align: center;
            }
            .diagram-container--desktop{
                display: none;
            }
            .diagram-container--mobile{
                display: block;

                .diagram{
                    margin-right: auto;
                    max-width: 340px;
                }

                .button-line-container{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 15px;
                }
            }
            .answer-hidden{
                display: none;
            }
        }
    }
}

@media (max-width: 450px){
    .page-how-we-works{
        section.how-we-works{
            .card{
                padding: 60px 20px 45px;
            }
        }
    }
}

@media (max-width: 400px){
    .page-how-we-works{
        section.process{
            .diagram-container--mobile{
                .diagram{
                    max-width: 100%;
                }

                .button-line-container:nth-of-type(1){
                    width: 100%;
                }
            }
        }
    }
}