.page-partners{
    section.partner-list{
        h2{
            margin-top: 50px;
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}

@media (max-width: 575px){
    .page-partners{
        section.partner-list{
            h2{
                text-align: center;
            }
        }
    }
}