.page-who-we-are{
    section.who-we-are{
        margin-top: 30px;

        .container > .row{
            margin-top: 120px;
        }
        .container > .row:nth-of-type(1){
            margin-top: 0px;
        }
        .container > .row:nth-of-type(2n){
            .col-image{
                order: 2;
                text-align: right;
            }
            .col-description{
                order: 1;
                
                .col-description-container{
                    margin-left: 0px;
                }
            }
        }

        .col-image{
            img{
                width: 100%;
                max-width: 460px;
                border-radius: 4px;
                box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
            }
        }
        .col-description{
            .col-description-container{
                max-width: 460px;
                margin-left: auto;
            }
            header{
                border-bottom: 1px solid #a2a2a2;
                padding-bottom: 20px;

                .col-name{
                    flex: 0 0 calc(100% - 42px);
                    max-width: calc(100% - 42px);
                    padding-right: 20px;
                }
                .col-linkedin{
                    flex: 0 0 42px;
                    max-width: 42px;
                }

                h2{
                    margin-bottom: 5px;
                }
                .position{
                    font-size: 14px;
                }
            }
            .email{
                font-size: 18px;
                margin-top: 15px;
            }
            .arrow-link{
                display: none;
            }
            .description{
                margin-top: 30px;
            }
        }
    }
}


@media (max-width: 1199px){
    .page-who-we-are{
        section.who-we-are{
            .col-image{
                img{
                    max-width: 340px;
                }
            }
            .col-description{
                .col-description-container{
                    max-width: 420px;
                }
            }
        }
    }
}

@media (max-width: 991px){
    .page-who-we-are{
        section.who-we-are{
            margin-top: 80px;

            .col-image{
                img{
                    max-width: 240px;
                }
            }
            .col-description{
                .col-description-container{
                    max-width: 340px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .page-who-we-are {
        section.who-we-are {

            .container > .row{
                margin-top: 60px;
            }

            .container > .row:nth-of-type(2n){
                .col-image{
                    order: 1;
                    text-align: center;
                }
                .col-description{
                    order: 1;
                }
            }

            .col-image {
                text-align: center;

                img{
                    max-width: 350px;
                }
            }
            .col-description {
                margin-top: 40px;
                
                .col-description-container {
                    max-width: 100%;
                }
                .arrow-link{
                    display: flex;
                    width: 110px;
                    height: 25px;
                    margin-top: 30px;
                    margin-left: auto;
                    margin-right: auto;

                    .icon-container{
                        flex: 0 0 20px;
                        max-width: 20px;
                    }
                    .label-container {
                        flex: 0 0 calc(100% - 20px);
                        max-width: calc(100% - 20px);
                    }

                    img{
                        transform: rotate(90deg);
                    }

                    .title{
                        margin-top: 3px;
                        font-size: 14px;
                    }
                }
                .description{
                    display: none;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media (max-width: 450px){
    .page-who-we-are{
        section.who-we-are{
            h2{
                margin-top: 0px;
            }
        }
    }
}