.page-expert-database{
    section.ordering{
        .text-small-label {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
@media (max-width: 1199px){
    .page-expert-database{
        h1{
            text-align: center;
        }

        section.ordering{
            .text-small-label{
                width: 100%;
                padding-left: 0px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media (max-width: 575px){
    .page-expert-database{
        section.ordering{
            .text-small-label{
                text-align: left;
                margin-left: 0px;
                font-weight: 400;
            }
        }
    }
}