@media (max-width: 575px){
    .page-job-offer-detail{
        section.similar-offers{
            .section-container{
                background-color: #fff;
            }
            .card-job-offer + .center-right.mt-4{
                margin-top: 50px !important;
                text-align: center;
            }
        }
    }
}
