@media (max-width: 1199px){
    .page-job-offer{
        h1{
            text-align: center;
        }
        
        section.ordering{
            .text-small-label{
                width: 100%;
                padding-left: 0px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media (max-width: 575px){
    .page-job-offer{
        section.ordering{
            .text-small-label{
                text-align: left;
                margin-left: 0px;
                font-weight: 400;
            }
        }
    }
}