.icon-content-container{
    color: #000;

    .text-small-label{
        font-size: 13px;
        text-transform: none;
    }
    .col-icon{
        flex: 0 0 265px;
        max-width: 265px;
        padding-left: 15px;
        padding-right: 15px;

        .inner-container{
            padding: 20px 15px 20px 35px;
        }
        img{
            margin-top: 50px;
        }
        .text-small-label{
            margin-top: 25px;
        }
        h3{
            margin-top: 0px;
        }
        .price-container{
            margin-top: 150px;
        }
        .title-secondary.color-sun{
            margin-top: 5px;
            color: $color-sun;
        }
    }
    .col-content{
        flex: 0 0 calc(100% - 265px);
        max-width: calc(100% - 265px);
        padding-left: 15px;
        padding-right: 15px;

        .inner-container{
            padding: 56px 68px 40px 98px;
        }
        .text-small-label{
            color: $color-curious-blue;
            margin-top: 60px;
        }
        .button-tertiary{
            position: relative;
            margin-top: 20px;
            height: 48px;
            padding: 13px 80px 12px 50px;
        }
        .button-tertiary:hover .icon-container::before{
            transform: translateX(-50%) translateY(calc(-50% + 2px));
            height: 31px;
        }

        .button-tertiary:hover .icon-container::after{
            transform: translateX(-50%) translateY(calc(-50% - 8px)) rotate(90deg);
        }
        .button-scroll{
            top: -38px;
            left: auto;
            right: -105px;
            background-color: transparent;
        }

    }
    .inner-container{
        border-radius: 4px;
        border: solid 1px #eee;
        background-color: #fff;
        height: 100%;
    }
}

@media (max-width: 1199px){

    .icon-content-container{

        .col-icon {
            position: relative;
            flex: 0 0 calc(100% + 50px);
            max-width: calc(100% + 50px);
            padding-left: 0px;
            padding-right: 0px;
            box-shadow: 0 2px 42px 0 rgba(41, 155, 215, 0.5);
            margin-left: -25px;
            margin-right: -25px;
            border-radius: 4px;
            text-align: center;

            .inner-container{
                padding: 20px 15px;
            }

            .icon-container{
                position: relative;
                display: inline-block;
                border: solid 2px #faa618;
                background-color: #fff;
                border-radius: 500px;
                padding: 5px;
                width: 77px;
                height: 77px;
                transform: translateY(-50px);

                img{
                    width: 45px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-top: 0px;
                }
            }
            .text-small-label{
                margin-top: -30px;
            }
            .price-container{
                background-color: #f9f9f9;
                padding-top: 16px;
                padding-bottom: 16px;
                border-radius: 4px;
                margin-top: 10px;

                .title-secondary{
                    margin-bottom: 0px;
                }
            }
            h3{
                font-weight: 300;
                color: $color-curious-blue;
                margin-bottom: 20px;
            }

            .inner-container{
                box-shadow: none;
                border: none;
            }
        }
        .col-content {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 30px;

            .inner-container{
                border: solid 1px #eee;
                box-shadow: none;
                padding: 40px 68px 25px 64px;
            }

            .text-small-label {
                margin-top: 30px;
            }
            .button-center{
                text-align: center;
                margin-top: 10px !important;
            }
        }
    }
}



@media (max-width: 500px){
    .icon-content-container{
        .col-icon{
            flex: 0 0 calc(100% + 30px);
            max-width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
        }
        .col-content {
            .inner-container{
                padding: 15px 0px 25px;
                border: none;
            }
        }
    }
}
