#modal-login{
    .page-2{
        display: none;
    }
    .modal-dialog{
        max-width: 750px;
    }
    .modal-content{
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-1{
        .inner-container{
            padding: 74px 35px 59px;
            border-radius: 4px;
            border: solid 1px #eee;
            height: 100%;
            text-align: center;
        }
        .col-left, .col-right{
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 15px;
            padding-right: 15px;
        }

        h4{
            color: #000;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .button-center{
            margin-top: 40px;
        }
        .button-tertiary{
            display: inline-block;
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    .page-2{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 50px;
        padding-right: 50px;

        .col-login-form{
            flex: 0 0 60%;
            max-width: 60%;
            padding-right: 30px;
        }
        .col-register{
            flex: 0 0 40%;
            max-width: 40%;
            padding-left: 50px;

            h4{
                font-size: 18px;
                color: #000;
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 15px;
            }
            .button-center{
                text-align: left;
            }
            .button-tertiary{
                padding: 8px 25px;
            }
        }
        .center-container{
            text-align: center;
            font-size: 13px;
            margin-top: 10px;

            a{
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1199px){
    #modal-login{
        .btn-close{
            top: -11px;
            right: -11px;
        }
        .modal-content{
            padding-top: 20px;
        }
    }
}

@media (max-width: 780px){
    #modal-login{
        .modal-dialog {
            max-width: calc(100% - 24px);
        }
    }
}

@media (max-width: 767px){
    #modal-login{
        .page-2{
            padding: 20px 0px 30px;
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;

            .col-login-form{
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0px;
            }
            .col-register{
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 30px;
                padding-left: 0px;
                text-align: center;
                
                .button-center{
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 680px){
    #modal-login{
        .modal-content{
            border: none;
            padding-top: 10px;
        }
        .page-1{
            .inner-container{
                padding: 50px 15px;
            }
            .col-right .inner-container{
                padding-bottom: 30px;
            }
            .col-left, .col-right{
                flex: 0 0 calc(100% + 30px);
                max-width: calc(100% + 30px);
                padding-left: 0px;
                padding-right: 0px;
                margin-left: -15px;
                margin-right: -15px;
            }
            .col-right{
                margin-top: 15px;
                border-top: 1px solid #a2a2a2;
            }
            .inner-container{
                border: none;
            }
            .button-tertiary{
                max-width: 250px;
            }
        }
    }
}