.modal-menu-fixed{

    .modal-content{
        background-color: #f9f9f9;
    }
    .page-2{
        display: none;
    }
    .page-3{
        display: none;
    }
    .page-4{
        display: none;
    }
}
@media (max-width: 1199px) {
    .modal.modal-menu-fixed {
        .modal-dialog {
            max-width: 530px;
            margin-top: 35px;


            .btn-close {
                top: -15px;
                right: -15px;
            }
        }
        .modal-content{
            padding: 0px 25px 25px;
            background-color: #f6f8fb;
        }
    }
}

@media (max-width: 560px){
    .modal.modal-menu-fixed{
        .modal-content{
            .btn-close {
                top: 15px;
                right: 15px;
            }
        }
    }
}

@media (max-width: 500px) {
    .modal.modal-menu-fixed {
        .modal-content {
            background-color: #fff;
            padding: 0px 15px 15px;
        }
    }
}