#modal-order-cancellation{
    .modal-dialog{
        max-width: 750px;
    }

    .inner-container{
        padding: 24px 70px 21px 70px;
        border-radius: 4px;
        box-shadow: 0 0 50px 0 rgba(41, 155, 215, 0.5);
        border: solid 1px #eee;
    }

    h4{
        margin-top: 15px;
    }

    .col-left{
        flex: 0 0 calc(100% - 220px);
        max-width: calc(100% - 220px);

        p{
            margin-top: 12px;
        }
    }
    .col-right{
        flex: 0 0 220px;
        max-width: 220px;
        text-align: right;
    }

    .button-primary{
        padding: 12px 20px;
        height: auto;
        width: 98px;
    }
}

@media (max-width: 1199px){
    #modal-order-cancellation{
        .btn-close{
            top: -11px;
            right: -11px;
        }
    }
}

@media (max-width: 780px){
    #modal-order-cancellation{
        .modal-dialog {
            max-width: calc(100% - 24px);
        }

        .inner-container{
            box-shadow: none;
            border: none;
            padding: 0px;
        }

        .col-left{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .col-right{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .button-primary{
            min-width: auto;
        }
    }
}

@media (max-width: 450px){
    #modal-order-cancellation {
        .modal-content{
            padding: 30px 15px;
        }
    }
}