#modal-webinars{
    text-align: center;

    .modal-dialog{
        max-width: 750px;
    }
    .modal-content{
        background-color: #f6f8fb;
    }
    .header{
        background-color: $color-curious-blue;
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 34px 0px 20px 0px;

        h4{
            font-size: 24px;
            font-weight: 300;
            color: #fff;
            margin-bottom: 12px;
            max-width: 515px;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            font-size: 18px;
            max-width: 515px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .col-container{
        margin-top: 25px;
    }
    .col-left{
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;

        .button-tertiary{
            margin-top: 55px;
        }
    }
    .col-right{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 15px;
    }
    .inner-container{
        padding: 21px 30px 18px 31px;
        border-radius: 4px;
        border: solid 1px #eee;
        background-color: #fff;
        height: 100%;
    }
    .button-tertiary{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        width: 220px;
    }
}

@media (max-width: 1199px){
    #modal-webinars{
        .btn-close{
            top: -11px;
            right: -11px;
        }
    }
}

@media (max-width: 780px){
    #modal-webinars{
        .modal-dialog {
            max-width: calc(100% - 24px);
        }
    }
}

@media (max-width: 650px){
    #modal-webinars{
        .header{
            padding-left: 30px;
            padding-right: 30px;
        }
        .col-left{
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0px;

            .button-tertiary{
                margin-top: 30px;
            }
        }
        .col-right{
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0px;
            margin-top: 20px;
        }
    }
}

@media (max-width: 450px){
    #modal-webinars{
        .modal-content{
            padding: 0px;
            background-color: #fff;
        }
        .header{
            padding-left: 15px;
            padding-right: 15px;
        }
        .inner-container{
            border: none;
        }
        .col-right{
            border-top: 1px solid #a2a2a2;

            .inner-container{
                padding-top: 30px;
                padding-bottom: 40px;
            }
        }
    }
}