.modal-dictionary{
    .col-prev, .col-next{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .prev-container, .next-container{
        max-width: 200px;
        cursor: pointer;

        .col-button{
            flex: 0 0 75px;
            max-width: 75px;

            button{
                top: 10px;
                left: 10px
            }
        }
        .col-text{
            flex: 0 0 calc(100% - 75px);
            max-width: calc(100% - 75px);
            padding-left: 15px;
        }
        .col-text-mobile{
            display: none;
        }
        .text-small{
            font-size: 11px;
        }
        .subtitle{
            span{
                margin-right: 5px;
            }
        }
        h4{
            font-size: 18px;
            font-weight: 600;
            margin-top: 5px;
            margin-bottom: 0px;
            color: #000;
        }
    }
    .button-mobile{
        display: none;
    }
    .next-container{
        margin-left: auto;

        .col-text{
            padding-left: 10px;
        }
    }
    .prev-container:hover, .next-container:hover{
        .button-scroll .icon-container::before{
            transform: translateX(-50%) translateY(calc(-50% + 2px));
            height: 31px;
        }

        .button-scroll .icon-container::after{
            transform: translateX(-50%) translateY(calc(-50% - 8px)) rotate(90deg);
        }
        .button-scroll{
            .button-border--white{
                top: -4px;
                left: -4px;
                right: -4px;
                bottom: -4px;
                z-index: 1;
            }
            .button-border--gray {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
            }
        }
    }
}

@media (max-width: 650px){
    .modal.modal-dictionary.modal-player{
        footer{
            padding: 25px 10px 25px 20px;
        }
        .button-mobile{
            display: block;
        }
        .button-desktop{
            display: none;
        }
        .prev-container, .next-container{
            max-width: 128px;

            .col-button{
                flex: 0 0 25px;
                max-width: 25px;
            }
            .col-text {
                flex: 0 0 calc(100% - 25px);
                max-width: calc(100% - 25px);
                padding-left: 0px;

                .subtitle, h4{
                    display: none;
                }
            }
            .col-text-mobile{
                display: block;
            }
            .arrow-double-link{
                margin-top: -3px;
            }
            h4{
                font-size: 14px;

                span{
                    margin-right: 5px;
                }
            }
        }
        .col-next{
            .col-text-mobile{
                width: 100%;
                text-align: right;
                padding-right: 10px;
            }
        }
        .arrow-double-link:hover{

            .arrow-right::before{
                transform: translateX(0px);
            }
            .arrow-right::after{
                transform: translateX(0px);
            }
        }
    }
}

@media (max-width: 450px){
    .modal.modal-dictionary.modal-player {
        footer {
            padding: 25px 0px 25px 10px;
        }
    }
}