#modal-eligibility.page-3-selected{
    .modal-content{
        padding-top: 25px;
    }
}

#modal-eligibility.page-4-selected{
    .btn-close{
        display: none;
    }
    .modal-dialog{
        max-width: 755px;
    }
    .modal-content{
        background-color: #fff;
    }
}

#modal-eligibility{
    .page-2{
        font-size: 14px;

        h4{
            font-size: 18px;
            font-weight: 400;
            color: #000;
            border-bottom: 1px solid #dedede;
            padding-bottom: 20px;
            margin-bottom: 18px;
        }
        .labels, .values{
            display: inline-block;
            vertical-align: top;
        }
        .values{
            margin-left: 30px;
        }
        .row{
            position: relative;
        }
        .row::after{
            position: absolute;
            bottom: -5px;
            left: 12px;
            right: 12px;
            content: "";
            height: 1px;
            background-color: #dedede;
        }
        .button-center{
            text-align: left;

            .button-tertiary{
                float: right;
            }
        }
    }
    .page-3{
        .icon-content-container{
            display: none;
        }
        .page-container{
            border-radius: 4px;
            border: solid 1px #eee;
            background-color: #fff;
            padding: 0px 0px 17px 15px;
        }
        .page-inner-container{
            padding: 20px 68px 10px 50px;
        }
        .text-small-label{
            margin-top: 5px;
            color: $color-curious-blue;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        input{
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #unregistered-user-pane input{
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .checkbox{
            margin-top: -15px;
        }
        .checkbox .col-text{
            font-size: 13px;
            font-weight: 400;
            text-transform: none;
            margin-top: -8px;
            vertical-align: top;
        }
        .checkbox .label:before{
            margin-top: 15px;
            margin-right: 15px;
            width: 14px;
            height: 14px;
            border: 1px solid #000;
            border-radius: 2px;
        }
        .checkbox.checked .label:before {
            background-size: 9px;
        }
        .checkbox .inline-container{
            width: calc(100% - 40px);
        }
        .col-container{
            margin-top: 20px;

            .col-left{
                flex: 0 0 calc(100% - 170px);
                max-width: calc(100% - 170px);
            }
            .col-right{
                flex: 0 0 170px;
                max-width: 170px;
            }
        }

        #unregistered-user-pane{
            .button-center{
                margin-top: 0px;
            }
        }

        #registered-user-pane{
            .button-center{
                margin-top: 20px;
            }
        }
        .center-container{
            text-align: center;
        }
        .forgotten-password{
            display: inline-block;
            text-decoration: underline;
            font-size: 13px;
        }
    }
    .page-4{
        margin-bottom: 20px;

        h4{
            text-align: center;
            margin-top: 30px;
        }
        p{
            font-size: 18px;
            margin-top: 20px;
            color: #000;
            text-align: center;
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1199px){
    #modal-eligibility.page-3-selected {
        .modal-dialog{
            max-width: 755px;
        }
    }
    #modal-eligibility{
        .page-2{
            .values{
                margin-left: 15px;
            }
            .button-center{
                text-align: center;
                
                .button-arrow{
                    display: block;
                    text-align: left;
                    margin-top: 50px;
                }

                .button-tertiary{
                    float: none;
                    margin-top: 30px;
                }
            }
        }
        .page-3{
            #unregistered-user-pane input{
                padding-left: 10px;
                padding-right: 10px;
            }
            .text-small-label{
                margin-top: 15px;
            }
        }
        .page-4{
            margin-top: 50px;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 991px){
    #modal-eligibility.page-3-selected {
        .modal-dialog {
            max-width: 530px;
        }
    }
    #modal-eligibility{
        .page-3{
            .page-container{
                padding-left: 0px;
            }
            .icon-content-container{
                position: relative;
                top: -26px;
                left: -26px;
                right: -26px;
                display: block;
                width: calc(100% + 52px);

                .col-icon{
                    position: static;
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .icon-container{
                    /*transform: translateY(-45px);*/
                }

                .inner-container{
                    height: auto;
                }

                .text-small-label{
                    margin-top: -40px;
                    font-size: 14px;
                    color: #000;
                    text-transform: none;
                    font-weight: 400;
                }
            }
            
            .button-arrow{
                display: none;
            }
            
            .text-small-label{
                margin-top: 20px;
                margin-bottom: 15px;
            }
            .tabs-container{
                margin-top: -5px;
                width: 100%;
            }
            .nav-tabs li{
                width: 50%;

                .nav-link{
                    width: 100%;
                    padding: 5px 5px;
                }
            }
            .col-container{
                .col-left{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .col-right{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            #unregistered-user-pane{
                .button-center{
                    margin-top: 20px;
                }
            }
        }
    }
}

@media (max-width: 850px){
    #modal-eligibility.page-4-selected {
        .modal-dialog {
            max-width: 600px;
        }
    }
}

@media (max-width: 575px) {
    #modal-eligibility{
        .page-3{
            .icon-content-container {
                position: relative;
                top: -26px;
                left: -16px;
                right: -16px;
                display: block;
                width: calc(100% + 32px);
            }
        }
    }
}

@media (max-width: 575px){
    #modal-eligibility{
        .page-2{
            .row .col-lg-6:nth-of-type(2){
                margin-top: 15px;
            }
        }
    }
    #modal-eligibility.page-3-selected {
        .modal-content {
            background-color: #fff;
        }
    }
    #modal-eligibility .page-3{
        .page-container{
            border: none;
            padding-left: 0px;
        }
        .page-inner-container{
            padding: 0px;
            padding-top: 20px;
        }
        .nav-tabs li{
            .nav-link{
                padding: 10px 15px;
            }
        }
    }
}

@media (max-width: 450px){
    #modal-eligibility .page-3{
        .nav-tabs li{
            padding: 6px 5px;

            .nav-link{
                font-size: 13px;
                padding: 5px 8px;
            }
        }
    }
}

@media (max-width: 350px){
    #modal-eligibility .page-3{
        .nav-tabs li{

            .nav-link{
                padding: 5px 3px;
            }
        }
    }
}