#modal-grant-radar.page-2-selected{
    .modal-content{
        background-color: #fff;
    }
}
#modal-grant-radar.page-3-selected{
    .btn-close{
        display: none;
    }
    .modal-dialog{
        max-width: 755px;
    }
    .modal-content{
        background-color: #fff;
    }
}
#modal-grant-radar{
    .page-2{
        .page-container{
            padding: 10px 50px 0px 50px;

            > .col-container{
                margin-bottom: 20px;
            }
        }
        .col-title{
            .steps{
                display: inline-block;
                color: $color-curious-blue;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
            }
            .choose-domain{
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                color: #000;
                margin-left: 30px;
            }
        }
        .checkbox .inline-container{
            width: calc(100% - 50px);
        }
        .checkbox .label:before{
            margin-right: 10px;
        }
    }
    .page-3{
        margin-bottom: 20px;

        h4{
            text-align: center;
            margin-top: 30px;
        }
        p{
            font-size: 18px;
            margin-top: 20px;
            color: #000;
            text-align: center;
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1199px){
    #modal-grant-radar{
        .page-2{
            .button-arrow{
                padding-left: 0px;
            }
            .page-container{
                padding: 10px 0px 0px 0px;
            }
        }
        .page-3{
            margin-top: 50px;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 850px){
    #modal-grant-radar.page-3-selected {
        .modal-dialog {
            max-width: 600px;
        }
    }
}

@media (max-width: 500px){
    #modal-grant-radar{
        .page-2{
            .col-title {
                .steps, .choose-domain {
                    display: block;
                }
                .choose-domain {
                    margin-top: 15px;
                    margin-left: 0px;
                }
            }
           .page-container > .col-container{
                margin-bottom: 5px;
            }
        }
    }
}