.modal.modal-player{

    .modal-dialog{
        max-width: 755px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-content{
        padding: 0px;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    .btn-close{
        z-index: 3;
    }
    .player{
        position: relative;
        z-index: 2;
        box-shadow: 0 0 40px 0 #299bd7;
        border-radius: 4px;

        video{
            display: block;
            height: auto;
            border-radius: 4px;
        }
        img{
            border-radius: 4px;
        }
    }
    footer{
        position: relative;
        z-index: 1;
        border-radius: 4px;
        box-shadow: 0 0 40px 0 rgba(41, 155, 215, 0.5);
        background-color: #f9f9f9;
        padding: 35px;
    }
}


@media (max-width: 1199px) {
    .modal.modal-player{
        .modal-dialog {
            .btn-close {
                top: -11px;
                right: -11px;
            }
        }
    }
}

@media (max-width: 767px){
    .modal.modal-player{
        footer{
            padding: 25px 20px;
        }
    }
}

/*
@media (max-width: 575px){
    .modal.modal-player {
        .modal-dialog {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}*/
