.modal.modal-webinar{
    section.get-access{
        background-color: $color-sun;
        padding: 20px 15px;

        .col-icon{
            flex: 0 0 150px;
            max-width: 150px;

            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
            }
        }
        .col-text{
            flex: 0 0 calc(100% - 305px);
            max-width: calc(100% - 305px);
            color: #fff;
            font-weight: 300;
            padding-top: 5px;
            padding-left: 15px;
            padding-right: 20px;
        }
        .col-button{
            flex: 0 0 155px;
            max-width: 155px;
        }
        .button-secondary{
            padding-left: 22px;
            padding-right: 22px;
        }
        .button-secondary:hover{
            background-color: #fff;
            color: #000;
        }
    }
    footer{
        padding: 15px;

        .col-info{
            flex: 0 0 150px;
            max-width: 150px;
            font-size: 13px;
        }
        .lecturer{
            font-size: 13px;
        }
        .level{
            margin-top: 5px;
        }
        .col-description{
            flex: 0 0 calc(100% - 150px);
            max-width: calc(100% - 150px);
            padding-left: 15px;

            h4{
                font-size: 16px;
                margin-bottom: 5px;
                color: #000;
                font-weight: 600;
            }
            p{
                font-size: 14px;
                margin-bottom: 0px;
            }
            .lecturer{
                margin-top: 40px;
            }
        }
    }
}

@media (max-width: 650px){
    .modal.modal-webinar{
        section.get-access{
            .col-text{
                display: none;
            }
            .col-icon{
                flex: 0 0 calc(100% - 155px);
                max-width: calc(100% - 155px);

                img{
                    margin-left: 0px;
                }
            }
        }
        footer{
            .col-info, .col-description{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-description{
                margin-top: 10px;
                padding-left: 0px;

                .lecturer{
                    margin-top: 10px;
                }
            }
            .col-info {
                .lecturer, .level{
                    display: none;
                }
            }
        }
    }
}