
.cart-submenu{
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;

    ul{
        display: inline-block;
        padding: 15px 73px;
        list-style-type: none;
        margin-bottom: 0px;
        background-color: #eee;
        width: 1295px;
        text-align: left;

        li{
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-left: 0px;
            margin-right: 30px;
            padding-left: 0px;
            padding-right: 0px;

            .step{
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                color: #a2a2a2;
            }
            .number{
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 500px;
                border: 1px solid #a2a2a2;
                text-align: center;
                padding-top: 5px;
                margin-right: 15px;
            }
        }
        li.done{
            a{
                color: #000;
            }
            .number{
                border: 1px solid $color-curious-blue;
                color: $color-curious-blue;
            }
        }
        li.active{
            a, span{
                color: #000;
            }
            .number{
                background-color: $color-curious-blue;
                border: 1px solid $color-curious-blue;
                color: #fff;
            }
        }
    }
}

@media (max-width: 1350px){
    .cart-submenu{
        ul {
            padding-left: 30px;
            width: 100%;
        }
    }
}
@media (max-width: 1399px){
    .cart-submenu{
        ul{
            li{
                margin-right: 25px;

                .number{
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: $grid-float-breakpoint-max-width){
    .cart-submenu{
        margin-top: 20px;
    }
}

@media (max-width: 1199px){
    .cart-submenu {
        position: relative;
        overflow-x: hidden;
        padding-bottom: 0px;
        margin-top: 50px;
        margin-bottom: 45px;

        ul {
            overflow-x: auto;
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 15px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;
            /*align-items: center;
            justify-content: center;*/

            li{
                flex: 0 0 auto;
                max-width: none;
                margin-left: 15px;
                margin-right: 15px;
                /*border: none;*/

                .number{
                    margin-right: 10px;
                }
            }
        }
        ul::-webkit-scrollbar {
            display: none;
        }
    }

    /*.cart-submenu::before {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 40px;
        content: "";
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
        z-index: 10;
    }

    .cart-submenu::after {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 40px;
        content: "";
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }*/
}

/*@media (max-width: 991px){
    .cart-submenu {
        margin-top: -30px;
    }
}*/


@media (max-width: 767px){
    nav.cart-submenu{

        /*li{
            padding-left: 10px;
            padding-right: 10px;
        }*/

        /*li.active{
            a{
                color: $color-sun;
            }
        }*/
    }
}