.menu-mobile{
    display: none;
}

@media screen and (max-width: $grid-float-breakpoint-max-width){
    .menu-mobile{
        position: relative;
        display: block;
        height: 66px;
        flex: 0 0 66px;
        max-width: 66px;
        text-align: right;

        .open-icon{
            position: absolute;
            right: 10px;
            margin-top: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            .line{
                height: 2px;
                background: $color-curious-blue;
                width: 13px;
                margin: 4px auto;
                transition: all 0.2s;

            }
            .line:nth-of-type(1){
                margin-top: 0px;
            }
            .line:nth-last-of-type(1){
                margin-bottom: 0px;
            }
        }
        .close-icon{
            display: inline-block;
            margin-right: 0px;
            transform: rotate(45deg);
            float: right;
            margin-top: 7px;
            cursor: pointer;
        }
        .social-icons{
            display: inline-block;
        }

        .window-container{
            display: none;
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: rgba(0,0,0,0.5);
            overflow-y: scroll;
            overflow-x: hidden;

            > .col-container{
                height: 100%;
                transform: translateX(100%);
                transition: all 0.5s;
            }
            .col-container.ejected{
                transform: translateX(0%);
            }
            .left-part{
                flex: 0 0 calc(100% - 460px);
                max-width: calc(100% - 460px);
            }
            .right-part{
                flex: 0 0 460px;
                max-width: 460px;
                background-color: #fff;
                padding-left: 60px;
                padding-right: 60px;
                padding-top: 30px;
                padding-bottom: 50px;
            }



                header{
                    margin-top: 5px;
                    margin-bottom: 15px;
                    text-align: left;

                    .social-icons{

                        a{
                            margin-left: 10px;
                            margin-right: 10px;
                        }


                        a:nth-of-type(1){
                            margin-left: 0px;
                        }
                    }

                    .button-tertiary{
                        display: block;
                        margin-top: 80px;
                        padding-top: 16px;
                        padding-bottom: 16px;
                        padding-left: 10px;
                        padding-right: 10px;
                        border-radius: 4px;

                        .label-container{
                            padding-top: 2px;
                            flex: 0 0 calc(100% - 40px);
                            max-width: calc(100% - 40px);
                        }

                        .icon-container {
                            flex: 0 0 40px;
                            max-width: 40px;
                        }

                        img{
                            display: block;
                            margin-top: 0px;
                            margin-left: auto;
                        }
                    }

                    ul{
                        position: relative;
                        list-style-type: none;
                        padding-left: 0px;
                        margin-bottom: 0px;
                        text-align: center;
                        padding-right: 0px;
                        z-index: 2;

                        li{
                            display: inline-block;
                            a{
                                display: inline-block;
                                color: #707070;
                                padding: 19px 18px 19px;
                                font-size: 16px;
                            }
                        }
                    }
                }
                h3{
                    position: relative;
                    font-weight: 500;
                    font-size: 17px;
                    margin-top: 20px;
                    margin-bottom: 7px;
                    padding-bottom: 15px;
                    color: #000;
                    text-align: left;
                }
                h3::after {
                    position: absolute;
                    top: 5px;
                    left: -20px;
                    right: auto;
                    transform: rotate(90deg);
                    content: "";
                    background-image: url('../img/svg/triangle.svg');
                    width: 6px;
                    height: 5px;
                    border: none;
                    margin-left: 0px;
                }

                .content-container{
                    position: relative;
                    margin-top: 20px;
                    padding-bottom: 15px;
                    padding-left: 20px;
                    padding-right: 20px;

                    nav{
                        min-height: 360px;
                    }

                    ul{
                        list-style-type: none;
                        padding-left: 0px;
                        margin-bottom: 0px;
                    }
                    > ul {
                        padding-left: 25px;
                        padding-right: 25px;
                    }

                    li a{
                        text-align: left;
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        color: #000;
                        text-transform: uppercase;
                    }
                    .dropdown-toggle::after{
                        position: absolute;
                        top: 18px;
                        right: 0px;
                        width: 8px;
                        height: 14px;
                        background-image: url("../img/svg/arrow-orange.svg");
                        background-repeat: no-repeat;
                        content: "";
                        margin-left: 0px;
                        border: none;
                        transition: all 0.2s;
                    }
                    .dropdown-toggle.opened::after{
                        transform: rotate(90deg);
                    }

                    /*.dropdown-toggle::after {
                        position: absolute;
                        top: 21px;
                        left: auto;
                        right: 0px;
                        transform: rotate(270deg) translateX(-50%);
                        content: "";
                        background-image: url('../img/svg/triangle.svg');
                        width: 6px;
                        height: 5px;
                        border: none;
                        margin-left: 0px;
                    }*/

                    .dropdown-menu{
                        position: static !important;
                        transform: none !important;
                        border: none;

                        a{
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                }

                footer{
                    margin-top: 70px;
                    padding-bottom: 5px;

                    .menu-simple{
                        width: 100%;

                        li{
                            margin-left: 0px;
                            margin-right: 0px;
                            margin-top: 0px;
                            
                            a{
                                font-size: 14px;
                                font-weight: 300;
                                text-align: center;
                                padding-top: 5px;
                                padding-bottom: 5px;
                            }
                        }
                        svg{
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

}

@media (max-width: 767px) {
    .menu-mobile {
        .window-container {
            .left-part {
                flex: 0 0 calc(100% - 260px);
                max-width: calc(100% - 260px);
            }

            .right-part {
                flex: 0 0 260px;
                max-width: 260px;
                padding-top: 15px;
                padding-left: 15px;
                padding-right: 15px;

                .button-tertiary{
                    margin-top: 30px;

                    .label-container{
                        flex: 0 0 calc(100% - 30px);
                        max-width: calc(100% - 30px);
                    }

                    .icon-container {
                        flex: 0 0 30px;
                        max-width: 30px;
                    }

                    img{
                        margin-left: 5px;
                    }

                }
                .content-container{
                    padding-left: 15px;
                    padding-right: 15px;

                    nav {
                        min-height: 300px;
                    }
                }
            }
        }
    }
}

@media (min-height: 600px ){
    .menu-mobile{
        .window-container {
            .right-part .content-container {
                nav {
                    min-height: auto;
                }

                > ul {
                    min-height: auto;
                }
            }
            footer{
                margin-top: 40px;
            }
        }
        .button-tertiary{
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (max-width: 649px ){
    .home .menu-mobile{
        .open-icon{
            right: 15px;
        }
    }
}

@media (max-width: 442px){
    .menu-mobile .window-container{

            header{
                margin-top: 5px;
            }

            .content-container > ul{
                padding-left: 20px;
                padding-right: 20px;
            }

            footer .menu-simple{
                width: 220px;

                .newsletter{
                    a{
                        padding-left: 15px;
                    }
                }
                li a {
                    padding-left: 18px;
                    padding-right: 18px;
                }
            }


    }
}