body.overflow-y-hidden{ 
    overflow-y: hidden;
}

@media screen and (min-width: $grid-float-breakpoint) {
    
    .menu-main{ 
        display: block;
        margin-top: 22px;
        margin-left: auto;
        width: 100%;
    
        nav{
            padding: 0px;

            &.navbar{ 
                border: none;
            }
            ul.nav{
                display: block;
                margin-left: auto;
                margin-right: auto;

                > li{
                    display: inline-block;
                    max-width: 155px;
                    text-align: center;
                    padding: 0px 20px 25px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
                > li > a{
                    cursor: default;
                    font-weight: bold;
                    font-size: 14px;
                    color: #000;
                    transition: all 0.25s ease;
                    white-space: normal;
                    text-align: left;
                    text-transform: uppercase;
                    letter-spacing: 0.42px;
                    line-height: 0.7;

                    span{
                        display: block;
                        margin-top: 0px;
                        text-align: center;
                    }
                }
                > li > a::after{
                    display: none;
                }
                > li:hover > a, > li > a.active{
                    background: transparent;
                    color: $color-sun;
                }
                > li:nth-last-of-type(1) > a{
                    padding-right: 0px;
                }
                li.active > a{
                    color: $color-sun;
                }
            }
            
            .dropdown-menu{ 
                position: absolute;
                display: block;
                margin-top: 55px;
                margin-left: -300px;
                padding: 17px 40px;
                background: #fff;
                border: none;
                border-radius: 0px;
                width: 1140px;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 50px 0 rgb(41 155 215 / 50%);
                border-top: 2px solid $color-sun;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                transition: all 0.25s ease;
                transition-delay: 0.1s;

                > li{
                    display: inline-block;
                }
                > li > a{
                    display: block;
                    white-space: normal;
                    padding: 10px 20px;
                    text-align: center;
                    color: #000;
                    border: 2px solid transparent;
                    border-radius: 500px;
                    transition: all 0.2s;
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 14px;
                    letter-spacing: 0.42px;

                    span{
                        display: block;
                        margin-top: -3px;
                        text-align: center;
                    }
                }
                > li > a.two-lines{
                    padding-top: 3px;
                    padding-bottom: 3px;
                }

                > li > a:hover, > .active > a{
                    border: 2px solid $color-sun;
                }
            }

            .item-2{
                .dropdown-menu{
                    margin-left: -460px;
                }
                .dropdown-menu::before{
                    left: 500px;
                }
            }
            .item-3, .item-4{
                .dropdown-menu{
                    margin-left: -635px;
                    width: 1090px;

                    li{
                        position: relative;
                        height: 60px;
                        max-height: 60px;
                        vertical-align: top;

                        a{
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                            max-height: 60px;
                        }
                    }
                }
                .dropdown-menu::before{
                    left: 680px;
                }
            }
            .item-4{
                .dropdown-menu {
                    margin-left: -810px;
                    width: 1070px;
                }
                .dropdown-menu::before{
                    left: 832px;
                }
            }

            .dropdown-menu::before {
                position: absolute;
                top: -16px;
                left: 330px;
                content: "";
                background-image: url('../img/svg/menu-pointer.svg');
                width: 30px;
                height: 15px;
                background-color: transparent;
            }

            li.dropdown:hover{
                .dropdown-menu{ 
                    margin-top: 40px;
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .button-tertiary{
                width: 265px;
                /*height: 58px;*/
                padding: 16px 20px 16px 30px;
                margin-left: 0px;
                transform: translateY(-8px);
                border-radius: 4px;

                .icon-container{
                    flex: 0 0 40px;
                    max-width: 40px;
                    text-align: left;

                    svg{
                        transition: all 0.5s;

                        #line-1, #line-2, #line-3, #line-4, #line-5{
                            transition: all 0.2s;
                        }
                    }
                }
                .label-container{
                    flex: 0 0 calc(100% - 40px);
                    max-width: calc(100% - 40px);
                    padding-top: 2px;
                }
            }
            .button-tertiary:hover{
                svg{
                    #line-1{
                        transform: translateX(-39px) scaleX(2);
                    }
                    #line-2{
                        transform: translateX(-8px) scaleX(1.2);
                    }
                    #line-4{
                        transform: translateX(11px) scaleX(0.7);
                    }
                    #line-5{
                        transform: translateX(27px) scaleX(0.3);
                    }
                }
            }
        }
    }
}

@media (min-width: $grid-float-breakpoint) and (max-width: 1420px){
    .menu-main{
        nav{
            ul.nav > li{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (min-width: $grid-float-breakpoint) and (max-width: 1380px) {
    .menu-main {

        nav {
            .button-tertiary {
                margin-left: 40px;
            }
        }

    }
}

@media screen and (max-width: $grid-float-breakpoint-max-width){
    
    .menu-main{
        display: none;
    }

}
