ul.menu-simple{ 
	display: inline-block; 
	padding-left: 0px; 
	list-style-type: none; 
	margin-bottom: 0px;

	li{ 
		display: block;
		margin-top: 10px;
		
		a{ 
			color: #145070;
			font-weight: 400;
			font-size: 15px;
		}
	}
	li:nth-last-of-type(1){ 
		margin-right: 0px;
	}
}


@media screen and (max-width: 400px){
	ul.menu-simple{
		li{
			display: block; 
			margin-right: 0px;
		}
	}
}