/*@media (min-width: 1200px){
    .modal-open{
        .menu-fixed-bottom{
            right: 45px;
        }
    }
}*/

.menu-fixed-bottom{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 268px;
    /*height: 106px;*/
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 101;
    padding: 1px;
    border-radius: 4px;

    .button-close{
        position: absolute;
        top: -5px;
        right: -5px;
        cursor: pointer;
    }
    button{
        display: block;
        width: 100%;
        background-color: #145070;
        border-radius: 4px;
        border: 0px;
        color: #fff;
        padding: 9px 10px 8px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.2s;
    }
    button:hover{
        background-color: $color-curious-blue;
    }
    .button-eligibility{
        margin-top: 1px;
    }
    .col-icon{
        flex: 0 0 54px;
        max-width: 54px;
    }
    .col-label{
        flex: 0 0 calc(100% - 54px);
        max-width: calc(100% - 54px);
    }
    .label {
        display: inline-block;
        margin-top: 6px;
    }
    .icon-container{
        display: block;
        position: relative;
        width: 34px;
        height: 34px;
        vertical-align: top;
        margin-left: auto;
        margin-right: auto;

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: all 0.3s;
        }
        .icon-2{
            opacity: 0;
        }
    }
    .button-radar{
        .icon-container{
            vertical-align: top;
        }
        .label{
            vertical-align: top;
        }
        .icon-2{
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }
    .button-radar:hover{
        .icon-1{
            transform: translateX(-50%) translateY(-50%) rotate(90deg);
            opacity: 0;
        }
        .icon-2{
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
    }
    .button-eligibility{
        .icon-container{
            vertical-align: top;
        }
        .label{
            vertical-align: top;
        }
        .icon-2{
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }
    .button-eligibility:hover{
        .icon-1{
            transform: translateX(-50%) translateY(-50%) rotate(25deg);
            opacity: 0;
        }
        .icon-2{
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
    }
}

@media (max-width: 991px){
    .menu-fixed-bottom{
        width: 370px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);

        button{
            padding-right: 25px;
        }
    }
}
@media (max-width: 450px){
    .menu-fixed-bottom{
        width: auto;
        right: auto;
        left: 12px;
        right: 12px;
        bottom: 12px;
        transform: translateX(0px);
    }
}