.menu-top {
    display: inline-block;
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;

    li {
        display: inline-block;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;

        a {
            color: #000;
            font-weight: 300;
            font-size: 14px;
            transition: all 0.2s;
        }
    }

    svg{
        margin-right: 8px;
    }

    > li:hover > a{
        color: $color-curious-blue;
    }
    > li.dropdown > a{
        cursor: default;
    }

    > li:nth-last-of-type(1) {
        margin-right: 0px;
    }

    .item-login svg{
        .user-body{
            transition: all 0.5s;
            transform: rotate(0deg);
            transform-origin: 9px 22.8px;
        }
    }
    .item-login:hover{
        .user-body{
            /*transform: rotate(15deg) translate(0, -49.518);*/
            /*transform-origin: left;*/
            transform: scale(0.6) translateY(-17px) rotate(180deg);
            transform-origin: 8.7px 22.8px;
        }
    }


    .dropdown-menu {
        position: absolute;
        display: block;
        margin-top: 30px;
        margin-left: -30px;
        padding: 17px 20px;
        background: #fff;
        border: none;
        border-radius: 0px;
        width: 190px;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 0 50px 0 rgba(250, 166, 24, 0.5);
        border-top: 2px solid $color-curious-blue;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all 0.25s ease;
        transition-delay: 0.1s;

        > li {
            display: block;
            margin-top: 3px;
            margin-bottom: 3px;
            margin-left: 0px;
            margin-right: 0px;
        }

        > li > a {
            display: block;
            white-space: normal;
            padding: 3px 7px;
            text-align: center;
            color: #000;
            border-radius: 4px;
            transition: all 0.2s;
            font-size: 14px;
            text-align: left;
            font-weight: 300;
        }

        > li > a:hover, > .active > a {
            background-color: #eee;
        }
    }
    .dropdown-menu::before {
        position: absolute;
        top: -16px;
        left: 50px;
        content: "";
        background-image: url('../img/svg/menu-pointer-blue.svg');
        width: 30px;
        height: 15px;
        background-color: transparent;
    }

    li.dropdown:hover {
        .dropdown-menu {
            margin-top: 20px;
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 8px;
        vertical-align: 3px;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

}