
.page-submenu{
    display: block;
    text-align: center;
    margin-top: -45px;
    margin-bottom: 50px;

    ul{
        display: inline-block;
        padding-left: 0px;
        list-style-type: none;
        margin-bottom: 0px;

        li{
            position: relative;
            display: inline-block;
            height: 50px;
            vertical-align: top;
            border: 2px solid transparent;
            transition: border 0.2s;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 500px;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;

            a{
                display: inline-block;
                position: relative;
                vertical-align: top;
                font-size: 14px;
                font-weight: 600;
                top: 50%;
                transform: translateY(-50%);
                text-transform: uppercase;
            }
        }
        li.active, li:hover{
            border: 2px solid $color-sun;
        }
    }
}

@media (max-width: $grid-float-breakpoint-max-width){
    .page-submenu{
        margin-top: -20px;
    }
}

@media (max-width: 1199px){
    .page-submenu {
        position: relative;
        overflow-x: hidden;
        padding-bottom: 0px;

        ul {
            overflow-x: auto;
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 15px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;
            /*align-items: center;
            justify-content: center;*/

            li{
                flex: 0 0 auto;
                max-width: auto;
                /*border: none;*/
            }
        }
        ul::-webkit-scrollbar {
            display: none;
        }
    }

    .page-submenu::before {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 40px;
        content: "";
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
        z-index: 10;
    }

    .page-submenu::after {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 40px;
        content: "";
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }
}

@media (max-width: 991px){
    .page-submenu {
        margin-top: -30px;
    }
}

@media (max-width: 990px){
    /*.page-grant-search{
        .page-submenu {

            ul {
                align-items: stretch;
                justify-content: flex-start;

                li:nth-of-type(1) {
                    margin-left: 15px;
                }
            }
        }
    }

    .page-services{
        .page-submenu {

            ul {
                align-items: stretch;
                justify-content: flex-start;
            }
        }
    }*/
}

@media (max-width: 767px){
    nav.page-submenu{
        ul{
            border: none;
        }
        li{
            border: none;
            padding-left: 10px;
            padding-right: 10px;
        }
        li.active, li:hover{
            border: none;
        }
        li.active{
            a{
                color: $color-sun;
            }
        }
    }
}